[2020-06-30 12:52] paususe commented on #2359
@scomcd IIUC that Oracle Spacewalk documentation link is telling you how to create the channels with those names and the repositories specified in https://docs.oracle.com/en/operating-systems/spacewalk/2.7/admin/crreposwc.html#crrepo

E. g. they tell you how to create a channel called "ol6_x86_64_latest" which corresponds to the URL "https://yum.oracle.com/repo/OracleLinux/OL6/6/base/x86_64/"

In

[2020-06-30 22:41] scomcd commented on #2359
Yes, we have already configured the Oracle Linux Public YUM channels  using 'spacewalk-common-channels' and use these for these for Non-Production Oracle systems.

But, as per the Oracle Documentation:  "ULN provides base and patch channels for each update of an Oracle Linux release. The Oracle Linux yum server does not provide separate patch channels. Instead, it provides a olN_latest repository

[2020-07-01 07:55] scomcd commented on #2359
In addition to my previous comments, one of our Admins reminded me that we also need the ULN channels for ksplice and UEK pkgs as these are not available from the channels provided by spacewalk-comon-channels or public yum repositories.

[2020-07-01 10:37] mcalmer commented on #2359
@scomcd JFYI - we do not have credentials for ULN and cannot test it. So we develop in the dark and rely on you for testing and reporting. And you may know that we are short before a relase, so everybody is very busy here. So it may take some time until we can have a deeper look.

Any stack trace can help. So when you see one on the console or in the logs /var/log/rhn/reposync/<label>.log please p

[2020-07-01 10:58] paususe opened #2375 "Document how to add a .deb repository"
It's not entirely obvious how to add a third-party .deb repository to Uyuni. Some documentation (probably only a few lines are needed) would help users.

@EthanB11 had trouble himself:

_@EthanB11 19:01_
_@paususe what is the proper URL for adding an Ubuntu repo? I am trying to add a Zabbix repo, but the deb repos aren't set up as nicely as the RPM repos._

_2020/06/30 11:59:49 -05:00 Command: ['/

[2020-07-01 12:30] EthanB11 opened #2378 "Use case for web bootstrap to support Spacewalk agent to Uyuni salt bootstrap ability"
# Additional Information

When I migrated from Spacewalk to Uyuni a few months ago I had to use all bootstrap scripts modified to remove the spacewalk client tools before I could register. The web would not work properly due to package conflicts. Also had issue with uuid from cloned vms.

## Version of Uyuni Server and Proxy (if used)
Currently on 2020.01.

## Details about issue

I added the foll

[2020-07-01 14:27] ewenf-uindy commented on #2378
Wouldn't changing the UUID break network cards if it is hard coded into them?

[2020-07-01 14:39] EthanB11 commented on #2378
No, it's a machine UUID that is generated on install of the OS.

[2020-07-01 14:45] EthanB11 opened #2381 "Upgrade doesn't not work through zypper easily"
# Additional Information

Upgrading from 2020.03 to 2020.06 is not automatic and zypper update only works if the packages are specified. Also tried a zypper migration.

Documentation also needs to be updated to reflect proper upgrade with this new versioning. It's confusing and it's not known which set of instructions to try.

## Details about issue
[code]

[2020-07-01 15:46] meaksh commented on #2381
Hi @EthanB11,
this is a known issue that is mentioned at the release notes for Uyuni 2020.06: https://www.uyuni-project.org/doc/2020.06/release-notes-uyuni-server.html#_python3_psycopg2_and_backend_packages_not_being_updated

You need to force the vendor change for `python3-psycopg2` and then proceed with the update.

[2020-07-02 00:50] scomcd commented on #2359
@mcalmer FYI, Thanks for the clarification.

 I have added all information I have been able to discern so far to this comment.
 Bear in mind I am not a python developer.

#---------------------------------------------------------------------------------------------#
Configured our Businesses Oracle ULN credentials in the uln.conf file:
#-------------------------------------------------------------

[2020-07-02 09:06] pdv-systeme-sachsen opened #2386 "Errata import CentOS7"
Hi,

as stated in https://www.uyuni-project.org/uyuni-docs/uyuni/client-configuration/clients-centos.html, there will be it possible to get errata for CentOS7.
But it seems, that an API call is not valid.

Regards, Thomas

# Additional Information

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release`

Informationen zu Paket Uyuni-Server-release:
-----------------------

[2020-07-02 13:07] EthanB11 commented on #2381
Comments from Gitter.
[code]

I don't know why, but I didn't think about checking release notes. I always did for spacewalk.

[2020-07-02 13:35] ewenf-uindy opened #2387 "Client no registering properly, suseconfig not getting copied to client in cli bootstrap"
I have a base suse server and a base centos client.  When I try to run the bootstrap.sh, I get
* registering
./bootstrap.sh: line 810: /etc/salt/minion.d/susemanager.conf: No such file or directory
./bootstrap.sh: line 811: /etc/salt/minion.d/susemanager.conf: No such file or directory
./bootstrap.sh: line 812: /etc/salt/minion.d/susemanager.conf: No such file or directory
./bootstrap.sh: line 813

[2020-07-02 13:46] EthanB11 commented on #2096
I moved to 2020.06 and all the bootstrap repos are there, but still having the issue where it pulls the python3-tornado version 6, but I worked around that with the bootstrap script. I just have it manually install the correct python3-tornado first. I added Ubuntu 20.04 repos and sync'd them, no bootstrap repo was automatically created. I don't see an option to create a repo for it though.

[code]

[2020-07-02 17:36] pdv-systeme-sachsen commented on #2386
@moio:
What exactly should I do?
In Uyuni documentation I cannot find any hints regarding licensing...

Thomas

[2020-07-02 18:51] moio commented on #2386
@pdv-systeme-sachsen at the moment, no action is required from you. I am going to prepare a pull request with a patch to cefs and I will ask you to review it. I hope to be able to do that soon, in the next few days. Thanks!

[2020-07-02 19:47] pdv-systeme-sachsen commented on #2386
ok, thanks

[2020-07-07 05:55] an0nz opened #2393 "CentOS 8 unable to patch minions from Uyuni"
Information for package Uyuni-Server-release:
---------------------------------------------
Repository     : uyuni-server-stable
Name           : Uyuni-Server-release
Version        : 2020.06-78.2.uyuni
Arch           : x86_64
Vendor         : obs://build.opensuse.org/systemsmanagement:Uyuni
Support Level  : Level 3
Installed Size : 1.4 KiB
Installed      : Yes
Status         : up-to-date
Source p

[2020-07-08 15:39] cbbayburt commented on #2346
Hi @ZsBT, DNF is filtering out those packages because they are flagged as modular but Uyuni is trying to install them as ursine packages.

Please try out the Content Lifecycle feature using module filters. It creates non-modular versions of modular repos while containing any selected module packages. This is the only way to work with AppStream modules in Uyuni.

See the docs for instructions.

[2020-07-09 11:39] juliogonzalez commented on #2129
I just merged aarch64 for Leap 15.1/15.2 @ggardet.

Can you give it a try?

You just need to deploy master (https://www.uyuni-project.org/pages/devel-version.html not for production!), create the channels with spacewalk-common-channel, the bootstrap repo, and then onboard an aarch64 client.

[2020-07-09 12:41] paususe opened #2401 "Upload Uyuni Server and Proxy images to public clouds"
We have been building Uyuni Server and Uyuni Proxy images for months:
https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/

Let's upload those to AWS, Azure and Google Cloud.

[2020-07-09 13:37] ggardet commented on #2129
The server is still x86 only, and thus cannot be deployed on aarch64, right?

[2020-07-09 13:38] juliogonzalez commented on #2129
That's right. This card is only about client.

Not saying we won't allow the server, but that's a different task.

[2020-07-09 13:47] ggardet commented on #2129
Sure, it was just to double check how to perform the tests. Thanks.

[2020-07-09 13:54] srbarrios commented on #391
It might have some relation with https://bugzilla.suse.com/show_bug.cgi?id=1173584 (Installed products: unknown on CentOS6 client)

[2020-07-09 16:36] duncaninnes opened #2405 "Joining group with large number of members kills server"
Indexing seems missing when trying to add/remove systems from very large groups.

I'm speaking from the Red Hat Satellite branch of Spacewalk, so hats off if you've already fixed this.  But we found a problem where joining a system to a group during activation key at registration time took longer depending on how many systems were already in that group.  Customer has > 15k systems in the group in

[2020-07-09 19:25] duncaninnes commented on #2405
Further description:

Activation key AK_TestA joins a system to GroupA during registration (and no other groups).
Activation key AK_TestB joins a system to GroupB during registration (and no other groups).
Activation key AK_NoGroup doesn't join a system to any group during registration.

The Activations keys have no other differences (channels, config, etc) - just a difference in the group join.

[2020-07-10 09:21] rpasche opened #2408 "Client not fully deleted. Trying to register minion with same name now fails"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

[code]

## Details about issue
_Include as many details as you can. The pr

[2020-07-10 09:44] rpasche commented on #2408
Ah....wait a second. Is the `digital_server_id` the `machine-id`? That could be it. Let me check..

[2020-07-10 09:59] rpasche commented on #2408
Sorry for the noise. I saw that the new `machine-id` had not been generated. That was the issue.

[2020-07-10 09:59] #2408 closed

[2020-07-14 15:01] #2387 closed

[2020-07-14 15:01] ewenf-uindy commented on #2387
This is two separate issue, one of which I solved.  Opening a new issue.

[2020-07-14 22:11] juliogonzalez commented on #2393
@cbbayburt can you have a look a this tomorrow? Is this something that is going to be fixed when we release 2020.07?

[2020-07-14 22:13] juliogonzalez commented on #2381
@EthanB11 can we close this report?

For the migration to 2020.07 `python3-psycopg2` will be automatically switched back to Leap (15.2 in this case), so there's no manual action required to fix this ussue.

[2020-07-14 22:14] juliogonzalez commented on #2378
For now I can tell that we are going to document the problem and the fix on the Release notes (for Uyuni 2020.07), until we see if we can generate a fix.

[2020-07-14 22:16] juliogonzalez commented on #2263
Quick update: The Ubuntu 20.04 will be part of Uyuni 2020.07, that should go out in a few days. Stay tuned :-)

[2020-07-14 22:18] juliogonzalez commented on #2241
What's the network bandwidth between the server and the proxy?

[2020-07-14 22:20] juliogonzalez commented on #2096
Some good news: the problem with python3-tornado will go away with 2020.07, as salt 3000 will have it vendored :-)

[2020-07-14 22:20] juliogonzalez commented on #2096
As for Ubuntu 20.04, it will be available with 2020.07 as well.

[2020-07-14 22:21] juliogonzalez commented on #2327
@Loquacity I think this one is for you. Can you handle it?

[2020-07-14 22:23] juliogonzalez commented on #2312
@meaksh any idea? Is this maybe something fixed with salt 3000?

[2020-07-15 08:37] meaksh commented on #2312
@NunoHiggs - this seems just a permission problem (maybe from previous salt-ssh executions with different user).

Have you tried to remove `/var/tmp/.root_2c2911_salt/` directory from the SSH minion and try to bootstrap again?

[2020-07-15 11:39] moio commented on #2405
@duncaninnes, thanks for the precious advice!

We did some work in that area but I am not sure we nailed down this particular aspect completely. In particular, I remember of a recent bug report along the same lines, so it is possible the problem is still around.

I will be back to you if we have news!

[2020-07-15 12:53] EthanB11 commented on #2381
Yes, that's fine. Thanks!

On Tue, Jul 14, 2020, 5:13 PM Julio González Gil <notifications@github.com>
wrote:

[2020-07-15 14:37] cbbayburt commented on #2393
@an0nz yes, the `cloned_nonmodular` pillar should be available in any case, so I believe this is a symptom of some other problem and I'm pretty sure if that pillar is missing, some others would be too.

What is your output from `salt-call pillar.get channels`?

[2020-07-15 14:44] ewenf-uindy opened #2420 "Bootstrap not installing correctly on OL6 and Centos6"
When I try to install the bootstrap client on Centos6 and OL6 boxes, the bootstrap fails and no client files are installed.  The Centos machine is at version 6.5 and the OL6 box is at 6.4.  It is using the Uyuni self signed cert.

**Version of Server**
Information for package Uyuni-Server-release:
---------------------------------------------
Repository     : uyuni-server-stable
Name           : U

[2020-07-15 19:38] ewenf-uindy opened #2421 "OL7 not pulling updates"
When I install an Oracle Linux 7, the system shows no packages are needed/required for update.  I check the box with yum update and there are 200+ updates needed.  The only error message, that I know where to look for, is under the notifications tab saying '

Error | State apply failed | Error running state.apply on: uyuni-oracle7.test.uindy.edu
-- | -- | --

The server also shows no IP addresses.

[2020-07-16 11:53] juliogonzalez commented on #2420
I am unable to reproduce this on CentOS 6.10 (which is the only CentOS6 version supported, even by CentOS itself), installed from `CentOS-6.10-x86_64-minimal.iso`

First time I run the bootstrap script (generated to bootstrap using salt), I get:

![image](https://user-images.githubusercontent.com/4226070/87665811-cd692380-c767-11ea-9033-26e14f906ed2.png)

Which is normal and expected.

If I run `/

[2020-07-16 12:49] paususe commented on #2420
I will invoke @mcalmer here :-)

[2020-07-16 15:18] ewenf-uindy commented on #2378
To update things, after some of my experimentation and chaos the removal list needs to be

rpm -e  rhncfg-management python2-rhncfg-management rhn-client-tools rhn-setup python2-rhn-client-tools rhn-check yum-rhn-plugin python2-rhn-setup  python2-rhn-check rhnsd py
thon2-rhncfg python2-osad rhncfg osad rhncfg-client rhncfg-actions python2-spacewalk-usix spacewalk-usix rhncfg-actions rhncfg-client

[2020-07-16 17:08] ewenf-uindy commented on #2420
I do not get that.  I updated the box to 6.10, then installed the
epel-release and got
* downloading necessary files
  client_config_update.py...
WARNING: cannot verify uyuni.test.uindy.edu’s certificate, issued by
“/C=US/ST=IN/L=Indy/O=Uindy/OU=Uindy/CN=uyuni.test.uindy.edu”:
  Unable to locally verify the issuer’s authority.
2020-07-16 08:59:16 URL:
https://uyuni.test.uindy.edu/pub/bootstrap/cli

[2020-07-16 18:35] ewenf-uindy commented on #2420
Running the bootstrap for OL6 gets this.  It appears that salt needs to be
installed separately?  On the Centos6 front doing the
/usr/bin/update-ca-trust force-enable allowed for the install to complete
successfully.

UPDATING RHN_REGISTER/UP2DATE CONFIGURATION FILES
-------------------------------------------------
* downloading necessary files
  client_config_update.py...
WARNING: cannot verify

[2020-07-16 18:44] ewenf-uindy commented on #2420
Centos6 only works on a fully updated box.  If not updated it reports that
it needs salt as well.

---------------

Len Ewen

Systems Administrator 1

Information Technology

University of Indianapolis

(317) 788-3362

[image: UIndyIT.jpg]

Confidentiality Notice: This communication and/or its content are for the
sole use of the intended recipient, and may be privileged, confidential, or
otherwise

[2020-07-20 19:31] phibid commented on #2241
Network bandwidth not seems to be an issue. I have tested right now to transfer a file from the Uyuni proxy to the VM at 10MB/s.
I have 6 proxies on 6 different locations, and I can reproduce the issue everywhere.

[2020-07-20 19:44] phibid commented on #2241
Mmmmmmh, something seems indeed to not work as expected with the cache. Here are the outputs of the Squid access.log when 'apt update' is executed:

[code]

[2020-07-21 08:50] phibid commented on #2258
Does somebody had a chance to check this ? I was wondering if perhaps an issue should be created on Github Salt

[2020-07-21 09:11] mcalmer commented on #2241
No, this looks normal.

`InRelease` and `Release.gpg` are not generated. So getting a 404 is normal.
For the `Release` file getting often a TCP_MISS is also normal. We try to not cache metadata for a long time as you want new packages available for the clients as soon as possible.

More interesting would be the entries for .deb packages. They should be cached.

[2020-07-22 04:05] an0nz commented on #2393
I have dug a bit deeper and my installation has only partially updated to 2020.06 with some packages stuck on 2020.01

Removing the Uyuni repo from Zypper and re-adding it as per the current versions install guide then using zypper dist-upgrade to change the supplier has resolved my problem
Our server has been updated from 4.0.2 through each subsequent release and some packages were stuck on 2020.

[2020-07-22 04:05] #2393 closed

[2020-07-23 10:33] sejo23 opened #2436 "software package search indexer not working after 'rhn-search cleanindex'"
In GUI Sofftware -> Package Search are "No packages" for any searches.
"rhn-search cleanindex" dosn't help.
"spacecmd package_search" works fine.

# Additional Information

## Version of Uyuni Server and Proxy (if used)
2020.06-78.2.uyuni

## Details about issue
In GUI Sofftware -> Package Search are "No packages" for any searches.
In /var/log/rhn/search/rhn_search.log are errors:
ERROR - no segme

[2020-07-23 14:06] StefanSa opened #2437 "register client failed, An Exception occurred while executing state.apply: [Errno 13] Permission denied:"
# Additional Information
Made a fresh 2020.6 on a Leap15.1. Repos created, synced and activation generated. Now i'm trying the uyuni server
registering via WebUi, this fails with the following error message:

`An Exception occurred while executing state.apply: [Errno 13] Permission denied: '/var/tmp/.root_9ed83a_salt/running_data'`

i saw some problems similar to this one, but they didn't really h

[2020-07-23 20:28] StefanSa commented on #2437
This is a serious bug, just tested on a CentOS Client.
So uyuni cannot be used productively. Hopefully there will be a bugfix soon.
`
An Exception occurred while executing state.apply: [Errno 13] Permission denied: '/var/tmp/.root_9ed83a_salt/running_data'
`

[2020-07-23 21:05] mcalmer commented on #2437
Please remove /var/tmp/.root_9ed83a_salt/ . After this it should work again.
The problem is, that some dirs are owned by root. Our salt-master runs as user salt and this cause the permission denied.

Did you use salt-ssh command line tool on the server? Or salt-call or salt-minion?

[2020-07-23 21:12] StefanSa commented on #2437
@mcalmer
delete will not help here, teset on uyuni server.
take this with web ui Bootstrap Minions

[2020-07-24 13:08] rpasche opened #2442 "Tool like mgr-update-pkg-extra-tags to update *all* headers"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

Repository     : uyuni-server-stable
Name           : Uyuni-Server-release

[2020-07-24 16:28] StefanSa opened #2446 "life cycle module filter, tomcat crash / exception"
# Additional Information
have successfully created and synced centos 8 repos.
Now wanted to create a module filter in Live Cycle, because the centos 8 clients show in the Web UI updates for modules.
When i try to create a module filter, Tomcat crashes immediately when i want to search for a module.
(the 8th repos are available for selection)

## Version of Uyuni Server and Proxy (if used)
`zypper

[2020-07-25 11:49] StefanSa commented on #2437
@mcalmer
with version v2020.7, the problem seems to be fixed.
I was able to be successful via "Bootstrap Minions" register a cento7 and centos 8 client.

Thanks for this version.

[2020-07-25 12:04] StefanSa commented on #2446
with version v2020.7, the problem seems to be fixed.

[2020-07-25 12:21] mcalmer commented on #2437
Good. In this case I'll close the issue

[2020-07-25 12:21] #2437 closed

[2020-07-25 12:22] mcalmer commented on #2446
Yes we did some fixes in this area. So I'll close this issue. Thanks for letting us know.

[2020-07-25 12:22] #2446 closed

[2020-07-27 11:29] mrstigmata opened #2448 "smt-mirror: Checksum mismatch"
Hello,

my local smt can not mirror the official uyuni repos:

 * uyuni-server-stable (https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/):
    - E '/srv/www/htdocs/repo/RPMMD/uyuni-server-stable/noarch/bind-formula-0.1.1573049925.b509ada-1.1.uyuni.noarch.rpm': Checksum mismatch'
    - E '/srv/www/htdocs/repo/RPMMD/uyuni-server-

[2020-07-27 11:49] mcalmer commented on #2420
Hmm, salt should be available in the bootstrap repo. Did you add `oraclelinux6-uyuni-client` with spacewalk-common-channels?

[2020-07-27 12:45] cbosdo opened #2450 "Mark system as requiring a reboot from a formula"
## Details about issue

Currently, a system is listed as requiring a reboot based on the applied patches. We also need to handle other cases like: SP migration, formulas updating the kernel, changing the default kernel in grub config or setting new kernel parameters.

[2020-07-27 14:28] ewenf-uindy commented on #2420
Yes.  I added both the centos6 and the ol6 channels.  I did not add the
devel but added the primary.

---------------

Len Ewen

Systems Administrator 1

Information Technology

University of Indianapolis

(317) 788-3362

[image: UIndyIT.jpg]

Confidentiality Notice: This communication and/or its content are for the
sole use of the intended recipient, and may be privileged, confidential, or
otherw

[2020-07-28 15:27] astauntonie commented on #804
@Conan-Kudo - I just stumbled across this issue now I wondered if I may be of help. I have no idea how the packages are currently built but have created rpm's using gradle and maven in the past and I am also looking to implement Uyuni on a CentOS 7 server.

[2020-07-28 15:31] Conan-Kudo commented on #804
I'm hoping to spend some time next week on making some basic patches to Uyuni to fix this, we'll see how that goes. 😉

Mostly what would be helpful would be members joining the Fedora Java SIG and helping to add and support Java software packages there. https://fedoraproject.org/wiki/SIGs/Java

[2020-08-03 18:58] phibid opened #2471 "Wrong permission on file /etc/sysconfig/rhn/systemid after re-registration of proxy using rhnreg_ks utility"
[code]

After the upgrade of the Uyuni proxies from 2020.06 to 2020.07, the final step as described here https://www.uyuni-project.org/uyuni-docs/uyuni/upgrade/proxy-uyuni.html is to re-register the Uyuni proxies:

`Re-register with the reactivation key using the rhnreg_ks command-line utility. The system will be re-registered with the same id, history, and groups.`

However, this re-registration

[2020-08-03 23:25] scomcd commented on #2448
Hi Peter,
I'm not seeing the checksum error, but when trying to upgrade our Uyuni 2020.06 to 2020.07, I am receiving a few
Digest verification errors before the upgrade process aborts.

Warning: Digest verification failed for file 'bind-formula-0.1.1573049925.b509ada-1.1.uyuni.noarch.rpm'
[/var/tmp/AP_0xv3j5up/noarch/bind-formula-0.1.1573049925.b509ada-1.1.uyuni.noarch.rpm]

Warning: Digest verifi

[2020-08-03 23:41] paususe commented on #2471
@chiaradiamarcelo could you please take a look?

[2020-08-04 11:48] sejo23 commented on #2448
Same problem when trying to  upgrade.:

Warning: Digest verification failed for file 'caasp-management-settings-formula-4.1.1-1.1.uyuni.noarch.rpm'
[/var/tmp/AP_0xqIW2qr/noarch/caasp-management-settings-formula-4.1.1-1.1.uyuni.noarch.rpm]

  expected b9339bfe2665337a48672dd26a5ea268c1bb6a60294eeb5c75b23dc6bc3eb226
  but got  5404312f8bc2433ac94ac9243b028014519bbb584c587595e90a48ef84f02eda

[2020-08-04 11:59] sejo23 commented on #2448
For reason and work around see https://www.talkend.net/post/27638.html

[2020-08-04 15:08] StefanSa opened #2472 "Master send wrong repo url, after after creating a new FQDN for the proxy"
# Additional Information
The first proxy was installed, which went without problems, however, the proxy did not have an FQDN.
This sent the wrong URL (only hostname) from the master to the client.
After the FQDN has been registered in the proxy and a "hardware refresh" has been carried out on the master in the GUI on the proxy opject, the FQDN is now displayed at least in the master for the proxy

[2020-08-04 15:24] StefanSa commented on #2472
after registering the affected client, the problem was resolved.

[2020-08-04 15:24] #2472 closed

[2020-08-05 13:14] StefanSa opened #2473 "[uyuni Proxy] package_mapping in /var/spool/rhn-proxy/list not created"
# Additional Information

have already created an rsync from master to proxy as with spacewalk, following these instructions.

https://github.com/spacewalkproject/spacewalk/wiki/proxy-precache

https://access.redhat.com/documentation/en-us/red_hat_satellite/5.8/html/proxy_installation_guide/sect-configuring_proxy_precaching

however, no `package_mapping` is created in `/var/spool/rhn-proxy/list`.

[2020-08-05 14:19] juliogonzalez commented on #2473
Since this is not documented at https://www.uyuni-project.org/uyuni-docs/uyuni my guess is that it was never "supported", and at some point some change on Uyuni broke this.

Still, I understand why this solution is needed. As @StefanSa explained, without this zypper exists with a timeout when downloading large packages, as they take a lot of time to sync from the server to the squid on the proxy.

[2020-08-08 10:35] paususe opened #2477 "Uyuni Server 2020.07 cloud image is broken"
The KVM and Xen cloud image boots but YaST > Uyuni Setup fails in the spacewalk-setup step because of Tomcat.

This is `/var/log/tomcat/catalina.2020-08-08.log` from the installation failure:

[code]

and surely enough it fails when accessing later on:

[code]

When using an openSUSE Leap 15.2 JeOS image and installing Uyuni Server 2020.07 on top, it works, so I'd say it's something in the Kiwi de

[2020-08-10 23:40] #2327 closed

[2020-08-12 09:47] sejo23 opened #2484 "No file contents in "spacewalk-report config-files""
## Problem
In reports generated by "spacewalk-report config-files" and "spacewalk-report config-files" the field "contents" contains data like "<memory at 0x7ff49679c1c8>" instead of the file contents.

"spacecmd configchannel_export" or "configchannel_backup" write out the proper file contents.

## Version
This problem was found in version 2020/06 but is also in 2020.07-86.3.uyuni.

## Examples
~

[2020-08-12 10:00] meaksh commented on #2484
Hey @sejo23, Thanks for reporting this issue! - this definitely sounds like a bug caused by migration to Python 3.

[2020-08-12 16:01] EthanB11 commented on #2112
I can confirm that in 2020.07 this issue is fixed. I had to re-register a client and it comes through as KVM/QEMU.

[2020-08-12 16:33] samcoddington opened #2488 "Proxy client reaching out to internet for packages"
# Additional Information
SLES 15.1 Client bootstrapped to proxy from the web UI is reaching out to suse.com for packages when running zypper from the command line.  Package installs from the Uyuni web UI work correctly.

## Version of Uyuni Server and Proxy (if used)
Server Version - 2020.01
Proxy Version - 4.1.1-1.1

## Details about issue
I have a Uyuni proxy located in an isolated network, fire

[2020-08-12 19:54] juliogonzalez commented on #2488
First problem is that there you are on a really old version of the Server, so I would not be surprised if the bug is even fixed since then.

We'll will need to get the server updated and the proxy before having a look here.

But yes, I know there are still issues at least on US with the update. Since I didn't have reply on my ticket for the mirrors, I will try to reach someone tomorrow via chat, a

[2020-08-13 04:46] acody4444 commented on #1937
some basic client support shouldn't be that difficult. I was able to bind a win client to the uyuni/suse manager and do some basic tasks [updates/etc] with it. wasn't able to get it to list in Uyuni web UI though for since it's missing the various minion data the uyuni server needs to do that and also the bootstrapping process.  https://github.com/uyuni-project/uyuni/issues/1228

[2020-08-14 18:20] samcoddington commented on #2488
I'm working on updating the uyuni server now, but I keep running into issues.  Is there something different I need to do on SUSE Enterprise Server?  I followed the documents here and it's still showing 2020.01

https://www.uyuni-project.org/uyuni-docs/uyuni/upgrade/server-intro-uyuni.html

[2020-08-14 21:39] astauntonie commented on #804
anything in particular, for Uyuni, that need packaging? (better to start with something that is needed than focus on adding java libraries that are not relevant :))

[2020-08-17 00:18] juliogonzalez commented on #2488
If you are in any country in the american continent, it seems the Provo mirrors that serve such countries where [having problems](https://progress.opensuse.org/issues/69334#note-17) that, hopefully, are fixed now.

So if your problems were related to package verification, give it a try again and let us now if problems are gone.

As for the instructions: you must follow are those for a [major upgra

[2020-08-17 11:00] juliogonzalez commented on #2130
Started working on this, will take me some time as we need to build everything, adapt product definitions etc.

Will ping as soon as there's something ready to be tested.

[2020-08-17 11:20] mcalmer commented on #2471
I fear the procedure described in the docs is wrong.

A re-registration will change the permissions of the systemid and we have 2 places which "fix" it.
1. call configure-proxy.sh again
2. installation of spacewalk-proxy-broker (%post makes this chown)

And I wonder how this procedure should work when the proxy is a salt-minion.
Is the re-registration really needed?

[2020-08-17 17:37] samcoddington commented on #2488
Yes, our base OS with the Uyuni server install is SLES 15.1.  The upgrade script /usr/lib/susemanager/bin/server-migrator.sh looks be be fore openSUSE only.  I did run a zypper upgrade and the /usr/lib/susemanager/bin/pg-migrate-10-to-12.sh script, but now I'm getting a 404 error on the web gui which I'm trying to debug.

[2020-08-18 15:17] juliogonzalez commented on #2130
@ggardet I was able to generate Server and Proxy pool repositories, just the same we do for x86_64.

https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Master/images/repo/Uyuni-Server-POOL-aarch64-Media1/
https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Master/images/repo/Uyuni-Proxy-POOL-aarch64-Media1/

Can you maybe give them a try?

Two important notes:
1.

[2020-08-18 15:18] juliogonzalez commented on #2130
Note for myself: despite the product images for aarch64, they are doing it at the x86_64 OBS repository, which should work but it's not really correct, I already pinged OBS people about it, as I think there's some magic they need to do to fix this.

[2020-08-20 09:41] lbenaglia commented on #2421
I've the same issue with a CentOS 8 minion. If I try to run "salt '*' state.apply" from master I get the following error:

trliveuyuni:~ # salt '*' state.apply
centos8tmpl.online.gruppo24.net:
----------
          ID: mgrchannels_susemanagerplugin_dnf
    Function: file.managed
        Name: /usr/lib/python3.6/site-packages/dnf-plugins/susemanagerplugin.py
      Result: True
     Comment: File /us

[2020-08-24 08:33] Shirocco88 commented on #2068
@rpasche
Could you please add label "ubuntu", "Debian"

Thanks in Advance.

[2020-08-24 08:36] Shirocco88 commented on #1250
@vampywiz17
Could you please add label "ubuntu", "Debian"

Thanks in Advance.

[2020-08-24 08:49] Shirocco88 commented on #1938
@paususe
Could you please add label "ubuntu", "Debian" and "CentOS"

Thanks in Advance.

[2020-08-24 08:53] Shirocco88 commented on #1962
@paususe
Could you please add label "ubuntu", "Debian"

Thanks in Advance.

[2020-08-24 08:57] cbosdo commented on #2112
Closing since it is reported as fixed

[2020-08-24 08:57] #2112 closed

[2020-08-24 08:59] paususe commented on #1938
done

[2020-08-24 10:48] meaksh opened #2514 "reposync: error is not clear when a repository mirror is not reachable"
# Additional Information

We got a report at Uyuni gitter from an user that was having issue when running `spacewalk-repo-sync`:

[code]

As you can see, having:

[code]

this is not quite descriptive, it's required to enable `URLGRABBER_DEBUG=1` to actually see the underlying error:

[code]

The actual issue is that the resolved mirror from `download.opensuse.org` is not reachable from the user's

[2020-08-24 10:53] juliogonzalez commented on #2514
Or to be more precises: the URL on the 302 redirection is not reachable. Maybe we could raise more info from URLGRABBER, or at least tell the user "Hey, this URL from the 302 redirection is not reachable, try to grab it with curl to see what the problem is"

[2020-08-24 14:00] EthanB11 opened #2516 "Bootstrap repos for SLES 15 SP1 and SP2 do not create correctly in 2020.07"
# Additional Information

After upgrading to 2020.07 I have noticed the create bootstrap repos were throwing errors in the GUI. I had modified my mgr_bootstrap_data.py file to add support for Fedora, but that didn't cause it. I copied and edited the copy and changed /etc/rhn/rhn.conf for my purposes.

I compared the original on my system to my edited copy and then also grabbed the latest copy from

[2020-08-24 14:06] EthanB11 opened #2517 "No upgrade path to openSUSE-Leap-15.2-Pool for x86_64"
# Additional Information

Upgraded to 2020.07 and added Leap 15.2 via command line. Tried to upgrde systems on Leap 15.1, but you can neither change base channels nor do a SP migration.

## Version of Uyuni Server and Proxy (if used)
[code]

## Details about issue
![uyuni_leap_upgrade_issue_software](https://user-images.githubusercontent.com/34941092/91053817-05764880-e5e9-11ea-947c-00b9510ddd28.p

[2020-08-24 14:22] mcalmer commented on #2517
The info about valid migration targets come from SCC. I asked for the reason why it is not setup like this. Could be business related. Will check.

[2020-08-24 20:29] juliogonzalez commented on #2517
@EthanB11 now I understand, so you are using openSUSE provided by SCC, and not the repositories provided by Uyuni that get added via `spacewalk-common-channel`.

That's why I didn't understand on Gitter.

[2020-08-25 13:30] EthanB11 commented on #2517
@juliogonzalez  So even though Leap is free we should still not use the built-in channels from SUSE Manager? We should only use the SCC connection for SLES? Can this be explained further?

[2020-08-25 15:13] juliogonzalez commented on #2517
@EthanB11 AFAIK using the build-in channels (not from SUSE Manager, but provided by SCC or SUSE Customer Center) should work as well if you have access to them, no problem about that.

It's only that since you didn't mention it, I assumed that you were using openSUSE Leap via `spacewalk-common-channels`, and therefore I didn't understand why you mentioned that you couldn't change the channels :-)

[2020-08-25 15:37] EthanB11 commented on #2517
Interesting as I can't select the non-OSS channels from SCC. I am syncing the `spacewalk-common-channel` right now which should allow me to work around the SCC channel issues.

[2020-08-25 17:07] Shirocco88 commented on #2263
Thanks to the Uyuni-Team!!!

Uyuni-Client-Tools for Ubuntu 20.04 are available:
https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/Ubuntu2004-Uyuni-Client-Tools/

Maybe this issue can be closed.

[2020-08-25 20:06] juliogonzalez commented on #2263
Right https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/Ubuntu2004-Uyuni-Client-Tools/xUbuntu_20.04/ already has packages, and it should an exact clone of Master when we released, so it should work fine (as it was on Master when we did the tests.

@phibid can we close? Were you able to sync? If you were able but you had other issues, let's close this one and let's follow

[2020-08-25 20:10] phibid commented on #2263
Yes, I guess that it can be closed now that Ubuntu 20.04 is supported on 2020.07.

However I can’t really confirm that this is working, not needed it anymore, we now use salt ssh-push method for client registration.

Philippe Bidault | Unix Engineer

Getronics
________________________________
M. 34617301667 | E. Philippe.Bidault@Getronics.com | W. www.getronics.com

Getronics CMC Service Desk Iber

[2020-08-25 21:22] #2263 closed

[2020-08-25 21:23] juliogonzalez commented on #2516
Are the client tools *added* and *synced*?

The packages that are missing are part of the client tools repositories.

[2020-08-25 21:25] juliogonzalez commented on #2420
Did you run the bootstrap repository creation for both OL6 and CentOS6 after adding the channels?

[2020-08-25 21:35] ewenf-uindy commented on #2420
I've rebuilt the whole box since I logged this, so I can't tell you how it
will behave now.  Hust close this one and we'll see if it works better on
2020.7

---------------

Len Ewen

Systems Administrator 1

Information Technology

University of Indianapolis

(317) 788-3362

[image: UIndyIT.jpg]

Confidentiality Notice: This communication and/or its content are for the
sole use of the intended re

[2020-08-26 06:57] phibid commented on #2241
Curiously the `apt update` only is slow., no speed issue with `apt upgrade` during package downloads.

Observed on Ubuntu 18.04, Ubuntu 20.04 and Debian10.

[2020-08-26 06:59] phibid commented on #2471
In my case, I had to re-register the proxies, because packages were not refreshed, so seems mandatory.

[2020-08-26 08:11] phibid opened #2523 "Usage of apt_auth.conf(5) should be preferred on Ubuntu and Debian uyuni clients"
Uyuni version 2020.07

Executing `apt update` on an Ubuntu or Debian client always throw up this message:

[code]

I was about to try to use the auth.conf file, and propose it as an improvement, however I can see from the documentation that the fact to have different tokens on each repository pointing to the same path and server complicate the use of auth.conf.

In the NOTE section of https://manp

[2020-08-26 12:07] EthanB11 commented on #2516
Doh, I had added them, but they were not sync'd. I swear I had checked this. All good now.

[2020-08-26 12:07] #2516 closed

[2020-08-26 12:49] ewenf-uindy opened #2528 "Initial sync of Uyuni client from inside the gui fails in error"
I have built from scratch an new openLeap 15.2 server and installed Uyuni 2020.7 on it.  When I go to do the sync process on the repos, which have been added through spacewalk-common-channels, everything seems to sync fine EXCEPT for the Uyuni Client Tools for CentOS 7 (x86_64) repo.  When I run it, it fails to complete and when I look at the logs, I see : https://pastebin.com/SN8jTa3j .  To make

[2020-08-26 13:12] EthanB11 commented on #2528
Check your firewall, I downloaded a package you said didn't work in Gitter. I've had to unblock my spacewalk and now uyuni host from web filtering because that was causing issues doing downloads from rpm and deb repos.

[2020-08-26 13:15] phibid opened #2531 "fwupd-signed marqued as upgradable for Ubuntu 20.04 clients on Uyuni UI but not through apt"
Uyuni 2020.07

I have observed in the Uyuni UI this package flagged as upgradable for an Uyuni 20.04 client:

[code]

But not listed with `apt update`:

[code]

[2020-08-26 13:20] EthanB11 commented on #2528
I can download this from provo just fine.

uyuni-host:~ # wget https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/CentOS7-Uyuni-Client-Tools/CentOS_7/noarch/cobbler-2.6.6-6.2.uyuni.noarch.rpm
--2020-08-26 08:17:00-- https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/CentOS7-Uyuni-Client-Tools/CentOS_7/noarch/cobbler-2.6.6-6.2.uyuni.noarch.rpm
Res

[2020-08-26 14:55] Shirocco88 commented on #2531
@phibid
Are you using additional repositories, which are not from Uyuni Server ?

what is the "apt update" Output from you Ubuntu 20.04 System ?

[2020-08-26 15:13] phibid commented on #2531
Nop, no additional repositories, only the 'official' ones:

[code]

[2020-08-26 15:43] Shirocco88 commented on #2531
it seams that the system information of this Ubuntu-Clients are not actuell;

please "Refresh Package List" whitin Uyuni for this System
and check again.

[2020-08-26 16:02] phibid commented on #2531
Already did, but did not help.

I wonder if this is because of the fact that the different versions are provided from several repositories ?

[code]

The very last version is already installed on the server:

[code]

[2020-08-26 17:36] #2528 closed

[2020-08-26 17:36] ewenf-uindy commented on #2528
Just closing it.

[2020-08-27 10:41] Shirocco88 opened #2535 "Please Rename schema-migration-test script from 31to41 to 31to42"
Hello Uyuni team!
since Uyuni 2020.07 the DB schema has changed to 4.2.x:
seee: https://github.com/uyuni-project/uyuni/tree/master/schema/spacewalk/upgrade/susemanager-schema-4.2.0-to-susemanager-schema-4.2.1

Could you please Rename schema-migration-test script from 31to41 to 31to42
https://github.com/uyuni-project/uyuni/blob/master/susemanager-utils/testing/docker/scripts/schema_migration_test_p

[2020-08-28 14:50] Shirocco88 commented on #397
Hint: container_build_host Entitlement for Debian-9/10 and Ubuntu-16/18/20 is already enabled;

see https://github.com/uyuni-project/uyuni/blob/master/schema/spacewalk/common/data/rhnServerServerGroupArchCompat.sql#L761
insert into rhnServerServerGroupArchCompat ( server_arch_id, server_group_type)
    values (lookup_server_arch('amd64-debian-linux'),
            lookup_sg_type('container_build_ho

[2020-08-29 08:11] Shirocco88 commented on #1250
@vampywiz17
Could you please describe how to use these scripts in order to import errata information to Ubuntu-20.04
https://github.com/philicious/spacewalk-scripts

Thanks in Advance.
Best regards.
Shirocco88

[2020-08-29 08:18] Shirocco88 commented on #1250
Hint: Found another issue with the same context:
"Apply erratas to Debian / Ubuntu systems #2068"
https://github.com/uyuni-project/uyuni/issues/2068

[2020-08-29 09:03] Shirocco88 commented on #2531
Hint: There is a PR which also addresses this problem:
Fix: handle corner case of deb pkg compare version (bsc#1173201) #2358
[https://github.com/uyuni-project/uyuni/pull/2358](url)

[2020-08-29 10:41] Shirocco88 opened #2542 "Bug in ServerTest.java, please fix"
Hallo Uyuni-Team,
there is a Bug in ServerTest.java#L252:

[https://github.com/uyuni-project/uyuni/blob/master/java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java#L252](https://github.com/uyuni-project/uyuni/blob/master/java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java#L252)
[code]
The correct Lines 252 would be:
[code]

Could you please correct the code.

Thanks in advan

[2020-08-29 10:53] Shirocco88 commented on #2542
Please also fix type in Line L232

https://github.com/uyuni-project/uyuni/blob/master/java/code/src/com/redhat/rhn/domain/server/test/ServerTest.java#L232

OLD:
* Test for {@link Server#doesOsSupportsMonitoring()} for RedHat 87.

NEW:
* Test for {@link Server#doesOsSupportsMonitoring()} for RedHat 8.

[2020-08-29 11:32] Shirocco88 commented on #397
Hint: at the moment there is OS-Blacklisting for container_build_host Entitlement  in MinionServer.java#L134 aktiv.
==> all Ubuntu-/Debian releases are enabled.

https://github.com/uyuni-project/uyuni/blob/master/java/code/src/com/redhat/rhn/domain/server/MinionServer.java#L134
SNIP
[code]

[2020-08-30 12:37] Shirocco88 commented on #1266
see also #1962

`deb [arch=amd64 trusted=yes] https://blabla@uyuni:443/rhn/manager/download ubuntu-18.04-pool-amd64-uyuni main`

channel.repo has to be addapted (add grain osarch):
https://github.com/uyuni-project/uyuni/blob/master/susemanager-utils/susemanager-sls/salt/channels/channels.repo
[code]

this as first idee (untested) to solve the problem.

[2020-08-30 22:06] vampywiz17 commented on #1250
We not use our infra 20.04, only 18.04

[2020-08-31 12:42] Shirocco88 commented on #1250
@vampywiz17

Could you please describe how to use these scripts in order to import errata information to Ubuntu-18.04
https://github.com/philicious/spacewalk-scripts

Thanks in Advance.
Best regards.
Shirocco88

[2020-08-31 13:32] Shirocco88 commented on #2531
problem seems to be: deb packages with hyphens in the package name or version.

see Release Notes Uyuni 2020.01
https://www.uyuni-project.org/doc/2020.01/release-notes-uyuni-proxy.html

Enhanced support for Ubuntu and Debian clients

    Support for all of the headers in .deb packages, including custom ones, when syncing Debian/Ubuntu repositories. You can use the new script mgr-update-pkg-extra-t

[2020-08-31 16:24] Shirocco88 commented on #2531
@Uyuni Developers: does this problem still exist ?

[2020-09-01 13:37] Shirocco88 opened #2548 "Bugfixing "Package Architecture: not specified" on Debian10 Minions with cpuach=aarch64, osarch=arm64, DB Schema-Extension needed"
**Debian-9/19 Client Tools for aarch64 are supported since Uyuni 2020.03 release:**
see https://www.uyuni-project.org/doc/2020.03/release-notes-uyuni-server.html
Version 2020.03
Debian client tools
We now offer Debian client tools that allow for easy onboarding of Debian as salt minions, as well as running spacecmd from them.
Check the Client Configuration Guide for information about how to config

[2020-09-02 10:16] #2542 closed

[2020-09-02 14:06] Shirocco88 opened #2555 "Feature Request: Provide Monitoring (prometheus exporters) packages for Debian-10 x86_64"
Hello Uyuni team!
It would be great to have Monitoring (prometheus exporters) packages for Debian-10 x86_64.
Currently there are only packages for ubuntu-20.04/18.04, but not for Debian-10.

Ubuntu-20.04:
http://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/Ubuntu2004-Uyuni-Client-Tools/xUbuntu_20.04/amd64/
prometheus-apache-exporter_0.7.0+ds-1_amd64.deb
prometheus-node-expo

[2020-09-03 04:29] Shirocco88 commented on #2531
@phibid:
what is the output of command "apt policy fwupd-signed" ?

[2020-09-03 07:02] phibid commented on #2531
Here it is:

[code]

[2020-09-03 08:28] StefanSa commented on #2473
Hi there, @juliogonzalez
when can we expect implementation?
this is a really important feature for repo files larger than 100MB and there are quite a few of them.

thank you for this project and the work here.
StefanS

[2020-09-03 08:37] juliogonzalez commented on #2473
@paususe any opinion?

[2020-09-03 10:06] paususe opened #2558 "Internationalize dnf-plugin-spacewalk"
While writing the wiki page for translators, I've noticed this tool does not use gettext yet.

Strings seem to be prepared (the use the usual underscore prefix for gettext-enabled strings) but there seems to be no pot file:
https://github.com/uyuni-project/uyuni/tree/master/client/rhel/dnf-plugin-spacewalk

Supporting i18n seems to be rather straightforward:
https://docs.python.org/3/library/gette

[2020-09-03 10:09] paususe opened #2559 "Internationalize spacecmd"
While writing the wiki page for translators, I've noticed this tool does not use gettext yet.

https://github.com/SUSE/spacewalk/tree/Manager-4.1/spacecmd

Strings are not prepared but it should be a matter of wrapping the strings in underscore (for gettext), adding some boilerplate code to pull gettext in, and adding a Makefile target.
https://docs.python.org/3/library/gettext.html

More details

[2020-09-03 10:12] paususe opened #2560 "Translate Uyuni to your language"
This is a placeholder issue for HacktoberFest 2020

Check this wiki page and start translating!
https://github.com/uyuni-project/uyuni/wiki/Translating-Uyuni-to-your-language

No coding skills required.

Small components: do your component, get your shirt + sticker
Large components (e. g. Java): contact us (e. g. commenting here or in Gitter) and we'll agree on something.

[2020-09-03 10:13] paususe commented on #2531
@mbologna I'm afraid this is one more instance of our comparison algorithm for .deb versions not working  100% accurately. Could you please take a look?

[2020-09-03 10:20] paususe commented on #2473
Shouldn't we rather make zypper check if data is being downloaded so that it goes not timeout?

@StefanSa could you please paste/attach the missing file so that we evaluate how complex would be to create it?

I find surprising this does not fail for SLES Expanded Support, where there are debug files of hundreds of megabytes in size :-?

[2020-09-03 10:39] StefanSa commented on #2473
@paususe
Of course no problem.
[package_mapping gitlab_gitlab-ce -20200831033217.zip](https://github.com/uyuni-project/uyuni/files/5167934/package_mapping.gitlab_gitlab-ce.-20200831033217.zip)

[2020-09-03 10:57] paususe opened #2561 "Package Prometheus SNMP exporter"
SNMP, despite all of its deficiencies and flaws, is everywhere and can provide very useful information.

Packaging this exporter comprises two sides:
a) RPM-based operating systems: look at any of the other [exporters in OBS](https://build.opensuse.org/package/show/server:monitoring/golang-github-prometheus-node_exporter) and adapt the .spec
b) Since Debian already offers this exporter, instead of

[2020-09-03 11:00] paususe opened #2562 "Package Stream Exporter"
The Stream Exporter reads from a text file (which may be written by any tool) and then exports those data as metrics.

Packaging this exporter comprises two sides:
a) RPM-based operating systems: look at any of the other [exporters in OBS](https://build.opensuse.org/package/show/server:monitoring/golang-github-prometheus-node_exporter) and adapt the .spec
b) Since Debian does not offer this export

[2020-09-03 11:03] paususe opened #2563 "Package ModBus exporter"
Modbus is the de-facto standard for industrial device control. By using the Prometheus ModBus exporter, Uyuni can be used to monitor industrial PLCs and RTUs.

Packaging this exporter comprises two sides:
a) RPM-based operating systems: look at any of the other [exporters in OBS](https://build.opensuse.org/package/show/server:monitoring/golang-github-prometheus-node_exporter) and adapt the .spec
b

[2020-09-03 11:05] paususe opened #2564 "Package nginx exporter"
Monitoring is a paid  option in nginx (part of nginx plus), so providing a free Prometheus exporter will be appealing to many nginx users

Packaging this exporter comprises two sides:
a) RPM-based operating systems: look at any of the other [exporters in OBS](https://build.opensuse.org/package/show/server:monitoring/golang-github-prometheus-node_exporter) and adapt the .spec
b) Since Debian alread

[2020-09-03 11:08] paususe commented on #2555
@Shirocco88

It would be trivial to do that (it's essentially rebuilding them) but I wonder if you really want that? Those packages are already available in Debian:

https://packages.debian.org/search?keywords=exporter

[2020-09-03 15:32] phibid commented on #2241
Am I really the only one to observe this ?

[2020-09-03 18:45] #2555 closed

[2020-09-04 00:49] samcoddington opened #2569 "SLES 15 Bootstrap repo creation fails due to missing packages, when packages are present"
# Additional Information
All official SUSE repositories for 15, 15.1 and 15.2 have been synced

## Version of Uyuni Server and Proxy (if used)
    Information for package Uyuni-Server-release:
    ---------------------------------------------
    Repository     : uyuni-server-stable
    Name           : Uyuni-Server-release
    Version        : 2020.07-86.3.uyuni
    Arch           : x86_64
    Ve

[2020-09-04 01:01] juliogonzalez commented on #2569
Please run again with the syntax I provided on Gitter: `mgr-create-bootstrap-repo -d --with-custom-channels`

Then pickup the SLE15SP2 option... and paste the whole output, including the CLI call itself.

[2020-09-04 01:02] juliogonzalez commented on #2488
This is an unsupported scenario. Uyuni Server and Proxy to are be installed only on top of openSUSE Leap (current stable on top of Leap 15.2)

[2020-09-04 01:04] juliogonzalez commented on #2488
Closing for now, but feel free to reopen if the problem persists after installing both the Server and the Proxy on top of Leap.

[2020-09-04 01:04] #2488 closed

[2020-09-04 10:06] juliogonzalez commented on #2130
Ping @ggardet ?

[2020-09-04 14:19] samcoddington commented on #2569
Is this even worth digging into since our base OS is SLES 15.2?  Could that be the root of all of our problems?  We were trying to keep our entire setup on SLES since we have a support contract.

`mgr-create-bootstrap-repo -c SLE-15-SP2-x86_64 -d --with-custom-channels --with-parent-channel=sle-product-sles15-sp2-pool-x86_64`

	Creating bootstrap repo for SLE-15-SP2-x86_64
	copy 'libgudev-1_0-0-23

[2020-09-04 16:16] ewenf-uindy opened #2573 "Checksum failure on Centos6 client sync"
Fresh SLES15.2 install
Fresh Uyuni 2020.07 install

When syncing the centos 6 uyuni client I am getting checksum errors causing the repo creation to fail.  Attached is the sync fails.  I have tried downloading it multiple times and it has failed.  The developer client downloads fine.

Command: ['/usr/bin/spacewalk-repo-sync', '--channel', 'centos6-uyuni-client-x86_64', '--type', 'yum', '--non-inte

[2020-09-04 19:01] Shirocco88 commented on #2569
@samcoddington: Channel "sle-product-sles15-sp2-pool-x86_64" is neccessary;
Did you add this channel with SCC credentials to Uyuni Server ?

What is the output of command "spacewalk-repo-sync  -c   sle-product-sles15-sp2-pool-x86_64" ?

[2020-09-04 19:06] Shirocco88 commented on #2569
https://github.com/uyuni-project/uyuni/issues/2488

is Uyuni Server running on openLeap 15.2 or on SLES-15.x `?

[2020-09-04 19:15] samcoddington commented on #2569
We are using SLES 15.2 for the Uyuni Server.  Here's the output of the repo-sync command if you need it, it's a lot.  It sounds like we will need to rebuild using Leap 15.1 or 15.2.

	19:12:18 ======================================
	19:12:18 | Channel: sle-product-sles15-sp2-pool-x86_64
	19:12:18 ======================================
	19:12:18 Sync of channel started.
	Retrieving repository 'sle-

[2020-09-04 20:55] juliogonzalez commented on #2569
Leap 15.2 is now mandatory for new servers and proxies.

Leap 15.2 is only allowed for Uyuni < 2020.07, but you can't install it from Stable anymore. Remember we follow a rolling release model.

[2020-09-05 09:31] Shirocco88 commented on #1266
@Developers:
OS-Grains of systems with problems
[code]

[2020-09-05 10:06] Shirocco88 commented on #2569
Hint: Packages in repo "sle-product-sles15-sp2-pool-x86_64" = 3

that are too less.

[code]

[2020-09-05 10:11] Shirocco88 commented on #2569
IMHO: Leap 15.2 is only allowed for Uyuni >= 2020.07,
or
Leap 15.1 is only allowed for Uyuni < 2020.07,

???

[2020-09-05 10:49] Shirocco88 commented on #2573
#2488

unsupported scenario ???

[2020-09-05 15:36] Shirocco88 commented on #1266
I've done further analysis;

This issue exist only on ubuntu systems with "foreign architectures"
# dpkg --print-foreign-architectures
i386

on ubuntu systems without "foreign-architectures" there is no problem;
# dpkg --print-foreign-architectures

[2020-09-05 15:55] juliogonzalez commented on #2573
@ewenf-uindy if you mean that your server or your proxy are based on SLE, that is not supported.

@Shirocco88: having SLE clients is supported. Having the server or the proxy installed on top of SLE as in https://github.com/uyuni-project/uyuni/issues/2488#issuecomment-675016361 is *not* supported. It's clearly stated on the website, the doc and the release notes.

https://www.uyuni-project.org/pag

[2020-09-05 15:58] juliogonzalez opened #2574 "Disable installation of proxy and server on top of SLE"
# Additional Information

## Details about issue

It seems there are already several users installing Uyuni Server on proxy on top of SLE.

While this *maybe* works, we can't offer any kind of help for such scenarios. We don't test them, and we don't have enough resources to handle them.

We should disable installation of the proxy and the server on top of SLE.

I am not sure if we can do it on th

[2020-09-05 15:59] juliogonzalez commented on #2569
Sorry, mi mistake:

This is what I wanted to say.

[2020-09-07 01:37] Loquacity commented on #2573
This is already done in master.

[2020-09-07 09:51] ewenf-uindy commented on #2573
This is one of those emails where I have been dreading replying to all
weekend., and now it is 5:30am and I can't sleep anymore because of it.
Yes, i am an idiot, I freely admit it, but rather than browbeating me, it
could have gone "SLES 15.2?  Did you mean OpenLeap15.2" rather than
spending a paragraph pointing out my stupidity.

It is Openleap 15.2, I apologize for stating myself incorrectly.

[2020-09-07 11:53] ewenf-uindy opened #2577 "Checksum errors during install phase of Uyuni"
Openleap 15.2
Uyuni 2020.07
uname -a Linux uyuni 5.3.18-lp152.36-default #1 SMP Tue Aug 18 17:09:44 UTC 2020 (885251f) x86_64 x86_64 x86_64 GNU/Linux

When installing, checksum errors are thrown but can be passed by accepting the package and unblocking it.  This has been repeatable for me on all recent installs.

[checksum-error.txt](https://github.com/uyuni-project/uyuni/files/5182955/checksum-er

[2020-09-07 12:22] Shirocco88 opened #2579 "[WIP] Enabling/Onbording of Debian10 Minions with cpuach=aarch64, cpuarch=arm64 (Raspberry PI4)"
Debian-9/10 Client Tools for aarch64 are supported since Uyuni 2020.03 release:
see https://www.uyuni-project.org/doc/2020.03/release-notes-uyuni-server.html
Version 2020.03
Debian client tools
We now offer Debian client tools that allow for easy onboarding of Debian as salt minions, as well as running spacecmd from them.
Check the Client Configuration Guide for information about how to configure

[2020-09-07 12:42] Shirocco88 commented on #2577
@ewenf-uindy
which opensuse mirror are you using ?

can you download the file with wget ?
wget  https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/noarch/vsftpd-formula-0.1.1568808472.be9f236-1.3.uyuni.noarch.rpm

[2020-09-07 13:09] ewenf-uindy commented on #2577
How do I see which repo I am pulling from?  Remember, I am stupid so go slow.

[2020-09-07 13:16] ewenf-uindy commented on #2577
Downloads just fine using the wget.  Looks like it is pulling from purdue this week as oppsed to last week when I was pulling from Provo.

wget https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/noarch/vsftpd-formula-0.1.1568808472.be9f236-1.3.uyuni.noarch.rpm
--2020-09-07 09:14:29--  https://download.opensuse.org/repositories/sy

[2020-09-08 08:24] juliogonzalez commented on #2577
Can you `wget http://download.opensuse.org/opensuse/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/repodata/886a5359052abf37b999243e5e41e4fce33231ff2a1cfc173d07b2bfc520df0c-primary.xml.gz`?

At ` plug-mirror.rcac.purdue.edu` the data looks good:

[code]
[code]
So, once again, this look like zypper getting metadata from one mirror, packages from other mirr

[2020-09-08 08:37] juliogonzalez commented on #2577
According to what I see at other European mirrors, I'd say purdue.edu is out of sync, but I am not 100% sure.

[2020-09-08 08:41] juliogonzalez commented on #2577
Correction: provo-mirror.opensuse.org seems out of sync. I reviewed two European mirrors and the hash there is `fbb1527f49d64ab5608863667804dd534e5a7f1ab91c15098cf75429bf2e3699`

[2020-09-08 08:42] juliogonzalez commented on #2577
Reported at https://progress.opensuse.org/projects/opensuse-admin/activity?from=2020-09-08

[2020-09-08 12:52] ggardet commented on #2130
I am unable to boot on `Uyuni-Server-DVD-aarch64-Build95.57-Media1.iso` or `Uyuni-Proxy-DVD-aarch64-Build95.1-Media1.iso`
You should probably build those images on `aarch64`.
**So, please enable build for `aarch64` in `images`.**

Moreover, https://build.opensuse.org/package/view_file/home:Guillaume_G:branches:systemsmanagement:Uyuni:Master/000product/_service:product_converter:Uyuni-Server-dvd5-D

[2020-09-08 12:54] ewenf-uindy commented on #2577
wget
http://download.opensuse.org/opensuse/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/repodata/886a5359052abf37b999243e5e41e4fce33231ff2a1cfc173d07b2bfc520df0c-primary.xml.gz
--2020-09-08 08:47:19--
http://download.opensuse.org/opensuse/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/repodata/886a5359052abf37b

[2020-09-08 13:21] ggardet commented on #2130
Please also review:
https://build.opensuse.org/request/show/832990
https://build.opensuse.org/request/show/832991
https://build.opensuse.org/request/show/832992
https://build.opensuse.org/request/show/832993

which are needed for aarch64.

[2020-09-09 05:29] skoehnen23 opened #2583 "reposync with kickstart tree fails"
i got following URLGrabError when i try to sync an repositoy with kickstart enabled:

my command:

/usr/bin/spacewalk-repo-sync --channel stable_base_centos7-x86_64 --type yum --sync-kickstart

07:21:51   Importing kickstarts.
07:21:51 Trying treeinfo
07:21:51 Unexpected error: <class 'AttributeError'>
07:21:51 Traceback (most recent call last):
  File "/usr/lib/python3.6/site-packages/spacewalk/s

[2020-09-10 16:54] ewenf-uindy opened #2591 "No Uyuni client repos for Oracle Linux 6 and 7"
Openleap 15.2
Uyuni 2020.07

When setting up my server and syncing repos from spacewalk-common-channels, the Oracle Linux 6 and 7 client show no repo assigned to them.

This is met with a message stating "No repositories are currently associated with this channel."  This occurs for both the main repo as well as the development line.  The centos6 and 7 pulled rpms from their repos just fine.

[2020-09-11 08:09] cbosdo opened #2592 "Use a slider for the cpu mitigations formula"
As of today, the cpu mitigations formula show a unique select field to choose from **Auto**, **Auto, No SMT**, **Off** and **Manual**. The main issue with this is that it is not obvious for the user that those options actually mean unless they know the kernel option it's referring to.

Suggestion:
 *  Remove the **Manual** option since it only removes the `mitigations` option, which is the same th

[2020-09-11 08:10] cbosdo commented on #2592
@mseidl @ncounter any opinion on that issue?

[2020-09-11 09:20] rpasche opened #2593 "Channels subscription should be removed from DB (even if channel alteration on minion fails)"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
[code]

## Details about issue
I'm just trying to remove some channel subscriptions from one (or more) minions and the task fails because of issues on the minion.

[2020-09-11 10:30] phibid opened #2595 "Uyuni silently fails to get package information from salt-ssh registered clients"
I have noticed that Uyuni will silently fail to get the package information from a salt-ssh registered client if it get for example a ssh ‘permission denied’.

As far as I can see, the only way to detect such failures is to check the taskomatic logs and look for those messages:

`
2020-09-11 05:07:02,597 [DefaultQuartzScheduler_Worker-13] WARN  com.suse.manager.webui.services.impl.SaltService - Js

[2020-09-11 10:43] rpasche commented on #2068
@paususe Where should I create the PR to? Uyuni or - I guess - saltstack/salt? Should I somehow flag it, that this needs to go into the "uyuni" version of salt (I know you are using a specially patched version). Thanks for any hints.

[2020-09-11 10:51] rpasche commented on #2442
I just had again an issue with a package, where some headers are missing. In this case, it was `e2fsprogs=1.44.5-1+deb10u2`. See the versions and package information currently available. The information for `deb10u1` and `deb10u3` look fine. It's only `deb10u2` that is missing this information (for some reason). I think I can fix this by deleting this package from Uyuni and resync....but would be

[2020-09-11 12:52] rpasche commented on #2442
As thought, removing the package and resynching it fixed the problem.

[2020-09-11 17:17] Shirocco88 commented on #2593
Steps to reproduce:
On my system (there is the current failure, that the filesystem is read-only).

What OS-version has your client ?
why is the filesystem read-only ?

[2020-09-11 17:21] rpasche commented on #2593
Because of an error on the client.

And it's a Debian 10. But the thing is... The channels should be removed from the system within uyuni even when that state fails.

Robert

⁣sent from my mobile device​

-------- Originale Nachricht --------
Von: Shirocco88 <notifications@github.com>
Gesendet: Fri Sep 11 19:17:21 GMT+02:00 2020
An: uyuni-project/uyuni <uyuni@noreply.github.com>
Cc: Robert Pasched

[2020-09-14 10:30] StefanSa commented on #2473
@paususe @juliogonzalez
any progress or idea how to solve the problem, or when can you expect a solution?
i am also surprised that no one noticed this before. without this option you cannot use the proxy with large repo files.

[2020-09-14 11:30] Shirocco88 commented on #2595
Why did you change this setup
If you want to use another user than "root" for salt-ssh,
then you have to change uyuni global setting prior to bootstrap this client

Please delete this client und setup uyuni, and try it again.

[2020-09-14 11:50] phibid commented on #2595
What I am trying to show here is that if Uyuni can't successfully login anymore (because of a modification on the sshd configuration, client side) on the salt-ssh registered client, it will then silently failed.

[2020-09-14 12:05] juliogonzalez commented on #2130
@ggardet I am sorry, what do you mean with

?

Those images are not bootable. You need to install openSUSE Leap 15.2, and then add the repository on top, just as you would do for x86_64.

I will give it a try, but IIRC they just don't build on any architecture that is not x86_64.

IIRC x86_64 is there because some packages don't build on non x86_64 architectures, and for those we have exportfilter

[2020-09-14 13:08] mcalmer commented on #2130
Julio is right. The x86_64 is there for a reason. With kiwi we do not only create repos for the normal RPMs, we also create source media which should contain all the source rpms. Some packages build only on x86_64 and result in noarch binaries.
We use ExportFilter to copy the binaries to the other arch (e.g. aarch64). But this does not apply to src.rpm . To get the src.rpm for these packages on th

[2020-09-15 08:41] ggardet commented on #2130
Ah ok, I though it was a bootable ISO, sorry for the confusion.

[2020-09-15 09:33] juliogonzalez commented on #2129
@ggardet could you test this, even with a x86_64 server?

[2020-09-17 13:30] mateiw commented on #2593
It's actually designed to work like this. The DB is changed only if the state apply for changing the channels was successful. Otherwise the DB and the minion would become out of sync and you would get the wrong information from the DB.

[2020-09-17 13:44] mateiw commented on #2591
Could you post the sections `[oraclelinux7*]` and `[oraclelinux6*]` from your `/etc/rhn/spacewalk-common-channels.ini`?
Any related error in the logs?

[2020-09-17 13:52] rpasche commented on #2593
But this somehow makes no sense to me. Isn't the "channels" state not one of those, that always gets applied on a minion? So if the next action on a minion takes place, the susemanager channels file will be regenerated with the contents of the database? And therefore, the channels that were removed from the minion (within uyuni) should also not make it into the new channels repo file.

Robert

⁣se

[2020-09-17 14:16] ewenf-uindy commented on #2591
All 4 repos syncs say "No repositories are currently associated with this
channel".  Looking at common-channels.ini, it appears as if repo are listed.

Oracle Linux 7 Uyuni Repos

[oraclelinux7-uyuni-client]
name     = Uyuni Client Tools for %(base_channel_name)s
archs    = %(_x86_archs)s
base_channels = oraclelinux7-%(arch)s
gpgkey_url =
https://download.opensuse.org/repositories/systemsmanagemen

[2020-09-17 14:47] mateiw commented on #2583
Please test the following patch:
[code]

[2020-09-17 16:36] skoehnen23 commented on #2583
hi,

i have tested:

/usr/bin/spacewalk-repo-sync --channel stable_base_centos7-x86_64 --type yum --sync-kickstart

Traceback (most recent call last):
  File "/usr/bin/spacewalk-repo-sync", line 48, in <module>
    from spacewalk.satellite_tools import reposync
  File "/usr/lib/python3.6/site-packages/spacewalk/satellite_tools/reposync.py", line 58, in <module>
    from spacewalk.satellite_tools.r

[2020-09-18 08:12] suhailsid opened #2623 "after update packages spacewalk services failing many services"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

---------------------------------------------
Repository     : Uyuni Serve

[2020-09-18 09:10] Joerg1962 opened #2624 "Cobbler error <class 'AttributeError'>:module 'string' has no attribute 'join'"
Hello,

I'm trying to get a network installation started. When I call the Cobbler URL I get the following message:

uyuni01:~ # curl -k http://212.84.201.157/cblr/svc/op/gpxe/mac/00:50:56:9a:d4:eb
<class 'AttributeError'>:module 'string' has no attribute 'join'

In /var/log/cobbler/cobbler.log :

Fri Sep 18 11:03:29 2020 - INFO | REMOTE find_items(system); criteria({'mac_address': '00:50:56:9a:d4:

[2020-09-18 10:15] mateiw commented on #2623
@suhailsid can you check if also have jar files in `/srv/tomcat/webapps/rhn/WEB-INF/lib` besides the symlinks that point to `/usr/share/java...`? There should be no jar files in that directory, only symlinks.
If that's the case delete all files from `/srv/tomcat/webapps/rhn/WEB-INF/lib` and reinstall `spacewalk-java`, `spacewalk-taskomatic`, `spacewalk-java-postgresql` and `spacewalk-branding`.

[2020-09-18 10:26] mateiw commented on #2623
@suhailsid did you by any chance deploy using the Ant development script (`ant -f manager-build.xml deploy`) and then executed `zypper up` ?

[2020-09-18 14:22] samcoddington commented on #2569
@juliogonzalez I have 2020.07 running on OpenSUSE 15.2 now, and still experiencing the same problem.

    NAME="openSUSE Leap"
    VERSION="15.2"
    ID="opensuse-leap"
    ID_LIKE="suse opensuse"
    VERSION_ID="15.2"
    PRETTY_NAME="openSUSE Leap 15.2"
    ANSI_COLOR="0;32"
    CPE_NAME="cpe:/o:opensuse:leap:15.2"
    BUG_REPORT_URL="https://bugs.opensuse.org"
    HOME_URL="https://www.opensuse

[2020-09-18 16:50] juliogonzalez commented on #2569
Yes, I guessed that the problem didn't come from having SLE as base OS for the server. But I am still missing the output of the command I requested: https://github.com/uyuni-project/uyuni/issues/2569#issuecomment-686839372

[2020-09-18 17:05] samcoddington commented on #2569
mgr-create-bootstrap-repo -d --with-custom-channels
	1. SLE-15-SP1-x86_64
	2. SLE-15-SP2-x86_64
	3. openSUSE-Leap-15.1-x86_64
	4. openSUSE-Leap-15.2-x86_64
	Enter a number of a product label: 1

	Creating bootstrap repo for SLE-15-SP1-x86_64
	copy 'libgudev-1_0-0-232-1.33.x86_64'
	copy 'libnewt0_52-0.52.20-5.35.x86_64'
	copy 'libslang2-2.3.1a-3.13.x86_64'
	copy 'newt-0.52.20-5.35.x86_64'
	copy 'py

[2020-09-18 17:15] juliogonzalez commented on #2569
Mmmmm, this is strange, no debug output even of `-d` is present. Any idea of why @mcalmer?

Can you paste the output of `sha512sum /usr/sbin/mgr-create-bootstrap-repo`?

I am out of ideas of why `mgr-create-bootstrap-repo` is unable to find the client tools right now. I guess maybe the answer is on the bootstrap repository definitions. Will have a look on Monday.

[2020-09-18 17:26] samcoddington commented on #2569
Looks like the debug log is written to /var/log/rhn/mgr-create-bootstrap-repo.log but not printed out.  Here's the log file, https://pastebin.com/dAz45HX2

Here's the sha512sum if you need it.  `a505f8bb42059941a9bdc6e86da407d6e603d7dc8f8cdc7e7109fbe328335e151c40d0d40b60eb1aba08717660ac8ee0698d9366c4319e6286917e1f18eabc2f  /usr/sbin/mgr-create-bootstrap-repo`

[2020-09-18 19:26] juliogonzalez commented on #2569
Ah, good!

I don't know why I had in mind it got printed to stdout. My bad.

I don't know why, but something tells me the the problem lies at https://github.com/uyuni-project/uyuni/blob/master/susemanager/src/mgr_bootstrap_data.py#L1076.

Maybe @mcalmer will be able to tell us something more on Monday. To me the problem is clearly that the Uyuni client tools channel is not being considered -as aco

[2020-09-19 14:20] mcalmer commented on #2569
There is some guessing in the code which pick one of the available parent channels. Here "SLED" (Desktop) was picked as parent channel.

Questions:

Have you also SLED mirrored? Do you want to use it? I think SLED does not have a clone of the uyuni tools channel as child, right?

Following Options:

- Clone the Uyuni Tools Channel below that base channel (if you want to use SLED, you need it anywa

[2020-09-19 15:16] samcoddington commented on #2569
Correct, I do not have SLED client tools installed.  We have several SLES and a few openSUSE clients in this environment, but no SLED.  I will go ahead and sync them and give it another try.  Is there anything that can be done to make the "guessing" more accurate?

[2020-09-19 15:33] samcoddington commented on #2569
That did the job.  I synced SLED 15, 15,1 and 15.2 and all of the other SLES bootstrap repos created successfully.

[2020-09-21 09:08] juliogonzalez commented on #2569
Can we close the bug, then? Should we have something added to the doc?

[2020-09-21 09:22] Shirocco88 opened #2632 "Wrong Icon shown in View "Recently Registered Systems" https://uyuni-srv.corp.lan/rhn/systems/Registered.do"
Problem: all servers/systems are shown with "physical system" icon

@Developer: please display the correct icon ("physical" or "virtual") per system.
https://uyuni-srv.corp.lan/rhn/systems/Registered.do

[2020-09-21 09:37] Shirocco88 commented on #2595
...
the "Checked In" is updated with the date of the refresh, but no refresh has been actually done, and no warning/error showing that the server is in fact unreachable through SSH.

OK, from my point of view this is a bug.

What is shown in Event-History ?

[2020-09-21 09:53] mcalmer commented on #2569
But did you mirror the SLED product? If not and if you do not need SLED, you could also just remove SLED channels and this should also fix the problem.

Well, "guessing" happens based on what is really mirrored. And that's why the question above is so important. If you mirror SLED, this is a valid channel to use. But if you say, that you did not mirror the SLED product, I wonder how it could end u

[2020-09-21 11:50] phibid commented on #2595
I can't see nothing in "Notification messages"

[2020-09-21 14:06] samcoddington commented on #2569
we have SLED and SLES clients that we're using.  I was focusing on getting the SLES clients working as they're the priority right now, so I hadn't setup or synced the SLED uyuni client repos until now.

[2020-09-21 16:04] mcalmer commented on #2569
Ok, but you had synced SLED product channels from SCC, right? Especially `sle-product-sled15-sp1-pool-x86_64` was synced on your server, right? If this is the case we are ok and the script works as expected.

[2020-09-21 16:08] samcoddington commented on #2569
Correct, all SLED 15, 15.1 and 15.2 were synced from SCC.

[2020-09-21 16:10] mcalmer commented on #2569
Fine. Than it was just "incomplete" and this was the reason why it was failing. If you are ok we can close the issue.
We have here an issue to unify the behavior of SCC and spacewalk-common-channels. Hopefully it can improve such situations as well.

[2020-09-21 16:11] samcoddington commented on #2569
Sounds good, go ahead and close.  Thanks for all the help!

[2020-09-21 16:56] Shirocco88 commented on #2548
PR https://github.com/uyuni-project/uyuni/pull/2549 was merged;
I' do further tests and give feedback.

[2020-09-21 17:10] juliogonzalez commented on #2569
@mcalmer can you create an issue before we close this?

It's unclear to me what we need (and I am not sure if we could fix this with instructions on the doc, while we find a better solution)

[2020-09-22 06:58] moio commented on #2436
Can you please check `journalctl -u rhn-search` when you have reproduced the issue (naturally without the patch in #2513)?

Could it be you see an `OutOfMemoryException` in there?

Thanks for reporting!

[2020-09-22 07:39] sejo23 commented on #2436
Good advice - I searched in wrong place!  In journal are OutOfMemoryExceptions:

Aug 20 14:31:46 rz-mg-lin301 rhn-search[4301]: [QuartzScheduler_Worker-8] ERROR org.quartz.core.JobRunShell - Job updateIndex.packages threw an unhandled Exception:
Aug 20 14:31:46 rz-mg-lin301 rhn-search[4301]: java.lang.OutOfMemoryError: Java heap space
Aug 20 14:31:46 rz-mg-lin301 rhn-search[4301]: [QuartzScheduler

[2020-09-22 07:50] moio commented on #2436
OK, in that case the advice would be to give the search daemon a bit more headroom, see: https://www.uyuni-project.org/uyuni-docs/uyuni/large-deployments/tuning.html#rhn-search-java-maxmemory

Now this experience shows the search daemon needs more memory not only when the number of clients increases, but also when the number of managed packages increases. So at the very minimum, the docs should re

[2020-09-22 08:01] mcalmer commented on #2436
For "uyuni" this is pretty normal as just mirroring openSUSE will give you &gt;30k packages.

While checking the docs and the reality it seems something changed in the config and is not reflected in the docs.
When we dropped the tanukiwrapper that default config changed

[2020-09-22 08:03] mcalmer commented on #2436
Btw: current max memory is 96 and the tuning guide say 512 as default.
Seems we need to do some work here.

[2020-09-22 08:41] juliogonzalez commented on #2579
@Shirocco88 can this be closed since the PR was merged?

[2020-09-22 08:43] juliogonzalez commented on #2591
Do I correctly understand that you already had CentOS and the Uyuni client tools repositories for CentOS added by spacewalk-common-channels and synced?

Did you see any errors when adding the oracle linux channels, including the client tools?

[2020-09-22 08:46] juliogonzalez commented on #2517
@EthanB11 is this fixed by using `spacewalk-common-channels`

@mcalmer do you have any news?

[2020-09-22 13:51] mcalmer commented on #2569
I added this case to our existing card.
Thanks.

[2020-09-22 13:51] #2569 closed

[2020-09-22 15:07] #2531 closed

[2020-09-22 16:39] EthanB11 commented on #2517
Yes using the common uyuni channels worked, but I'm still interested in the expaination for the other one not working.

[2020-09-23 09:10] moio commented on #2436
Right, #2643 opened

[2020-09-23 21:18] #2436 closed

[2020-09-24 07:08] mcalmer commented on #2517
It was a business decision and that take time to change it. We are working on it.

[2020-09-24 07:50] digdilem opened #2645 "Minor documentation amendment"
Following "Server - Minor Upgrade" section of

https://www.uyuni-project.org/doc/2020.09/uyuni_upgrade_guide.pdf

This did not upgrade on my installation. The Uyuni repo was not automatically refreshed.

Suggestion:

Include an additional step between stage 1. and 2. of

2. Refresh the uyuni repository

[2020-09-24 08:44] StefanSa opened #2647 "[repo sync 2020.09] Exception type <class 'spacewalk.server.importlib.importLib.InvalidPackageError'>"
# Additional Information
We have been seeing this error message on repo-sync since 2020.9.
Only the channel 'opensuse_leap15_2-x86_64' is affected.

[code]

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

[code]

[2020-09-24 13:26] EthanB11 commented on #2569
Just a note mine all worked without a SLED channel. Here is a list of what I have for SLES 15 SP1. My SLES 15 SP2 have more channels, hopefully this helps. The Uyuni client and zabbix are both channels I added everything else is from SUSE.

SLE-Product-SLES15-SP1-Pool for x86_64
SLE-Module-Basesystem15-SP1-Pool for x86_64
SLE-Module-Basesystem15-SP1-Updates for x86_64
SLE-Module-Desktop-Applicatio

[2020-09-25 03:18] dvosburg opened #2651 "prometheus fails to scrape for mgr-clients - can't unmarshal struct to slice"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_
Information for package Uyuni-Server-release:
-----------------------------

[2020-09-25 05:14] suhailsid opened #2652 "Strange issue with RHEL8 client"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_
Version        : 2020.09-98.2.uyuni

## Details about issue
_Include as man

[2020-09-26 06:08] Shirocco88 commented on #2647
http://download.opensuse.org/distribution/leap/15.2/repo/oss/noarch/system-user-root-20190513-lp152.1.100.noarch.rpm -
[Errno 14] HTTP Error 504 - Gateway Timeout.

This seems no uyuni problem;

@StefanSa
What is the output of command "wget http://download.opensuse.org/distribution/leap/15.2/repo/oss/noarch/system-user-root-20190513-lp152.1.100.noarch.rpm" ?
Which OpenSuSE Mirror are you using ?

[2020-09-26 08:04] Shirocco88 commented on #2579
@juliogonzalez
at the moment there are many projects parallel, which I have to at my company;

I will do the following test with Raspberry PI4 (cpuach=aarch64, cpuarch=arm64) and uyuni-2020.09 in October:
• Bootstrapping and performing initial state runs such as setting repositories and performing profile updates
• Assigning .deb channels to minions
• Information displayed in System details pages

[2020-09-26 08:32] Shirocco88 commented on #2652
when I add another redhat 8 client B it override on A
...
with RHEL8 clients only build by VMware same template.

@suhailsid
Have you alreade done the "sysprep for Linux"
After cloning you need to change "non unique" object ids
ensure that content of file /etc/machine-id is unique on all salt-clients
command to check "cat /etc/machine-id"

[2020-09-26 08:35] suhailsid commented on #2652
Yes , i tired this and issue now fixed , thanks for your help.

[2020-09-26 08:35] #2652 closed

[2020-09-26 10:30] StefanSa commented on #2647
@Shirocco88
the cause of the packet in question was the FW's IPS.
[code]
An exception in the IPS fixed the problem

[2020-09-26 19:59] #2647 closed

[2020-09-28 09:48] phibid opened #2661 ""Syntax error, unrecognized expression: #" while navigating in Uyuni Web UI"
I have noticed this error appearing in taskomatic log since the upgrade to Uyuni server 2020.09, while navigating in "System List" for example:

[code]

From what I can see, this is transparent and have no issue navigating in Uyuni.

[2020-09-28 10:06] juliogonzalez commented on #2129
@ggardet any news? :-)

[2020-09-28 12:14] witekest commented on #2651
I understand this happens during the upgrade to _Uyuni 2020.09_, right?
Could you please provide the versions of the packages before and after upgrade:
* `golang-github-prometheus-prometheus` (monitoring server)
* `prometheus-exporters-formula` (SUMA server)

[2020-09-28 12:56] cavalheiro commented on #2651
@dvosburg provided to me the current installed versions of Prometheus packages:
[code]

[2020-09-28 20:59] dvosburg commented on #2651
Here are the prometheus packages on the Uyuni server:

[code]

[2020-09-30 13:18] ggardet commented on #2129
I tried to use an aarch64 server, but `patterns-uyuni_server` was not found on https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Master/images/repo/Uyuni-Server-POOL-aarch64-Media1/

So, I need to setup a server on `x86_64`. Or would you have a workaround?

[2020-09-30 14:11] juliogonzalez commented on #2129
Ah right, the POOL repos are not correctly generated.

For now please use a server on `x86_64` this issue is just about ARM on openSUSE Leap clients.

For the server we have the other card, and I will need to see what's going on. I don't think it's the product definition (internally for SUSE Manager the setup is quite similar), but a problem project (so maybe I will need to request help from the o

[2020-09-30 15:42] ggardet commented on #2129
I installed a server on aarch64 Leap 15.2 from repos mentioned above without problem. So, only the POOL should be fixed.

Then, I bootstrapped a minion on a Leap 15.2 aarch64 system (Raspberry Pi 3) using ssh access. But after a while I got `Server error, please check log files.` Where could I get those logs?

[2020-09-30 15:54] juliogonzalez commented on #2129
Let's handle the problems separately.

For now we now the Server works on x86_64, and it's able to manage arm SLE clients, so let's test if arm openSUSE clients are working fine as well.

So for now, try x86_64 server + Leap arm client, as I am pretty sure getting the server to work on arm will take more effort.

But of course, please report your findings on the log at the [card for the server](ht

[2020-09-30 15:59] ggardet commented on #2129
I dropped the salt key and tried again the bootstrap process and this time it succeeded. I suspect a too small timeout.
But the system does not appear in the system list.

I will try an `x86_64` server later.

[2020-09-30 16:04] witekest commented on #2651
Could you please run Prometheus with debug log level `--log.level=debug` and share the logs, please?

[2020-09-30 17:24] juliogonzalez commented on #2129
I assume you accepted the key again at the WebUI or via salt CLI?

Still even if there was a timeout, there should not be such an error, as that errors shows an exception that that was not caught, so you should see a stracktrace on the logs that (maybe) will provide more information.

[2020-09-30 18:40] ggardet commented on #2129
I dropped the key again from the webui and checked `Manage system completely via SSH (will not install an agent)` and now I have my Leap 15.2 aarch64 in the list of systems.
I managed to execute some custom script, remove software from the list of installed packages. But I cannot install anything because there is no channel configured (in the logs: `FATAL com.suse.manager.webui.controllers.Product

[2020-09-30 19:24] juliogonzalez commented on #2129
You don't need SCC to mnanage openSUSE clients. Just add the channels with `spacewalk-common-channels` (including client tools), then sync, create an activation key, associate the channels to the activation key, and then use the activation key during the bootstrap.

Since now you have the client onboarded, you can also proceed without an activation key, but you still need to add the channels, sync

[2020-10-01 00:45] paususe commented on #2559
Implemented in https://github.com/uyuni-project/uyuni/pull/2650

[2020-10-01 00:45] #2559 closed

[2020-10-01 00:47] paususe commented on #2645
@keichwa
Could you please implement this change?

[2020-10-01 00:53] paususe commented on #2068
@brejoc
Could you please advise Robert on what's the best lace to create the PR? I think a PR to Uyuni (to susemanager-sls) may be the right place but I'd rather have an expert confirm :-)

[2020-10-01 00:58] paususe commented on #1937
I started to add such data a few months ago but did not find the time to go on.

As you say, Windows clients could be managed from Linux using Salt directly but Uyuni did not show them. While registration started, I hit some problem (probably lack of inventory, i. e. some grains) in the Python-Java frontier, which takes some time and expertise to debug.

I hope I will be able to continue with Wind

[2020-10-01 01:02] paususe commented on #2258
@phibid
Does this still happen with Uyuni 2020.09 on openSUSE Leap 15.2?

[2020-10-01 05:00] keichwa commented on #2645
Thanks for the report!

[2020-10-01 08:17] phibid commented on #2258
@paususe Unfortunately yes

[code]

[2020-10-01 10:11] ggardet commented on #2129
Regarding `spacewalk-common-channels`  is there any documentation online?
I got some errors here, but this is related to the aarch64 server, not the current ticket.

So, let's stick to the client side of things. A `Hardware Refresh` did not update the value. Related log:
[code]
(again, this is not yet with an `x86_64` server)

[2020-10-01 11:20] juliogonzalez commented on #2129
Yes: https://www.uyuni-project.org/uyuni-docs/uyuni/client-configuration/clients-opensuse.html

But keep it mind it has two problems:

a) Doesn't tell you that need to use `-a` to specify the architecture (reason: we are not ready to include `arm` yet, until things are tested)
b) It mentions you need to sync the repos after adding the channels with `mgr-sync`. This a doc bug that I already reporte

[2020-10-01 14:25] paususe commented on #2258
@brejoc could you please take a look? It seems some packaging conflict.

@phibid are you using EPEL or some other third-party repository?

[2020-10-01 14:33] witekest commented on #2651
Please also provide the runtime and build information obtained from _http://\<prometheus\>:9090/status_ .

[2020-10-01 15:43] 0x5ubt13 commented on #2560
Hi, I'd like to collaborate translating to Spanish

[2020-10-02 07:37] phibid commented on #2258
No, not using EPEL. Here are the repos on a freshly installed OpenSuse Leap 15.2:

[code]

The presence or not of the `python3-salt` package will condition the proper running of the Ansible playbook I mention on the description of this issue.

[2020-10-02 09:42] juliogonzalez commented on #2623
I seem to remember this was fixed at rocket.chat or the mailing lists :-?

Is this still a problem?

[2020-10-02 09:55] brejoc commented on #2068
@rpasche Thanks for taking care of that. I'd say [saltstack/salt](https://github.com/saltstack/salt/) should be the first target for this. As soon as we have green light there, we can cherry pick this to [openSUSE/salt](https://github.com/openSUSE/salt/). But you don't have to do that. Just let us know and we'll take care of that.

But if you'd like to do the PR to [openSUSE/salt](https://github.c

[2020-10-02 12:35] rpasche commented on #2068
@brejoc

The thing is, how can I test the latest stable `salt` client, which is not compatible to Uyuni? Currently, because the "default" salt client is not compatible to Uyuni, I'm unable to fully test this. This "errata" fix is code is special to Uyuni only and it also depends on another module `spacewalk.api` that has to be set. So it is really special to Uyuni.

Are there any packages already

[2020-10-02 13:27] digdilem opened #2684 "Help link generates 404 in webui."
## Version of Uyuni Server and Proxy (if used)
Uyuni 2020.09, no proxy

## Details about issue
Navigating on Uyuni Web UI

Reviewing a system in the System list. example url: _https://ata-oxy-uyuni01/rhn/systems/details/Overview.do?sid=1000010009_

At the top, following the hostname of that system, is a round "?" icon link to take you to the documentation for this page.

Clicking this link takes y

[2020-10-02 16:04] dvosburg commented on #2651
Uptime | 2020-09-25 03:05:02.645968139 +0000 UTC
-- | --
/
Successful
2020-09-25 03:05:02 +0000 UTC
0
10918
2
 
 
15d

[2020-10-02 16:07] dvosburg commented on #2651
[Prometheus Time Series Collection and Processing Server.pdf](https://github.com/uyuni-project/uyuni/files/5319087/Prometheus.Time.Series.Collection.and.Processing.Server.pdf)

[2020-10-02 16:20] dvosburg commented on #2651
file:///home/don/prometheus-log-debug.txt

[2020-10-02 16:20] dvosburg commented on #2651
[prometheus-log-debug.txt](https://github.com/uyuni-project/uyuni/files/5319160/prometheus-log-debug.txt)

[2020-10-05 06:20] dvosburg commented on #2651
Workaround:  Issue resolved by UN-checking 'Enable reverse proxy' on the Prometheus Exporter formula settings.  Upgrade to 2020.09 had enabled it for all systems.

Looks like the new "feature" is causing problems.

[2020-10-05 08:10] mrstigmata opened #2687 "SLES 11 SP4 LTSS and Client Repo?"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

Information for package Uyuni-Server-release:
----------------------------

[2020-10-06 16:04] Etheryte commented on #2661
Thanks for reporting this, it appears there's a buggy dropdown on the system list page that's gone unnoticed. The rest of the page should work as expected and this will hopefully be fixed soon.

[2020-10-07 09:46] paususe opened #2697 "Uyuni Grafana dashboard"
Good old Spacewalk had its own Grafana dashboard, which provides useful information even for non-Spacewalk admins.
https://grafana.com/grafana/dashboards/8930

Can an Uyuni dashboard be useful? I think so.

We already export some information for the self-monitoring feature. What else do we need?

Let's prepare a mockup-RFC and get feedback.

[2020-10-08 13:49] calancha opened #2701 "Provide way to check from UI the filename of created OS image"
This issue comes from: https://github.com/SUSE/spacewalk/issues/12540

In the test suite, after we successfully build an OS kiwi image, we check
that the name of the image matches the expected value.

This is the scenario for this check:
https://github.com/uyuni-project/uyuni/blob/b78556bd92ff562d4c110267c486b3a410b1092c/testsuite/features/secondary/buildhost_osimage_build_image.feature#L41

The f

[2020-10-08 21:15] paususe commented on #2560
@0x5ubt13
Go for it! https://l10n.opensuse.org/projects/uyuni/

BTW, we are going to create a new uyuni-i18n mailing list for translators, it should be available in the coming days.

[2020-10-09 07:23] witekest commented on #2651
I can see following error messages in reporter's `/var/log/rhn/rhn_web_api.log`:

[code]

The last occurence on 2020-10-04 12:23:21.

[2020-10-09 09:26] aaannz commented on #2701
This is a good question. In retail formulas we do not care about the actual path and filename of the image, we are interested only in image name as kiwi knows it. ... And checking this we do not print it anywhere either.

I think it does not hurt to provide direct link to generated image in the UI, but AFAIK this UI is shared with containers where I don't think direct link to container image is us

[2020-10-09 09:28] digdilem opened #2703 "Uyuni reporting duplicate systems when docker is installed on the client. (Unintended behavior, NOT bug)"
## Version of Uyuni Server and Proxy (if used)
2020 09

## Details about issue
To be clear, Uyuni is acting as designed. However, I don't believe this is intended and devalues the feature, effectively making it useless on estates where Docker is present. It may be tempting to consider this an edge case, but docker is obviously widely spread.

Also, this issue was NOT present in Spacewalk 2.9 with

[2020-10-09 09:38] mrstigmata opened #2704 "How to run custom states?"
# Additional Information

https://github.com/uyuni-project/uyuni-docs/pull/807 to be merged first.

## Version of Uyuni Server and Proxy (if used)

Repository     : Uyuni Server Stable
Name           : Uyuni-Server-release
Version        : 2020.09-98.2.uyuni
Arch           : x86_64
Vendor         : obs://build.opensuse.org/systemsmanagement:Uyuni
Support Level  : Level 3
Installed Size : 1.4 KiB
I

[2020-10-09 13:31] brejoc commented on #2258
@phibid You might have run into this issue: https://github.com/ansible/ansible/issues/70357

Ansible 2.10 should fix that. I'm not sure if you are using the saltstack connection plugin. Could this maybe deactivated? I guess this should also solve the problem for Ansible 2.9.x.

[2020-10-09 15:18] rpasche opened #2709 "Unable to change base channel for SLES minions. Debian works"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

Repository     : Uyuni Server Stable
Name           : Uyuni-Server-release

[2020-10-10 08:00] paususe commented on #2709
@mcalmer could you please take a look?

[2020-10-10 12:04] mcalmer commented on #2709
This is by design. You cannot change Vendor Channels to incompatible channels with the installed product.

This is a feature which exists also in the good old spacewalk times. The reason is, to prevent customers to mess up there systems. Remember, for Red Hat you only had 1 channel over the full lifetime and a migration to new major version was not supported.
Red Hat provided something called EUS

[2020-10-10 16:36] rpasche commented on #2709
Ok. But then... How to fix a dependency error that is shown when doing a "dry-run" within the "SPMigration" step from SLES15-SP1 -> SLES15-SP2? Which option might be used by uyuni to solve a dependency problem?

⁣sent from my mobile device​

-------- Originale Nachricht --------
Von: Michael Calmer <notifications@github.com>
Gesendet: Sat Oct 10 14:04:34 GMT+02:00 2020
An: uyuni-project/uyuni <uyu

[2020-10-10 17:40] mcalmer commented on #2709
One by one. Hard to say without knowing what exact problem was reported.
In most cases it is about 3rd party packages where the dependencies cannot be resolved anymore.
Provide the missing dependency somehow.

Maybe also some packages were moved into a different module. In this case you need to enable this module or remove the package which creates the problem.

We are currently developing a solut

[2020-10-10 17:47] rpasche commented on #2709
Ok. Thank you for this clarification. Will try to check, if the dependency problem can be solved by attaching other (more) modules.

[2020-10-10 19:03] rpasche commented on #2709
This is the error I get when I try to migrate to SP2 (and I'm currently not able to solve this). Please note. This system was first installed with SLES12-SP4 (and registered at a spacewalk server). Then upgraded to SLES15-SP1 (and migrated (registered) to Uyuni. Now I want to upgrade it to SP2.

![image](https://user-images.githubusercontent.com/12664472/95662968-53b0be00-0b3b-11eb-9e50-5fce581a82

[2020-10-11 12:11] mcalmer commented on #2709
SuSEfirewall2 does not exist in SLE15. It was replaced by firewalld. But it is not a 1:1 replacement so we cannot set a "Provides/Obsoletes" rule on the package.

I wonder where you got the package from your have installed? The release "bp152" sounds like openSUSE/PackageHub or self build package.
You should think about to remove SuSEfirewall2.

But if you want to keep it and use the one with the

[2020-10-13 13:59] megamaced opened #2715 "Cobbler sync still fails to proxy"
# Additional Information

_The following information is very important in order to help us to help you. Omission of the following details cause delays or could receive no attention at all._

## Version of Uyuni Server and Proxy (if used)
2020.09

## Details about issue
I have a Uyuni Server and 1 Uyuni Proxy. I have updated some PXE profiles on the server and trying to sync them to the Proxy using

[2020-10-14 10:07] srbarrios opened #2719 "Add deployment support for all our support clients in sumaform"
# Additional Information

Thanks to sumaform, we are available to build an environment using libvirt or AWS, including systems for the most important supported clients. For that, we make use of official images.

But we still missing a lot of officially supported clients.

Here the full list of Uyuni support clients:

[2020-10-14 11:22] calancha commented on #2701
Moved this card (description and comments) to Spacewalk under Pau's request.

[2020-10-14 11:22] #2701 closed

[2020-10-14 18:01] phibid commented on #2258
Good catch, this is exactly the same issue !!

To be honest, no idea if I am using the saltstack connection plugin, as all the Salt env configuration is managed by Uyuni. I think that I will wait for Ansible 2.10 to be available on OpenSuse Leap 15. Not sure how long I will have to wait.

[2020-10-15 08:15] witekest commented on #2651
Still need to cherry-pick to `Manager-4.0`.
Also work in progress to make server side serialization more robust.

[2020-10-15 19:35] bittin commented on #2560
Started a bit with suggestions to Swedish as i heard about this on the OpenSUSE Online Conference, having problem with my Weblate account as the SUSE accounts migrated however

[2020-10-19 14:37] paususe commented on #2560
Was your user account migrated to the new IDP?
https://news.opensuse.org/2020/05/09/community-account-migration/

If not, try requesting a password reset here:
https://idp-portal.suse.com/univention/self-service/#page=passwordreset

If you do not remember the e-mail account associated to your user account, you will need to create a new account here:
https://idp-portal.suse.com/univention/self-serv

[2020-10-19 14:45] bittin commented on #2560
yep it was, works for logging in to bugzilla and other OpenSUSE sites, but when trying to log in to the weblate i get a breach warning as it thinks i use a new account or something

[2020-10-20 08:47] juliogonzalez commented on #2129
Any progress? :-)

[2020-10-21 06:15] zettelzottel opened #2739 "Problems setting up bootstrap repo for SLES15-SP2"
I have trouble setting up the bootstrap repositories for sles15 sp2 and I cannot find information on how to do that. I added the client tools from http://widehat.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/SLE15-Uyuni-Client-Tools/SLE_15/ .. since the official mirror had checksum errors .. the repo is attached to a channel Uyuni Client Tools for SLES15 SP2 which is a subchannel for

[2020-10-21 06:44] zettelzottel opened #2740 "Centos bootstrap is missing salt-minion package"
I am trying to bootstrap a client with the UI and salt, but this fails. See details below

# Additional Information

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

[code]

## Details about issue

The centos7 repos were added with

[code]

Creating the bootstrap repo works

[code]

After that I tried to bootstra

[2020-10-21 10:32] witekest commented on #2651
Fix provided in [prometheus-exporters-formula](https://github.com/SUSE/salt-formulas/pull/87). We decided [not to change server side serialization](https://github.com/uyuni-project/uyuni/pull/2729).

[2020-10-21 10:32] #2651 closed

[2020-10-21 16:15] juliogonzalez commented on #2739
The information about SLE is at https://www.uyuni-project.org/uyuni-docs/uyuni/client-configuration/clients-sle.html (warning: there's a bug at  `Procedure: Adding Software Channels at the Command Prompt`, it should mention `spacewalk-repo-sync` and not `mgr-sync`, it will be addressed for the next Uyuni version)

I understand `sles15-sp2-uyuni-client-x86_64` was created using `spacewalk-common-ch

[2020-10-22 10:33] zettelzottel commented on #2739
The same problem occurs.
[code]
Yes the sles15-sp2-uyuni-client-x86_64 was created using spacewalk-common-channels.

[2020-10-22 11:23] paususe commented on #2484
We are looking into this.

[2020-10-26 16:49] juliogonzalez commented on #1912
I hit this again testing https://github.com/uyuni-project/uyuni/pull/2757

And we need also `ca-certficates` installed. Otherwise the bootstrap fails, installs this package, and then works if you launch it again.

[2020-10-27 14:40] vzhestkov commented on #2484
PR created

[2020-10-28 09:09] nudelchef opened #2766 "Plesk can't install on centos8"
plesk installer tries to install packages/modules provided by uyuni, but can't.

# Additional Information

## Version of Uyuni Server and Proxy (if used)

## Details about issue
### steps to reproduce this error

create a fresh install of centos8

add the system to uyuni
[code]

run plesk installer
[code]

### repositories set at uyuni
[code]

### `yum repolist`
[code]

### `cat /etc/yum.repos.d/s

[2020-10-28 09:48] srbarrios opened #2768 "Convert alert message to modal dialog"
# Additional Information

We only have one place in all the product where we use an alert message, instead of a modal dialog.
This is when we click on "Clear Values" in a formula.

Formula form:
https://github.com/uyuni-project/uyuni/blob/9a249eec0815c4c6e23e89c98bbd17848fd8cd6b/web/html/src/components/FormulaForm.js#L213

Clusters implementation:
https://github.com/uyuni-project/uyuni/blob/4d4ebe

[2020-10-29 08:53] brejoc commented on #2258
@phibid I think it should be around the corner. But I'm not very familiar with Ansible. Is it really not possible to deactivate this connection plugin somehow?

[2020-10-29 13:02] srbarrios commented on #114
On test suite code scope, I think we can say this card can be closed.

[2020-10-29 13:02] #114 closed

[2020-10-29 13:06] srbarrios commented on #126
@jcayouette This card is related to what we offer from `rhn/apidoc/index.jsp` ?
Still this card making sense? :thinking:

[2020-10-29 13:10] srbarrios commented on #165
@juliogonzalez we might want to move this card to our Vega squad?

[2020-10-29 13:20] srbarrios commented on #391
This is not happening anymore:
![image](https://user-images.githubusercontent.com/2827771/97579015-da95df80-19f1-11eb-8278-03f6974eb571.png)

[2020-10-29 13:20] #391 closed

[2020-10-29 13:28] srbarrios commented on #1124
We don't reproduce this issue anymore in latest Uyuni version. I will close the card, please if you reproduce it again, feel free to re-open. Thanks!

[2020-10-29 13:28] #1124 closed

[2020-10-29 13:31] srbarrios commented on #1199
@meaksh this is somehow related with the ability to download from local implemented here https://github.com/uyuni-project/uyuni/pull/2519/?

[2020-10-29 13:35] srbarrios commented on #1352
WOW! Thanks for that information, as I think we got the same issue in our internal QAM environment for other ssh minions.

[2020-10-29 15:08] mcalmer commented on #2766
Error 403 is Forbidden. This sounds like a problem with the auth token. Try to run a highstate and see if it fixes the problem.

  System => States => Highstate => click "Apply Highstate" button

[2020-10-29 15:28] mcalmer commented on #2740
Was the bootstrap repo added to the client?

[2020-10-29 15:32] mcalmer commented on #2739
The missing packages are all for the traditional stack which we do not really offer with Uyuni. But with SUSE Manager we have it for SLE15.
As long as you register with salt, this bootstrap repo will work.

We need to check if we want to provide a different data module for uyuni which do not list the packages for the traditional stack.

[2020-10-29 15:35] mcalmer commented on #2715
We would need the apache logs from the proxy. There should be more information about why it is not working

[2020-10-29 15:37] mcalmer commented on #2709
Standard issue with vendor change problems.
The enhancement mentioned here was merged a few days ago and will be in the next uyuni release.

[2020-10-29 15:37] #2709 closed

[2020-10-29 15:43] mcalmer commented on #2704
AFAIK you need to adapt /srv/salt/top.sls . Try to find sombody who can give an example

[2020-10-29 16:11] mcalmer commented on #2687
Q1: If you have a subscription for SLE11 SP4 LTSS it should be there. But it is not a products (like in SLE12 and later) it is just a channel which is marked as optional. You can enable it on the commandlin only.

  $> mgr-sync list channel
  $> mgr-sync add channel sles11-sp4-ltss-updates-x86_64

Q2: As SLES 11 is EOL Uyuni do not provide own client tools channel for it. Here I can only recommend

[2020-10-29 16:11] #2687 closed

[2020-10-29 16:13] mcalmer commented on #2684
@Loquacity can you have a look please? Maybe this is fixed already, but please double check.

[2020-10-29 16:19] agraul commented on #2704
@mrstigmata as you probably already know, Uyuni's system groups are targeted as pillars. `salt -I 'key:value' do.something` is the way to target minions via its pillar data on the CLI. For highstates, you need to create a mapping in `/srv/salt/top.sls` as @mcalmer said. A short example that maps the "test" state to system group 12 would be:
[code]
There are more ways to match target minions, take

[2020-10-29 16:24] mcalmer commented on #2624
spacewalk 2.10 is using cobbler 2.0 while Uyuni uses cobbler 3.0 . So there is a big difference.
But I am not sure if this is here the problem.

@SchoolGuy did this came along your way already?

[2020-10-29 16:37] SchoolGuy commented on #2624
So no I didn't came across this but the reason this is occurring is straightforward if you know Python (which doesn't excuse the bad error handling).

The reason we are failing here is the following: We are using the join method completely wrong in this line and thus this will always fail. So this is a Cobbler Bug.

Please change the line 800 in tftpgen.py from

[code]

to

[code]

This is appeari

[2020-10-29 16:39] juliogonzalez commented on #165
I don't really see the big benefits of having this into the Uyuni repository other than "everything in one place". If we decussed the benefits on a retrospective, the y are not explained in the card, and on the contrary I see a lot of work adapting everything.

If we want "all in one place", the repository is now called `SUSE/susemanager-ci`, if you want to move it to `uyuni/ci` (repository), I am

[2020-10-29 20:12] srbarrios commented on #165
I have the same opinion.
Also, even if we make Uyuni testsuite public some day, through a public CI. We can still keeping this part private.
I will close it.

[2020-10-29 20:12] #165 closed

[2020-10-30 00:19] Loquacity commented on #2684
Hi @digdilem thanks for the report! This is a known issue. We are currently doing some work that involves the documentation deep links in the WebUI, and when that work is complete we will review all the links and make they work as expected. I'll keep this issue open so that it doesn't get lost, though.

[2020-10-30 07:20] mrstigmata commented on #2687
thank you!!! amazing!
I cant see the channel but I was able to add the channel

[2020-10-30 09:01] meaksh commented on #1199
@srbarrios actually not related - we still need to implement this, probably with a similar mechanism as we already do in `yum_src` module for mirrorlist and metalink: https://github.com/uyuni-project/uyuni/blob/master/backend/satellite_tools/repo_plugins/yum_src.py#L494

[2020-10-30 14:43] mcalmer commented on #2623
noresponse

[2020-10-30 14:43] #2623 closed

[2020-10-30 14:52] mcalmer commented on #2577
@ewenf-uindy Is it solved in the meanwhile? AFAIK we released some new versions of uyuni and I hope the mirrors now get the correct content.

[2020-10-30 14:58] mcalmer commented on #2573
I will close this issue here.
I for the checksum errors we have the other issue from you. I think they are generic because of the mirror infrastructure.

[2020-10-30 14:58] #2573 closed

[2020-10-30 15:01] mcalmer commented on #2548
It seems this is fixed as the PR with the DB schema upgrade was merged. Closing

[2020-10-30 15:01] #2548 closed

[2020-10-30 15:03] mcalmer commented on #2523
PR is merged so I think it is fixed

[2020-10-30 15:03] #2523 closed

[2020-10-30 15:05] mcalmer commented on #2517
Update: It seems we will get the SCC setup. Hopefully available in a few days

[2020-10-30 15:10] mcalmer commented on #2477
@paususe is this still a problem or can we close this issue?

[2020-10-30 15:16] mcalmer commented on #2448
I think we had some problems with the mirrors. Should be fixed in the meanwhile.

[2020-10-30 15:16] #2448 closed

[2020-10-30 15:39] mcalmer commented on #2421
@ewenf-uindy as this report is a bit older I have to ask if this is still a problem or if we can close this issue?

[2020-10-30 15:42] mcalmer commented on #2420
@ewenf-uindy how is it going now with a newer version of uyuni?

[2020-10-30 15:48] moio commented on #2386
This is expected to work now with latest Uyuni and cefs script

[2020-10-30 15:49] mcalmer commented on #2381
Closing - I hope in future it will be better

[2020-10-30 15:49] #2381 closed

[2020-10-30 15:53] pdv-systeme-sachsen commented on #2386
I can confirm this. Last week I've installed latest Uyuni Release at one of our customers and it works as expected. Many Thanks for the great work. Does somebody know wether and when this will word for ubuntu too?

Regards, Thomas

[2020-10-30 15:58] mcalmer commented on #2378
When you register the system using salt, we have a state which remove the traditional client tool.
I am unsure if there are conflicts, we we first install salt when the traditional stack is still installed and later remove the packages.

As we renamed the packages we might care only about the new names and the original spacewalk names might stay installed.
This is something we should check.

[2020-10-30 16:02] mcalmer commented on #2386
closing

Let's see if sombody comes with some code :-)

[2020-10-30 16:02] #2386 closed

[2020-10-30 16:24] #2346 closed

[2020-10-30 16:39] ewenf-uindy commented on #2577
you can close this.

---------------

Len Ewen

Systems Administrator 1

Information Technology

University of Indianapolis

(317) 788-3362

[image: UIndyIT.jpg]

Confidentiality Notice: This communication and/or its content are for the
sole use of the intended recipient, and may be privileged, confidential, or
otherwise protected from disclosure by law. If you are not the intended
recipient, plea

[2020-10-30 16:40] ewenf-uindy commented on #2421
this is resolved

---------------

Len Ewen

Systems Administrator 1

Information Technology

University of Indianapolis

(317) 788-3362

[image: UIndyIT.jpg]

Confidentiality Notice: This communication and/or its content are for the
sole use of the intended recipient, and may be privileged, confidential, or
otherwise protected from disclosure by law. If you are not the intended
recipient, please

[2020-10-30 16:41] ewenf-uindy commented on #2420
I have not had a chance to test this yet.  I will get back to you as soon
as possible.

---------------

Len Ewen

Systems Administrator 1

Information Technology

University of Indianapolis

(317) 788-3362

[image: UIndyIT.jpg]

Confidentiality Notice: This communication and/or its content are for the
sole use of the intended recipient, and may be privileged, confidential, or
otherwise protected

[2020-10-30 16:50] #2577 closed

[2020-10-30 18:32] willianops commented on #2082
Man, I have the same problem.. but indetation don't work for me..

error:
# promtool check config prometheus.yml
Checking prometheus.yml
  FAILED: parsing YAML file prometheus.yml: yaml: unmarshal errors:
  line 44: field uyuni_sd_configs not found in type config.plain

Config:
------------------------------------------------------------------------------
global:
  scrape_interval: 15s
  evaluatio

[2020-10-31 01:21] suhailsid commented on #2623
Sorry for delay yes it was closed long back in rocket chay

On Fri, 30 Oct, 2020, 8:13 pm Michael Calmer, <notifications@github.com>
wrote:

[2020-10-31 13:54] cavalheiro commented on #2082
@willianops which Prometheus package are you using?
For service discovery to work correctly, you have to use the package provided in the Uyuni client tools channel.

[2020-10-31 15:04] zettelzottel commented on #2739
Salt bootstrap works. The problem is that we would like to use RHN as registration method, since salt does not work on Centos7 and we would like to have one method for client connections.

[2020-10-31 15:05] zettelzottel commented on #2740
I will have to check on Monday.

[2020-11-01 11:47] Bischoff commented on #1352
As usually with issues with no team, it tends to get lost. Adding it to planning.

[2020-11-01 11:56] Bischoff commented on #1352
As this one year old uyuni issue seems to have got lost, I opened a bug instead:

https://bugzilla.suse.com/show_bug.cgi?id=1178328

[2020-11-01 11:56] #1352 closed

[2020-11-02 08:53] paususe commented on #2477
Yes, it is still broken in 2020.09.

[2020-11-02 09:05] nudelchef commented on #2766
Applying the Highstate again didn't fix it.

[2020-11-02 18:27] #2233 closed

[2020-11-03 13:01] brejoc commented on #2624
@SchoolGuy @nodeg is currently either in school or on vacation. SR to `systemsmanagement / cobbler` can be found here: https://build.opensuse.org/request/show/845695

[2020-11-03 13:14] SchoolGuy commented on #2624
@brejoc I will check it out later today.

[2020-11-03 16:02] brejoc commented on #2068
@rpasche Sorry for the huge delay! I wanted to suggest [sumaform](https://github.com/uyuni-project/sumaform/) for that, but I think you can't get a nightly Uyuni with it. Checking with @moio right now. He should know better than me.

[2020-11-04 10:08] agayon opened #2791 "Support of CentOS 8 AppStream modules in Uyuni"
Running on Uyuni 2020.09, I am trying to manage the AppStream modules of the CentOS 8 registered clients.

I have followed this procedure [appstream_filters](https://www.uyuni-project.org/uyuni-docs/uyuni/administration/content-lifecycle-examples.html#_appstream_filters) however my understanding is that a filter needs to be created for each existing module.

Knowing that there are almost 60 module

[2020-11-04 10:15] agayon opened #2793 "Use non-privileged user for ssh_push client registration"
I want to use non-root user for ssh-push server registration and patch management. However, I can’t find any documentation regarding this.

This link [contact-methods-pushssh](https://www.uyuni-project.org/uyuni-docs/uyuni/client-configuration/contact-methods-pushssh.html) only seems to apply for bootstrapping through ssh.

From what I can see, this unprivileged user would need write/read permissi

[2020-11-04 11:24] cbbayburt commented on #2791
Hi @agayon,

This is correct, but you only need filters for modules you want to be included in your repository, and that is the point. Depending on the client's purpose, you'd only need a few modules selected on any group of clients. It's not a common case to have all the modules enabled for a client.

This is also the intention at the upstream when introducing modules. Unlike base packages, every

[2020-11-04 11:33] juliogonzalez commented on #2591
Ping @ewenf-uindy

[2020-11-05 07:24] vega82 opened #2794 "Deploying Configuration Files results in salt-minion[3751]: [ERROR ] Source file salt://manager_org_1/1000010016/motd not found in saltenv 'base'"
Hi,

we use a fresh installes Uyuni  2020.09 and try to deploy Configuration Files to some Clients.

I created a ConfigChannel "global_motd".
In it with a state file wich contains following content:
![motd](https://user-images.githubusercontent.com/2478621/98209873-f6dcd380-1f3f-11eb-8092-c6faea7f4549.JPG)

and a configuration File
![motd2](https://user-images.githubusercontent.com/2478621/9820983

[2020-11-06 07:30] sejo23 opened #2803 "display absolute timestaps for configuration files"
On file detail and revisions pages times for creation date and last modified are shown as relative times (for instance "7 weeks ago").
This is to inaccurate in some cases like multiple changes in short time.

Is it possible to (maybe optionally) show absolute times for creation date and last modified?

[2020-11-06 16:36] meaksh commented on #2359
Hi @scomcd , thanks for your patience here!

I was taking a look here and I was able to get a fix for this problem when calling `spacewalk-repo-sync` from the command line: https://github.com/uyuni-project/uyuni/commit/996f7cd1c34fb567fa611e7d5342d30b088a09e4

With the above fix, and using some fake credentials since I don't have any real ones for ULN, and I was able to run reposync further until

[2020-11-08 13:40] mcalmer commented on #2803
Does a "mouse over" provide you a tooltip with the exact timestamp? AFAIK it should do it.

[2020-11-08 13:49] mcalmer commented on #2793
With our used configuration management system you can change everything on the target system. This also means that you need to have access to everything. This is why we did not spend much time on using a none root user.
As ubuntu require this, we will look into this more deeply in future, but we always test with full privileges.
Reducing them can result in any kind of error and we cannot test all

[2020-11-08 13:54] mcalmer commented on #2794
@admd can you remember how this was implemented and why it look for a different path?

[2020-11-08 22:12] scomcd commented on #2359
Hi @meaksh

Thanks for investigating this issue.
I have updated the file "/usr/lib/python3.6/site-packages/spacewalk/common/suseLib.py" with the modified
version you provided and run a new sync from the CLI.

# spacewalk-repo-sync --type uln --channel=ol7_x86_64_u9_base  --url=uln:///ol7_x86_64_u9_base
08:54:46 ======================================
08:54:46 | Channel: ol7_x86_64_u9_base
08:54:46

[2020-11-09 09:21] admd commented on #2794
@mcalmer haven't seen this before and I can't think of anything particular which could cause this issue.

@vega82 can you please tell us how you are deploying the file to the minions?

[2020-11-09 09:27] phibid commented on #2793
Yes ok, this makes sense. However we would rather like to use a dedicated uyuni management user with full sudo privileges than root.
This for several reasons, the main one being that most of the audit scan (OSCAP, …) don’t like to have the PermitRootLogin ssh parameter set to anything other than a “no”.

And you will certainly be agree with it, but me and most of the DevOps guys don’t like to allo

[2020-11-09 10:27] StefanSa opened #2818 "Since the last security update os salt eauth authentication doesn't work"
Any help here ?
https://github.com/saltstack/salt/issues/58909

[2020-11-09 11:11] meaksh commented on #2359
Hey @scomcd,
thank you for testing this and provide feedback! :+1:

I think we're close now to get this fixed! I've pushed an extra patch here: https://github.com/uyuni-project/uyuni/commit/343606f4167db60fc960d9b8cc345ffa5c069d4b

Having this extra patch applied together with the previous one you already applied I think it might do the magic! :smile:

Could you give it a try? Thanks in advance!

[2020-11-09 13:18] mrstigmata commented on #2818
I have the same problems after the update...

[2020-11-09 16:24] mcalmer commented on #2818
Did you update uyuni like announced on our mailing lists?

https://lists.opensuse.org/archives/list/users@lists.uyuni-project.org/thread/ZUQGCFM24BIQMAU5PUN5P5VTVIS6Z3YY/

[2020-11-10 01:40] scomcd commented on #2359
Hi @meaksh

I applied the patch to the backend/satellite_tools/repo_plugins/uln_src.py file and re-ran the
spacewalk-repo-sync for a few of the Oracle 7 ULN channels.
The process now connects to the linux-update.oracle.com servers, but only some of the channels will
sync the correct number of packages.

As an example, the ol7 UEK6 channel has 68 packages when viewed via the Oracle Linux Web Interf

[2020-11-10 07:52] StefanSa commented on #2818
hi @mcalmer
I did the same.
But there was already a problem (salt auth) after the salt security OS update https://github.com/saltstack/salt/issues/39981

[2020-11-10 09:31] digdilem opened #2822 "Typo in patch documentation"
On page: https://www.uyuni-project.org/pages/patches.html

Step 4 reads

`sudo zypper update:`

The trailing colon shouldn't be there. It breaks this command and should be removed.

[2020-11-10 09:38] meaksh commented on #2818
@StefanSa could you please indificate the output from these two commands executed on you Uyuni server:

[code]

Thanks in advance!

[2020-11-10 09:51] mcalmer commented on #2822
@juliogonzalez not sure if this comes from our doc team or from you.

[2020-11-10 10:32] StefanSa commented on #2818
hi @meaksh
 rpm -q salt --changelog | head:
[code]
rpm -q spacewalk-java --changelog | head:
[code]

[2020-11-10 11:54] juliogonzalez commented on #2822
Website is not maintained by the doc team, but mostly by me... with help from other people, of course.

@digdilem can you create a PR? It's something easy for a first contribution. The site repository is at https://github.com/uyuni-project/uyuni-project.github.io

You just need to fork it, fix the typo and submit a PR.

Otherwise I will do it later.

[2020-11-10 12:16] digdilem commented on #2822
Julio - Not done one of those, but happy to give it a try, definitely
something I should know how to do and as you say, something that should be
simple. Leave with me, please!

On Tue, 10 Nov 2020 at 09:51, Michael Calmer <notifications@github.com>
wrote:

[2020-11-10 12:24] juliogonzalez commented on #2822
Great! Thanks! :-)

A nice guide about using forks is https://docs.github.com/en/free-pro-team@latest/github/getting-started-with-github/fork-a-repo

When the fork is created, you can clone it and create a branch from master, and finally you can submit your change from that branch as PR.

So in the end:

1. Create a fork
2. Clone it to your computer (`git clone ....`)
3. Switch to the folder creat

[2020-11-10 12:27] mcalmer commented on #2818
@StefanSa In the update repository there are `spacewalk-java-*-4.2.3-1.1.uyuni.noarch.rpm` which have a fix which is required to work with the new salt. Please read the linked mail to find out how to install the update.

[2020-11-10 12:38] StefanSa commented on #2818
@mcalmer
I don't quite understand it, there is nothing to be found here except the old files.
https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/noarch/
Where can i find the patch?

[2020-11-10 12:47] mcalmer commented on #2818
@StefanSa We name the following URL in the mail:
https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/Patches/openSUSE_Leap_15.2/systemsmanagement:Uyuni:Stable:Patches.repo

This url is different to the one you posted.

[2020-11-10 13:38] StefanSa commented on #2818
Hi there,
Thanks for the quick patch.
After installing the patches there is no longer an eauth error, but you can still see this error in the master log file.

/var/log/salt/master:
[code]

[2020-11-10 13:55] StefanSa opened #2824 "Since the last security update for the salt stack, the status of some clients is not displayed correctly."
# Additional Information
Since the last security update for the salt stack, the status of some clients is not displayed correctly.
Either patches to be installed are displayed although they are already installed, or the clock symbol is displayed indicating that patches are being installed.
Such erroneous status messages have not seen before this security patch.

## Version of Uyuni Server and Prox

[2020-11-10 15:24] digdilem commented on #2822
Thanks for the guide, @juliogonzalez

I /think/ I've done it (via Github's webui) and the PR will hopefully be showing now.

[2020-11-10 16:43] #2822 closed

[2020-11-10 16:44] juliogonzalez commented on #2822
PR merged. Thanks for the contribution!

The website will take a few minutes to get this updated, while GitHub regenerates the site.

[2020-11-10 16:46] meaksh commented on #2818
@StefanSa that error message about grains that you see on the "salt-master" logs is already fixed by https://github.com/openSUSE/salt/pull/286 but not yet released on Leap.

Expect this to be fixed in next updates for Salt in Leap 15.2.

[2020-11-10 19:50] willianops commented on #2082
I'm use Suse Manager to deploy configurations of prometheus. All configs are native and default . Of Course Suse Manager using Uyuni in background. by the way, I opened a Case in Suse Support

[2020-11-11 05:37] sejo23 commented on #2803
Sorry, I can't find any "mouse over" messages  in uyuni web-gui. Tested with firefox 78.3, IE 11 and chromium 86.0 (on Windows).

[2020-11-11 09:11] StefanSa commented on #2824
Hi there,
any information about this behavior?

[2020-11-11 12:15] meaksh commented on #2359
@scomcd Thank you for the feedback!

I've pushed some more changes to the branch that would fix the remaining issues we have here:

- Errors at RPM downloading.
- HTTP Proxy not working with ULN.
- Allow creating custom `uln://` repositories via webUI.

I've also created a PR: https://github.com/uyuni-project/uyuni/pull/2830

In order to test the reposync part, let me summarize the files you need

[2020-11-11 23:48] scomcd commented on #2359
Hi @meaksh

Yes, we are running Uyuni rel 2020.09
I've updated the following files as requested.

x •	/usr/lib/python3.6/site-packages/spacewalk/common/suseLib.py
x •	/usr/lib/python3.6/site-packages/spacewalk/satellite_tools/repo_plugins/yum_src.py
x •	/usr/lib/python3.6/site-packages/spacewalk/satellite_tools/repo_plugins/uln_src.py
x •	/usr/lib/zypp/plugins/urlresolver/spacewalk-uln-resolver

U

[2020-11-12 09:11] meaksh commented on #2359
@scomcd thanks again for the feedback! :+1:

I looked at the diff you pasted and I think the culprit here is the wrong "shebang" at "/usr/lib/zypp/plugins/urlresolver/spacewalk-uln-resolver". It was my fault not to indicate that you can take that file but need to keep the original shebang.

So, according to the diff you pasted for "/usr/lib/zypp/plugins/urlresolver/spacewalk-uln-resolver", the fol

[2020-11-12 10:33] dkloos opened #2838 "Bootstrap Repo SLES12 SP4 packages missing"
# Additional Information

The Bootstrap script is not able to find packages for the bootstrap repository. We don't need the legacy packages. But also the salt / salt-minion packages are not included in the repository.
## Server OS
openSUSE Leap 15.2
## Version of Uyuni Server and Proxy (if used)

## Details about issue

**Creating the bootstrap repository**
[code]

**Checking the Repository "modul

[2020-11-12 12:16] meaksh commented on #2824
Hi @StefanSa ,
the "clock" is shown when there is still a "pending / picked up" actions. How the "Events -> History" look for on of those clients?

Maybe there are some stuck actions there that might be cancelled.

[2020-11-12 12:31] stdevel opened #2842 "Bootstrapping SLES4SAP12 SP5 fails: One or more requisite failed: bootstrap.salt-minion-package"
I'm trying to bootstrap a SLES4SAP12 SP5 client with the UI and Salt but it fails. I also have other SLES4SAP machines that were bootstrapped successfully.

This issue seems to be similiar to #2740 - but there are no missing packages. See details below.

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_

[code]

##

[2020-11-12 12:35] stdevel commented on #2838
Hi @dkloos,
you will need to mirror the Uyuni Client repository as the official SUSE utilities will not work (or are not available to SLE 12). See section "Client Tools" here: [https://www.uyuni-project.org/pages/stable-version.html](https://www.uyuni-project.org/pages/stable-version.html)

Best wishes!

[2020-11-12 15:07] dkloos commented on #2838
@stdevel
Thanks for the reply.
But I get the same result.
1. I created a seperate Channel
2. Addedn the Repository to it
3. Synced it
4. Started bootstrap repo create with the channel as parent

Am I missing something?
[code]

[2020-11-13 04:43] scomcd commented on #2359
Hi @meaksh,

Thanks very much for that, my apologies, I should have noticed the discrepancy when I ran the diff's.
Happy to confirm the Oracle ULN repository synchronisation is working now from the command line.
We will be eagerly awaiting the next update with the fix for the GUI ULN issue.
Many thanks to you and your team for the effort you have put in to solve this issue.

[2020-11-13 09:01] meaksh commented on #2359
These are great news!

Thank a lot @scomcd for the collaboration here and the efforts on testing this! We really appreciate! :+1:

[2020-11-13 09:32] #2359 closed

[2020-11-13 10:48] StefanSa commented on #2824
Hi @meaksh

i found this with all affected clients
[code]

[2020-11-13 12:14] dkloos commented on #2838
I just saw thet the Architekture of the repositories is mentioned as "PPC64LE". Can this be the issue that it's in upper case?

[2020-11-13 13:40] meaksh commented on #2824
@StefanSa could you please schedule a "Highstate" action and also a "Package Profile Refresh" (Software -> Update Package List) action for those systems?

That should make sure the channels are properly set and the actual package profile from those minions is updated on SUMA.

After those actions are completed. You would need to wait some minutes until the "errata-cache" taskomatic job is executed

[2020-11-14 11:59] StefanSa commented on #2824
hi Pablo @meaks, muchas graciash.
Thanks to your competent help, everything is OK again.
Greetings to my beloved Canary Islands.
You can close this ticket.

[2020-11-16 11:03] Etheryte commented on #2661
The root cause of this was clashing dependencies. The issue has now been fixed and the fix will be included in the next release.

[2020-11-16 11:03] #2661 closed

[2020-11-17 11:17] lucidd commented on #2595
i tried to reproduce the issue but did not quite get the same result.

from salt (version 3000.3) i'm seeing this error
[code]

while in the web ui the failed action is visible in the history with the error `Minion is down or could not be contacted.`

can you check if you see the failed action in `/rhn/systems/details/history/History.do?sid=your_system_id`.

[2020-11-17 11:25] meaksh commented on #2824
@StefanSa great to hear that!

Thank you! Your greetings are really welcomed here :beach_umbrella: :volcano:  :canary_islands:  :smile:

[2020-11-17 11:25] #2824 closed

[2020-11-17 15:45] mcalmer commented on #2517
According to our SCC Team this upgrade path is now available. There maybe a cache in place, but you can try tomorrow if SP Migration offers you a migration from Leap 15.1 to 15.2 .

Don't forget to run `mgr-sync refresh` before to get the latest data.

[2020-11-17 15:45] #2517 closed

[2020-11-17 18:07] stdevel commented on #2838
Hi @dkloos,
where do you see the upper-case ppc64le?

I just spotted a typo in your last command:

[code]

`ppc54le` should be `ppc64le` - could you try again?

[2020-11-17 21:21] phibid commented on #2595
Just tried again, and indeed can see the error in `/rhn/systems/details/history/History.do?sid=your_system_id`

[code]

By "notification messages", I was referring to `/rhn/manager/notification-messages` which is empty.

My main concern is that this ssh auth issue does not appear in the main page system view `/rhn/systems/SystemList.do` whereas the failing system should appear as "inactive" or per

[2020-11-19 13:11] lucidd commented on #2595
I agree it would make sense to have more information presented as notifications. Currently notifications are added on a case by case basis and there is no automatic translation from failed events to notifications.

The system should still get the status inactive since that happens if the system does not check in for a certain amount of time.

[2020-11-20 10:13] StefanSa commented on #2473
hi there,
Can this be forced please, this bug can e.g. this patch cannot be installed because it is larger than 100MB.
` openSUSE-2020-1962 - Security Advisory`

[2020-11-20 15:28] mcalmer commented on #2473
I tried to understand how this works.

When you call on the proxy
[code]
it will connect to the server, get the package list, and create this cache file.
Than you go to the server, call:
[code]
send the `EXPORT` directory to the proxy and call there:
[code]
which copy the files from the `EXPORT` dir into `/var/spool/rhn-proxy/...`.

With the fixed from the attached PR this works fine.

There is on

[2020-11-20 15:31] mcalmer commented on #2473
Btw: there is always the possibility to increase the timeouts to get the standard proxy behavior working.
Check rhn.conf on proxy and server for timeout parameters.

[2020-11-20 16:01] StefanSa commented on #2473
@mcalmer
Hi Michael,
i don't want to force a solution here, but it should be practical.
i think that i'm not alone with large repo files and proxy, how did you solve the problem only inrcrease timouts?

[2020-11-21 10:53] sbluhm opened #2881 "Adapt spacewalk-java to work with stock OpenJDK 11 [RHEL8]"
# Additional Information

The current spacewalk-java module depends on SUSE's version of OpenJDK 11 which provides the non-standard modules com.sun.xml.bind and java.annotation.
Updating the dependencies to the stock OpenJDK versions (without these modules) cleans the code and allows the execution on alternative OS with standard OpenJDK 11 versions.

## Version of Uyuni Server and Proxy (if used)

[2020-11-22 10:07] sbluhm opened #2885 "Create a command line wizard to create the setup_env.sh file [RHEL8]"
# Additional Information

For the installation and migration of Uyuni, a setup_env.sh file with configuration options is required. Currently, this file is created by a wizard using yast2. To remove the dependency to yast2, a simple standalone wizard should be created as alternative. This will allow non-SUSE distributions.

### Current installation Process:
yast2 --> /usr/lib/susemanager/bin/mgr-se

[2020-11-23 08:04] milari commented on #2591
Hi,
You say something like this?
![Cattura](https://user-images.githubusercontent.com/26594772/99939655-d946a100-2d6a-11eb-8f96-9c64cd1f7e8f.PNG)

[2020-11-23 08:06] milari commented on #2591
Please, take a look also to:
https://github.com/SUSE/doc-susemanager/issues/921
Thanks,
M.

[2020-11-23 14:01] digdilem opened #2889 "Uyuni formula for Prometheus fails on Centos targets because of missing package"
# Package referenced in setup guide is missing for all versions of Centos, despite guide saying it's supported.

## Version of Uyuni Server and Proxy (if used)
2020-09, with patch. No proxy.

## Details about issue

Following monitoring guide for a Centos 7 target at https://www.uyuni-project.org/uyuni-docs/uyuni/administration/monitoring.html

Applying Highstate stage fails with package "golang-g

[2020-11-23 14:20] EthanB11 opened #2890 "Gitlab repo sync not importing"
# Additional Information

Packages download fine, but are not importing

Opening ticket per @moio repo URL is https://packages.gitlab.com/gitlab/gitlab-ce/el/7/x86_64

## Version of Uyuni Server and Proxy (if used)
[code]

## Details about issue
The importing into tasks are taking hours, but after looking they seems to have all died. It had 33 batches and only some completed.

reposync/gitlab-el7.

[2020-11-24 08:54] dkloos commented on #2838
Hi @stdevel,
yes I tried it again with the same result. The Typo is not the problem.

On system Side I see the arch as ppc64le as lower case
![image](https://user-images.githubusercontent.com/44433238/100071060-eaf77980-2e3a-11eb-9bb8-538f6ccd299d.png)

on Channel side it is upper
![image](https://user-images.githubusercontent.com/44433238/100071123-fe0a4980-2e3a-11eb-99a6-7624d3699b5e.png)

It ma

[2020-11-24 14:16] moio commented on #2890
Thanks for reporting! I can't guarantee a short turnaround time on this one but it's on my list and I will try!

[2020-11-24 19:06] EthanB11 opened #2902 "Unexpected error: <class 'spacewalk.server.importlib.importLib.InvalidPackageError'>"
# Additional Information

Having issues syncing 2 Fedora 32 packages for a few Uyuni releases. Packages seems to download, but not import. I found one other closed issue like this https://github.com/uyuni-project/uyuni/issues/2647, but my log file isn't showing a download error and I have already bypassed IPS for my Uyuni host. It's interesting the other ticket also shows package kicad-packages3d-

[2020-11-25 09:57] milari commented on #2591
uyuni:/var/log/rhn/reposync # mgr-create-bootstrap-repo --with-custom-channels
1. centos-7-x86_64-uyuni
2. centos-8-x86_64-uyuni
3. openSUSE-Leap-15.2-x86_64-uyuni
4. oracle-7-x86_64-uyuni
Enter a number of a product label: 4

Creating bootstrap repo for oracle-7-x86_64-uyuni
copy 'python-jinja2-2.7.2-4.el7.noarch'
copy 'python-requests-2.6.0-10.el7.noarch'
copy 'python-setuptools-0.9.8-7.el7.noar

[2020-11-25 11:56] juliogonzalez commented on #2129
Ping @ggardet :-)

[2020-11-25 15:45] ktsamis opened #2905 "Installed Products field in ppc64le centos 7 traditional client is empty"
# Additional Information

The `Installed Products:` field in ppc64le centos 7 traditional client is empty.

## Version of Uyuni Server and Proxy (if used)

`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_
[code]
No proxy used.

## Details about issue
_Include as many details as you can. The procedure you are following,  the commands you are running, logs (spec

[2020-11-25 15:56] ktsamis commented on #2905
On salt ssh, same product I have:
[code]

[2020-11-25 17:14] ktsamis opened #2906 "server error on attaching sources to content lifecycle project"
# Additional Information

I created a content lifecycle project because I want to manage a centos 8 salt-ssh minion with the appstream module. I created the project and tried to add Sources with this info:

[code]
I selected all the available channels for centos 8 sources.
When I click Save I get `Server error, please check log files.` and I see the error below in `Details about issue` in the rhn_

[2020-11-26 06:51] sbluhm opened #2907 "Parameterise installation/run mode folders for Uyuni server [RHEL8]"
# Additional Information

The Uyuni server folder is hard coded in install and run mode files to `/srv/`. As operating systems define different folders for application storage, this location should not be hard coded. Same goes for other file path.
- Worst case implementation: At the top of the files as variable.
- Best case implementation: Config file.

## Version of Uyuni Server and Proxy (if use

[2020-11-26 11:58] #2906 closed

[2020-11-26 12:16] juliogonzalez commented on #2591
I think you just hit a problem on how spacewalk-common-channels is working. Did you get:

When you added the channels via spacewalk-common-channels?

If so, that happens because you already have the repository defned for CentOS7, as the URL is the same for RHEL, CentOS and Oracle 7.

Try to manually aisng the CentOS7 uyuni client tools repository to the Oracle 7 Client tools Channel, launch a sync

[2020-11-26 13:34] ktsamis commented on #2906
I can verify that this fixes the server error. Thanks @cbbayburt :1st_place_medal:

[2020-11-26 13:47] ktsamis opened #2910 "Adding the cpu mitigations formula and trying to run the highstate fails to render"
# Additional Information

Adding the cpu mitigations formula and trying to run the highstate:

[code]
## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release` _and_ `zypper info Uyuni-Proxy-release` _(if used)_
[code]

## Details about issue
_Include as many details as you can. The procedure you are following,  the commands you are running, logs (specially from_ `/var/log/

[2020-11-26 14:11] eins opened #2911 "ubuntu 16.04 security repo missing"
Hello Folks
I added ubuntu 16 base repo
[code]
just I saw in uyuni documentation, and 1604 channels are very similar to the 1804 repositories
 https://www.uyuni-project.org/uyuni-docs/uyuni/client-configuration/clients-ubuntu-old.html

I don't have the ubuntu-1604-amd64-main-security-uyuni  repository

If I try to add that particular repository I have this output:
[code]

I don't want to delete th

[2020-11-26 14:18] milari commented on #2591
Hi,
I don't know, because in /var/log/rhn/reposync there isn't a log for oraclelinux7-uyuni-client-tools.
Sync date for centos7:
![immagine](https://user-images.githubusercontent.com/26594772/100361250-386e1500-2ffa-11eb-9453-147bd570c95b.png)

So I tried to manually add to this channel, packages of centos7 one:
![immagine](https://user-images.githubusercontent.com/26594772/100361406-6c493a80-2ffa

[2020-11-26 14:27] milari commented on #2591
anyway, if now it's all right, why pkg management on clients, still fails?

# yum install xauth
Loaded plugins: susemanagerplugin
https://uyuni.example.it:443/rhn/manager/download/oraclelinux7-x86_64/repodata/repomd.xml: [Errno 14] curl#22 - "The requested URL returned error: 503"
Trying other mirror.

 One of the configured repositories failed (Oracle Linux 7 (x86_64)),
 and yum doesn't have enou

[2020-11-26 14:30] juliogonzalez commented on #2911
The correct name for 16.04 is `ubuntu-1604-amd64-security-uyuni`.

We'll need a fix for the doc.

@Loquacity this a bug for you. The repositories are:

- ubuntu-1604-pool-amd64-uyuni
- ubuntu-1604-amd64-main-uyuni
- ubuntu-1604-amd64-updates-uyuni
- ubuntu-1604-amd64-security-uyuni
- ubuntu-1604-amd64-universe-uyuni
- ubuntu-1604-amd64-universe-updates-uyuni
- ubuntu-1604-amd64-uyuni-client

[2020-11-26 14:32] juliogonzalez commented on #2911
@eins or if you feel breave, you can fix this with a PR for this: https://raw.githubusercontent.com/uyuni-project/uyuni-docs/master/modules/client-configuration/pages/clients-ubuntu-old.adoc

[2020-11-26 14:41] milari commented on #2591
And if I try to bootstrap any system, also yet added to systems list, I always receive message:
 Error during applying the bootstrap state, message: Salt user does not have sufficient permissions
Thanks,
M.

[2020-11-26 15:21] eins commented on #2911
added pull request with the line that we talked about it
ubuntu-1604-amd64-security-uyuni

I couldn't find a way to add a realistic example:

[code]

and the warning if you need to add one channel:
[code]

[2020-11-26 15:35] juliogonzalez commented on #2911
At the doc? No need, just you just need to adjust the channel names on the table. I think you need to adjust more than one, notice that ` ubuntu-1604-amd64-main-uyuni ` and `ubuntu-1604-amd64-main-updates-uyuni` are not right for ubuntu16.04 (compare it with the list I gave above).

What warning :-?

[2020-11-26 15:49] eins commented on #2911
Oh you are right I fixed two:
+ ubuntu-1604-amd64-updates-uyuni
+ ubuntu-1604-amd64-security-uyuni
you added ubuntu-1604-amd64-main-uyuni . is this correct ?

About the warning, I mean there isn't so much information in that particular package about what to do if you need to add a particular channel like ubuntu-1604-amd64-security-uyuni
it isn't a warning though

[2020-11-26 16:18] juliogonzalez commented on #2911
This one was already there. I gave the complete list on this issue so it could be verified on the doc. PR looks good now.

Well, it's an ERROR IIRC. And in such case it's either that you wrote the wrong name, or (most likely, such in this case) that the doc has a bug.

We could tell users to check the file `spacewalk-common-channels.ini`, but maybe they'd be scared about it, and in this case you c

[2020-11-28 10:43] stdevel commented on #2838
Hi @dkloos,
what happens if you run `/usr/sbin/mgr-create-bootstrap-repo` without any parameters?

Could be a bug, usually this should work. Maybe somebody from the developer team can try to reproduce this. I don't have any Power hardware to check.

[2020-11-30 01:00] juliogonzalez commented on #2591
Sorry, but we need to go back some steps. We are mixing issues here.

First of all, clean the Oracle7 client tools channel. You don't need to add any packages manually as you did.

Then you add the CentOS7 client tools repository to the Oracle7 client tools channel. I don't see that on any of the screenshots above. The closest one is:
![image](https://user-images.githubusercontent.com/4226070/1005

[2020-11-30 08:16] ggardet commented on #2129
Sorry, I was busy on other topics. I will try to test this on the next weeks. Sorry for the delay.

[2020-11-30 09:53] milari commented on #2591
Hi,
not sure to have undrestand correctly your request... but I'll try to explain/resume here experienced issues.

I have added channel centos 7; added channel oraclelinux7; when syncing channel, the oracle tools client of latest one (oracle) fails with message You correctly reported before and that's the main theme of this issue.

Later, I've copied manually centos 7 packages in oracle linux 7 cl

[2020-11-30 13:25] juliogonzalez commented on #2591
First question: are you managing both CentOS7 and Oracle7?

Assuming that the answer is yes: If you manage both CentOS7 and Oracle7 and enable all channels for CentOS7 first, then `spacewalk-common-channels` will complain when you add Oracle 7 as the Oracle 7 client tools can create a repository with the same URL that is used by CentOS7 client tools. You should get an error about that. I assume th

[2020-11-30 13:38] milari commented on #2591
Hi,
honestly I don't understand the point.
Anyway:
- removed packages from oracle 7 uyuni client tools
Now channel list is this one (no packages in latest raw):
![immagine](https://user-images.githubusercontent.com/26594772/100616482-70869800-3319-11eb-9518-a414b564cdf7.png)
Now going to the repo of last channel, try to sync and again:
![immagine](https://user-images.githubusercontent.com/26594772

[2020-11-30 15:42] juliogonzalez commented on #2591
Go to "add/remove", and add the CentOS7 client tools repository to that channel.

Then, even with a sync, the packages from the CentOS7 client tools repository  should become available for `Uyuni Client Tools for Oracle Linux 7 (x86_64)` channel. If not, force a reposync.

In the end you will have one repository for the CentOS7 client tools, assigned to to channels (one is the client tools for Cen

[2020-11-30 15:50] #2703 closed

[2020-11-30 16:38] milari commented on #2591
Hi,
sorry to say that something still missing, imho... let me try to explain:
![immagine](https://user-images.githubusercontent.com/26594772/100636762-55745200-3332-11eb-8767-deea818bb848.png)

In upper suggested channel, I've added the other one:
![immagine](https://user-images.githubusercontent.com/26594772/100636807-691fb880-3332-11eb-8307-02401a4d60b2.png)

forced resync of oracle 7 repo and t

[2020-11-30 21:38] juliogonzalez commented on #2591
Add the Uyuni Client tools for CentOS7 **repository** to the Uyuni CLient Tools for Oracle Linux **channel**

On your screenshot you are adding the repository to the wrong channel (Oracle Linux 7)

[2020-12-01 08:58] milari commented on #2591
Hi.
Thanks, latest instructions worked!
Let me do some tests... in the meanwhile, would You please suggest me how address other problem discovered previously (all clients added "behind" a proxy seem doesn't work correctly with repos)?

[2020-12-01 09:05] brejoc commented on #2624
SR got accepted, closing the issue.

[2020-12-01 09:05] #2624 closed

[2020-12-01 17:39] juliogonzalez commented on #2591
Glad it worked! :-)

Still what I gave you is a workaround. We already have an internal card to fix this, and I asked our team to give some priority to it, so this can be done transparently with `spacewalk-common-channels`.

As for your other issue with clients and proxy, please create a new GitHub issue for it, so we can track the research (and potential fix) separately.

[2020-12-02 00:03] #2911 closed

[2020-12-02 11:47] dkloos commented on #2838
The Same result. The "mgr-create-bootstrap-repo" is not able to find the packages. But they are present. It is not working for both architectures (x86 & ppc64le ).

[2020-12-03 12:56] milari opened #2963 "uyuni proxy doesn't work as expected: all proxed systems cannot access repos"
Hi.
I've a setup of a uyuni server with a proxy.
- systems directly connected to server, work as expected.
- systems connected to proxy fail with package managemet at all
There's a configuration part still not yet reported in manuals?

What's report /var/log/messages, on client system, when I try to install a pkg from uyuni:

Dec  3 09:53:03 labgraphite systemd: Started /usr/bin/yum --quiet --assu

[2020-12-03 13:58] sbluhm opened #2964 "pxe-default-image for RHEL8 [RHEL8]"
# Additional Information
pxe-default-image delivers a default image for a OpenSUSE 15. It would be nice to have a RHEL version for that.

## Version of Uyuni Server and Proxy (if used)
Uyuni-Server-release: master/2020-12-03

## Details about issue
https://build.opensuse.org/package/show/systemsmanagement:Uyuni:Master/pxe-default-image-opensuse15

[2020-12-04 17:15] #2420 closed

[2020-12-05 09:52] stdevel opened #2973 "Enabling monitoring is not possible in Uyuni 2020.11"
# Additional Information

Enabling the integrated monitoring in accordance with [the documentation](https://documentation.suse.com/external-tree/en-us/suma/4.1/suse-manager/administration/monitoring.html#_configure_suse_manager_monitoring) is not working.
When clicking the "**Enable**" button, the following error is written to the Tomcat log:

[code]

## Version of Uyuni Server and Proxy (if used)

[2020-12-05 13:28] #2473 closed

[2020-12-05 15:36] mcalmer commented on #746
PRs were merged. Should be in the next Uyuni release

[2020-12-05 15:36] #746 closed

[2020-12-05 16:47] bmanojlovic commented on #746
appreciated, thanks to everyone involved

[2020-12-07 07:22] #2484 closed

[2020-12-10 14:56] digdilem opened #3001 "Feature request: Give users the option to remove unused items in the menu bar."
## Priority:
Low - Nice to have.

## Scope:
Web UI only.

## Version: All
The menu bar is getting quite full, with several top-level options that I personally do not use, either as they target Suse clients, or I just don't need that functionality.

It would aid my workflow to hide or show these on a per-user basis.

## Suggested method:
1. Under "My Preferences" at /rhn/account/UserPreferences.do

[2020-12-10 14:57] witekest commented on #2973
Could you please [enable debug logging](https://github.com/uyuni-project/uyuni/wiki/Java-Logging#tomcat) and post preceding debug information? In particular I'm interested in lines containing:

`/usr/sbin/mgr-monitoring-ctl output:`

[2020-12-10 16:04] paususe commented on #1938
What we are missing here is a .deb notifier, like yumnotify and zyppnotify

Here's an example of an apt hook:
https://salsa.debian.org/debian/how-can-i-help/-/tree/master

From looking at that hook, and at what our yumnotify and zyppnotify do, it seems writing an aptnotify should be rather simple.

More details here:
https://askubuntu.com/questions/869219/how-can-i-run-a-script-after-a-specific-pa

[2020-12-12 13:05] mcalmer commented on #2838
When you generate the bootstrap repository in Uyuni need to take care that you also have the Client Tools Channels for your products. You do not get them via SCC as it would require a SUSE Manager subscription. So we disabled it for Uyuni and provide Uyuni Client Tools in `spacewalk-common-channels`.

The Client Tools Channels are made for a "Code Stream". In your case SLE12 SP4. It is valid for S

[2020-12-12 13:27] mcalmer commented on #2963
You got an 500 ISE. So the error is either on the proxy or on the server. Check the logs. Maybe you find a hint.

[2020-12-12 13:34] mcalmer commented on #2842
For better debugging what happen on the minion during the salt ssh session you can set the following on the **master**

/etc/salt/master.d/debug.conf
[code]

restart salt-master/api and bootstrap again.
When it failed again check on the **minion** /var/log/salt-ssh.log

[2020-12-12 13:37] mcalmer commented on #2818
@meaksh @StefanSa is this fixed now? I hope the Leap update is out now. If yes, please close the issue. Thanks.

[2020-12-12 13:38] mcalmer commented on #2141
closing as suggested

[2020-12-12 13:38] #2141 closed

[2020-12-12 13:44] mcalmer commented on #2057
no response, so let's close it

[2020-12-12 13:44] #2057 closed

[2020-12-12 13:51] mcalmer commented on #2113
For a proper re-registration you need to generate a re-registration key and configure it on the client. With salt configure a grain

[code]

Maybe this feature was not available in Apr. but it is now with the latest Uyuni version.

[2020-12-12 13:53] mcalmer commented on #2096
I think this problem should be solved with 2020.11 . If there are new problems with the latest version, please open a new issue.
Thanks.

[2020-12-12 13:53] #2096 closed

[2020-12-13 00:24] noelmcloughlin commented on #2082
Hi, I help maintain prometheus-formula and this issue is logged there too.
 https://github.com/saltstack-formulas/prometheus-formula/issues/47
What is the Uyuni client tools channel and should promethtus-formula support that source? (since we aim to be comprehensive).

[2020-12-14 07:54] milari commented on #2963
Hi, thanks for your answer.
If this may be a trace, I see on proxy logs, that broker trace request from client, but no redirect trace requests:

uyuniproxy:/var/log/rhn # ll
total 40
-rw-rw---- 1 wwwrun www 29909 Dec 14 08:50 rhn_proxy_broker.log
-rw-rw---- 1 wwwrun www  4505 Nov 27 17:35 rhn_proxy_redirect.log

Please let me know if there're other files where I can search for hints.
Thanks a lot.

[2020-12-14 08:44] mcalmer commented on #2963
Check also the apache error_log

[2020-12-14 08:50] milari commented on #2963
[Mon Dec 14 09:05:09.133539 2020] [wsgi:error] [pid 2089] [client 172.16.37.150:41640] \tmod_wsgi.enable_sendfile: 0
[Mon Dec 14 09:05:09.133550 2020] [wsgi:error] [pid 2089] [client 172.16.37.150:41640] \tmod_wsgi.handler_script:
[Mon Dec 14 09:05:09.133560 2020] [wsgi:error] [pid 2089] [client 172.16.37.150:41640] \tmod_wsgi.ignore_activity: 0
[Mon Dec 14 09:05:09.133569 2020] [wsgi:error] [pid

[2020-12-14 08:57] mcalmer commented on #2963
This sounds like a problem with your SSL certificates. Please always use FQDNs (name.domain.top) - everywhere!
Otherwise you will hit tons of these problems all around your systems. A DNS server is a requirement anyway, so specify your own domain if you do not have one.

The other error seems to be a followup if the first error. But I will ask somebody to check it.

[2020-12-14 09:04] mcalmer commented on #2963
What does `rpm -q python3-pycurl` return executed on the **proxy** ?

[2020-12-14 09:05] milari commented on #2963
uyuniproxy:/var/log/apache2 # rpm -q python3-pycurl
python3-pycurl-7.43.0.2-lp152.2.9.x86_64

[2020-12-14 09:05] mcalmer commented on #2963
And have you `traceback_mail` configured in /etc/rhn/rhn.conf?

[2020-12-14 09:06] milari commented on #2963
not yet

[2020-12-14 09:08] mcalmer commented on #2963
ok, that explains the last traceback. It try to send the error as email, but as no email address is defined it could not.
But it should not crash :-)

[2020-12-14 09:24] milari commented on #2963
ok, so in the meanwhile, starting from absence of dns (my actual domain is example.it):
- Assign Hostname to Loopback IP associates your host name with 127.0.0.2 (loopback) IP address in /etc/hosts ?
Or wait for other suggestions?
Thanks a lot.

[2020-12-14 12:04] vzhestkov commented on #2963
@milari , could you please check with changing lines 271-272 at `/usr/lib/python3.6/site-packages/spacewalk/common/suseLib.py` to:
   271              if e.args[0] == 56:  # Proxy requires authentication
   272                  log_debug(2, e.args[1])

[2020-12-14 12:26] milari commented on #2963
Hi,
after change:
https://uyuniproxy.example.it:443/rhn/manager/download/centos7-uyuni-client-x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 403 - Forbidden

[2020-12-14 12:45] vzhestkov commented on #2963
@milari, are these messages from the uyuni proxy, right?

[2020-12-14 12:47] milari commented on #2963
- "forbidden message" from client trying yum update
- apache logs from proxy

[2020-12-14 12:56] vzhestkov commented on #2963
Is there proxy configured in the environment variables on the uyuni proxy system? If so add uyuni server to exclude list.
The other possible items to check:
Is `mgr_server` pillar pointing to the proxy server?:
`salt MINION_ID pillar.items mgr_server`
Also try to perform `salt MINION_ID state.apply channels`.

[2020-12-14 13:02] milari commented on #2963
Hi.
first part of suggestion isn't really clear for me.
I've followed setup guide during proxy install.

Second part, generally salt works on proxy managed minions; from master:
labgraphite.dtc.local:
    ----------
    mgr_server:
        uyuniproxy.example.it

uyuniserver:/srv/www/htdocs/pub/bootstrap # salt labgraphite.dtc.local state.apply
labgraphite.dtc.local:
    Data failed to compile:
---

[2020-12-14 16:05] vzhestkov commented on #2963
@milari you tried to apply the highstate, not `channels` state. The last message is that `manager_org_1.telegraf_for_centos` state is malformed.
execute the following:
`salt labgraphite.dtc.local state.apply channels`
provide the output if possible and if it changes anything.

[2020-12-14 17:00] milari commented on #2963
labgraphite.dtc.local:
----------
          ID: mgrchannels_susemanagerplugin_yum
    Function: file.managed
        Name: /usr/share/yum-plugins/susemanagerplugin.py
      Result: True
     Comment: File /usr/share/yum-plugins/susemanagerplugin.py is in the correct state
     Started: 17:57:58.185806
    Duration: 151.482 ms
     Changes:
----------
          ID: mgrchannels_susemanagerplugin_con

[2020-12-14 17:01] milari commented on #2963
----------
          ID: mgrchannels_yum_clean_all
    Function: cmd.run
        Name: /usr/bin/yum clean all
      Result: True
     Comment: unless condition is true
     Started: 17:57:58.556144
    Duration: 1960.974 ms
     Changes:

Summary for labgraphite.dtc.local
------------
Succeeded: 4 (changed=1)
Failed:    0
------------
Total states run:     4
Total run time:   2.319 s

[2020-12-14 17:04] milari commented on #2963
Indeed, from client, after a yum update:
https://uyunip.example.it:443/rhn/manager/download/centos7-uyuni-client-x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 403 - Forbidden
[root@labgraphite ~]#

The same from proxy apache logs:
[Mon Dec 14 18:02:39.283864 2020] [wsgi:error] [pid 2090] [client 172.16.37.150:41944] CONFIG PARSE WARNING: File not found or can't be read /usr/share/rhn/config-d

[2020-12-14 17:10] vzhestkov commented on #2963
Try to get the repomd.xml with the following command:
`curl -i https://uyuniproxy.example.it:443/rhn/manager/download/centos7-x86_64-updates/repodata/repomd.xml?eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2Mzg1MjA0OTksImlhdCI6MTYwNjk4NDQ5OSwibmJmIjoxNjA2OTg0Mzc5LCJqdGkiOiJCWnBYNlRpSXZJN2ZnRHRpNHZHbC1RIiwib3JnIjoxLCJvbmx5Q2hhbm5lbHMiOlsiY2VudG9zNy14ODZfNjQtdXBkYXRlcyJdfQ.uhge2vyt6P0zVxFuDpQZ72zCKkws6ctP3n7eA0Z

[2020-12-14 17:14] milari commented on #2963
from proxy -> server:
uyunip:/tmp # curl -i https://uyuniserver.example.it:443/rhn/manager/download/centos7-x86_64-updates/repodata/repomd.xml?eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2Mzg1MjA0OTksImlhdCI6MTYwNjk4NDQ5OSwibmJmIjoxNjA2OTg0Mzc5LCJqdGkiOiJCWnBYNlRpSXZJN2ZnRHRpNHZHbC1RIiwib3JnIjoxLCJvbmx5Q2hhbm5lbHMiOlsiY2VudG9zNy14ODZfNjQtdXBkYXRlcyJdfQ.uhge2vyt6P0zVxFuDpQZ72zCKkws6ctP3n7eA0Z_mkU
HTTP/1.1 200

[2020-12-14 17:16] milari commented on #2963
from minion -> proxy:
curl -i https://uyuniproxy.example.it:443/rhn/manager/download/centos7-x86_64-updates/repodata/repomd.xml?eyJhbGciOiJIUzI1NiJ9.eyJleHAiOjE2Mzg1MjA0OTksImlhdCI6MTYwNjk4NDQ5OSwibmJmIjoxNjA2OTg0Mzc5LCJqdGkiOiJCWnBYNlRpSXZJN2ZnRHRpNHZHbC1RIiwib3JnIjoxLCJvbmx5Q2hhbm5lbHMiOlsiY2VudG9zNy14ODZfNjQtdXBkYXRlcyJdfQ.uhge2vyt6P0zVxFuDpQZ72zCKkws6ctP3n7eA0Z_mkU
HTTP/1.1 403 Forbidden
Date:

[2020-12-14 17:22] vzhestkov commented on #2963
It seems that the traceback was fixed with the modification I provided, but the rest issues are related to some issues with the setup. Most probably some of the packages missing on the proxy server.

[2020-12-14 17:23] vzhestkov commented on #2963
Try to apply the highstate for the proxy server:
`salt MINION_IF_OF_THE_PROXY state.apply`

[2020-12-14 17:26] milari commented on #2963
But I currently use same packages with servers "without proxy" and they are fine!

[2020-12-14 17:30] vzhestkov commented on #2963
I mean the uyuni proxy is missing some of the configuration files most probably because some of required packages are not installed.

[2020-12-14 17:30] milari commented on #2963
I hope to have understand correctly your request...
:)
Thanks.
M.
[proxy.txt](https://github.com/uyuni-project/uyuni/files/5690520/proxy.txt)

[2020-12-15 05:40] vzhestkov commented on #2963
@milari are there `spacewalk-proxy-installer` and `spacewalk-backend` packages installed on the proxy? Please attach the output of `rpm -qa | grep -i spacewalk`

[2020-12-15 08:08] milari commented on #2963
uyuniproxy:~ # rpm -qa | grep -i spacewalk
spacewalk-proxy-docs-4.2.1-1.1.uyuni.noarch
spacewalk-base-minimal-4.2.2-1.1.uyuni.noarch
spacewalk-proxy-management-4.2.1-1.1.uyuni.noarch
spacewalk-proxy-package-manager-4.2.1-1.1.uyuni.noarch
spacewalk-ssl-cert-check-4.2.1-1.1.uyuni.noarch
spacewalk-proxy-html-4.2.1-1.1.uyuni.noarch
spacewalk-base-minimal-config-4.2.2-1.1.uyuni.noarch
python3-spacewalk

[2020-12-15 08:45] mcalmer commented on #2963
When a client try to access a package in the proxy, the proxy issue a HEAD request to the server to test if the "token" has access to the package. If this failed for whatever reason the proxy return 403 as the authentication test failed.

You had also problems with the SSL certificate. Please check if there are still errors reported in apache error_log.
If the Head request failed because of SSL er

[2020-12-15 08:50] sbluhm opened #3022 "smdba throws error on mgr-setup/installation"
# Additional Information

During a new setup/reinstallation this error message appears during the execution of `/usr/lib/susemanager/bin/mgr-setup`:
[code]

Execution snipplet:
[code]
I have traced the issue down to a call to

https://github.com/uyuni-project/uyuni/blob/e24afbf4dfb224c8c6a804f9c5793d7eaf3f7107/susemanager/bin/mgr-setup#L846

## Version of Uyuni Server and Proxy (if used)
Version

[2020-12-15 08:55] phibid opened #3023 "Reposync for Ubuntu not working since Uyuni 2020.11"
Since the ugprade of Uyuni from 2020.09 to 2020.11, syncing Ubuntu repo is not working anymore:

Here is the complete error:

[code]

[2020-12-15 09:11] milari commented on #2963
Hi.
Thanks for the hint!
After changing in the proxy config the short with the fully qualified, something has changed (passing from 403 to 404.
In every case, this may be an expected result, so please let me check some more things before.
I'll let You know.

[2020-12-15 09:12] mcalmer commented on #3022
@jordimassaguerpla when I grep for `<=` in smdba code I find this:
[code]
postgresqlgate.py Line 962 . I think we need an `int()` around pg_version.

@sbluhm can you try to change this manual on your test system and check if it helps?

[code]

[2020-12-15 09:15] sbluhm commented on #3022
Will do. I have to admit that I did not dare to grep for `<=`.

[2020-12-15 09:22] phibid opened #3024 "DB schema upgrade triggered after each Uyuni services start"
After the upgrade from Uyuni 2020.09 to 2020.11, I can see that each time I start the Uyuni services, it tries to upgrade the DB schema:

Stopping:

[code]

Starting:

[code]

From the jounalctl output, I can see that no upgrade was actually necessary:

[code]

[2020-12-15 09:24] sbluhm commented on #3022
The output has been changed from
[code]
to
[code]
So looking good.

[2020-12-15 09:24] milari commented on #2963
Hi,
as said, it seems working now: only a key hasn't been passed from master to proxy and I'm finding to understand why.
In any way following new error_log of apache:

[Tue Dec 15 10:19:09.255135 2020] [wsgi:error] [pid 19271] [client 172.16.37.150:42436] CONFIG PARSE WARNING: File not found or can't be read /usr/share/rhn/config-defaults/rhn_server.conf
[Tue Dec 15 10:19:09.255194 2020] [wsgi:err

[2020-12-15 09:46] jordimassaguerpla commented on #3022
https://github.com/SUSE/smdba/pull/43/files

[2020-12-15 09:50] jordimassaguerpla commented on #3022
Merged and fixed.
@sbluhm thanks for reporting. @mcalmer thanks for the quick workaround.

[2020-12-15 09:50] #3022 closed

[2020-12-15 17:48] milari commented on #2591
Hi,
I'd like to know if for the same reason reported above, is impossible to create a Distribution Channel Map for oracle linux if Centos one yet exist.
Thanks a lot.
![immagine](https://user-images.githubusercontent.com/26594772/102252209-19321b80-3f06-11eb-9c69-9cba6d7b57b9.png)

[2020-12-15 18:38] juliogonzalez commented on #3024
Yes, that's normal... since 2020.04 in fact: https://www.uyuni-project.org/doc/2020.11/release-notes-uyuni-server.html#_automated_schema_database_upgrades_and_failure_security_mechanism

The startup runs the DB upgrade script that checks if there's something to be applied. Nothing to worry about.

[2020-12-15 19:31] juliogonzalez commented on #3023
@meaksh does this ring a bell?

[2020-12-15 19:38] phibid commented on #3024
Ah ok. I knew that indeed the `spacewalk-schema-upgrade` was not needed anymore, but I don't remember to have seen this `Running DB schema upgrade` during each Uyuni service restart. Must be me memory playing tricks on me.

Closing this issue.

[2020-12-15 19:38] #3024 closed

[2020-12-16 09:01] meaksh commented on #3023
@juliogonzalez unfortunately not, first time I see that traceback.

[2020-12-16 16:00] agraul commented on #3023
The last TypeError (`... object does not support indexing`) could be the same as in https://github.com/uyuni-project/uyuni/issues/2963

[2020-12-16 16:05] agraul commented on #2910
JFYI this is fixed in [systemsmanagement:Uyuni:Master/cpu-mitigations-formula](https://build.opensuse.org/package/show/systemsmanagement%3AUyuni%3AMaster/cpu-mitigations-formula).

[2020-12-16 18:07] paususe commented on #3024
You don't need to run it manually but it's still happening (automagically) when required.

[2020-12-16 18:14] phibid commented on #3024
Automagically ? Nice word :-)

Mmmmh, when required or always ? This is my doubt now, is `spacewalk-schema-upgrade` not triggered after each and every restart (`spacewalk-service stop & stop`) ?

[2020-12-17 08:22] StefanSa opened #3040 "Unexpected error: <class 'spacewalk.server.importlib.importLib.InvalidPackageError'>"
# Additional Information
i get this error message while importing / linking a new repo.

[code]

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release`

[code]

[2020-12-17 08:24] StefanSa commented on #2902
Seems to be the same bug #3040

[2020-12-17 08:37] StefanSa commented on #3040
hmm, after the second attempt the sync was complete.

[2020-12-17 15:27] digdilem opened #3043 "Request: Please add support for Centos 8 Stream - Uyuni Tools"
# Please add a new set of uyuni tools build for Centos 8 Stream

Uyuni tools will need to be rebuilt for Centos 8 Stream (A rolling upstream repo, quite separate from Centos 8 Linux)

The existing tools repo for Centos 8 Linux does not work with Stream.

## For current and future versions
As Redhat have cancelled the traditional Centos 8 Linux model, with EOL Dec 2021, the recommended action is to

[2020-12-18 12:34] mcalmer commented on #3040
@StefanSa Can you check the logs in the "Importing packages to DB:" section? The section with all the

Package batch #1 of 305 completed...

or can you find something in the postgresql log?

Btw: what OS repo where you syncing? SUSE, CentOS, Fedora, Ubuntu, Debian, etc...?

[2020-12-18 12:35] mcalmer commented on #2902
@EthanB11 can you see errors in the postgresql logs of that day and time?

[2020-12-18 12:56] ricardoasmarques opened #3049 "CLM: Filter already error message is not displayed correctly"
When creating a filter with a name that already exists, we are displaying the "localization" message "key", instead of" text".

![localized-message-must-be-fixed](https://user-images.githubusercontent.com/14297426/102616988-5f6ac300-4130-11eb-83f7-d103583e94d4.png)

[2020-12-18 13:17] StefanSa commented on #3040
@mcalmer
we only have / use suse.
that was this repo `devel:/languages:/perl/openSUSE_Leap_15.2`
the only error message i found was this one:
[code]
the export was successful, but then the error message mentioned above appeared `Unexpected error`.

[2020-12-18 13:36] EthanB11 commented on #2902
I do not see errors in the postgresql data log for that date and time. I am looking at /var/lib/pgsql/data/log/postresql-2020-11-24_000000.log that seems to be the only place I can find postgresql logs. Anywhere else to look?

[2020-12-18 13:42] EthanB11 commented on #2902
I am also getting errors syncing Ubuntu repos after the upgrade to 2020.11 from the previous release. I can open a new issue for this if it's not related.

[code]

[2020-12-18 15:11] mcalmer commented on #3040
I have a different case, but the underlying problem is the same.
We import packages in parallel. If two batches want to insert the same key at the same point in time they lookup the key, but do not see that another bunch already added it until it is commited. The first one wins and the second gets a a unique constraint violation.

I added a fix for this in the PR.

[2020-12-18 15:28] rpasche commented on #3023
Can confirm this issue. Did an upgrade on our testing system. The error also happens on our system with Debian repos.

[code]

[2020-12-18 16:08] mcalmer commented on #3023
I think we have 2 problems here.

1. The `duplicate key value violates unique constraint` of the DB
this raise an exception and this trigger the second problem

2. 'SQLSchemaError' object does not support indexing
    Maybe `e[1]` => `e.args[1]` ?

For the first problem I would like to know what channel, name and arch create this problem.

`Key (channel_id, name_id, package_arch_id)=(122, 5, 145)

[2020-12-18 16:58] rpasche commented on #3023
[code]

[2020-12-18 17:09] rpasche commented on #3023
Another example:
[code]

[2020-12-18 17:18] mcalmer commented on #3023
I am really interested what these EVRs and packages are any why they make trouble. Please exec also:

$> "select * from rhnpackageevr where id in (2, 55777, 30181, 55187);" | spcewalk-sql --select-mode -
$> "select * from rhnpackage where id in (1, 216716, 102243, 211405);" | spcewalk-sql --select-mode -

Thanks

[2020-12-18 19:53] rpasche commented on #3023
[code]
Was that correct with one rhnpackage and rhnpackageevr?

[2020-12-18 21:32] rpasche commented on #3023
Another side issue right now. I'm unable to delete a package from Uyuni (so it can be resynchronized again - have again issues with some packages that seem to have missing Debian headers. See also https://github.com/uyuni-project/uyuni/issues/2442 for this). Really just a side note here.

When trying to delete a package from Uyuni, I get this within the `web_ui` logs.

[code]

It looks pretty the

[2020-12-21 09:47] witekest commented on #2973
@stdevel Are you able to provide additional information about your system from the debug logs?

[2020-12-21 09:50] stdevel commented on #2973
Hi @witekest!
I will keep you updated with the information requested - I'm currently on vacation and have no access to the system.

Is this okay?

Best wishes!

[2020-12-21 10:35] witekest commented on #2973
That's perfectly fine.

Best wishes to you too!

[2020-12-21 12:47] mcalmer commented on #3024
It is a systemd dependency and should be triggered by every "start" of the spacewalk.target .
As spacewalk-service start use this target to start all the services it will be done.
Additionally it is done when you update susemanager-schema package and the services are **not** stopped.

What we may improve in the future is a faster detection that the current schema is already applied and nothing nee

[2020-12-21 13:32] mcalmer commented on #3023
@rpasche something does not look good on your system

[code]
Here we expect only 1 row returned. 1 row per name_id/channel_id/package_arch_id.
The View `rhnChannelNewestPackageView` does a `max(evr)` which should result in only returning the highes evr

[code]
and it is clear that 55187 has a higher release part then 30181 .

Currently I can think of 2 possible problems.

1. The definition of the

[2020-12-21 14:20] mcalmer commented on #3023
Better us this one:

$> echo "select 1 from rhnpackageevr pv1, rhnpackageevr pv2 where pv1.id = 30181 and pv2.id =  55187 and pv1.evr < pv2.evr;" | spacewalk-sql --select-mode -

It should return "1", but I think it will not. Try also with "pv1.evr > pv2.evr" and "pv1.evr = pv2.evr". I think you will see the "1" returned on the equal test.

[2020-12-21 15:37] phibid commented on #3023
Trying your queries on my Uyuni server. Knowing that the error I have is:

`DETAIL:  Key (channel_id, name_id, package_arch_id)=(122, 5, 145) already exists.`

Here are the corresponding queries:

[code]

[code]

[code]

[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2020-12-21 15:45] mcalmer commented on #3023
As I expected. Again problems with the compare algorithm. The good news is, this should go away with the next Uyuni release.
We now splitted the version compare into RPM and DEB and store the type in rhnPackageEvr table.
I tried already this case, and the debian only algorithm works as expected and do not show them as equal.

[2020-12-21 16:08] rpasche commented on #3023
[code]

[code]
Expected error here
[code]
Lower as also not working
[code]

BUT equal seems to work!
[code]

[2020-12-23 08:38] stdevel commented on #2842
Hi @mcalmer!
I will keep you updated with the information requested - I'm currently on vacation and have no access to the system.

Is this okay?

Best wishes!

[2020-12-23 10:08] mcalmer commented on #2842
@stdevel sure. I am out as well
Happy holidays

[2020-12-23 13:44] Shirocco88 commented on #2842
@stdevel

...
[code]

Question: Is it correct, that you want to bootstrap a SLES4SAP-12 SP5 Client with SP4 salt-minion ?

[2020-12-30 11:08] bochi commented on #3023
Hi,

I am also experiencing this issue after the upgrade.
Getting lots of messages

Caused by: org.postgresql.util.PSQLException: ERROR: duplicate key value violates unique constraint "rhn_cnp_cid_nid_uq"
  Detail: Key (channel_id, name_id, package_arch_id)=(125, 48491, 134) already exists.
  Where: SQL statement "insert into rhnChannelNewestPackage
                (channel_id, name_id, evr_id, pa

[2020-12-30 14:33] bochi commented on #3023
Hrm, just another quick update. I deleted my Lifecycle Environment and rebuilt it and now I'm getting the same constraint violation but with new channel_ids (ofc, because the channels have been deleted and newly built).
Yet I am wondering why the violation is still happening, shouldn't it go away at least after removing the channels?

[2020-12-30 15:47] #3040 closed

[2020-12-30 15:47] mcalmer commented on #3040
Should be fixed with 2021.01

[2021-01-01 13:04] sbluhm commented on #2881
I started working on this. Approach:
1. Check if module com.sun.xml.bind is available (only true for SUSE). If not, remove (via sed in the SPEC file) the module from tomcat/taskomatic conf files.
Comment: Ideally this should be the other way round though. If it is SUSE, then add the SUSE specific parameter to the conf files...This would require SUSE version specific checks though, to be future com

[2021-01-02 13:14] sbluhm commented on #2881
https://github.com/uyuni-project/uyuni/pull/3066

[2021-01-04 07:29] sbluhm opened #3067 "Modify smdba to work on all Postgresql versions. [RHEL8]"
# Additional Information
The current SMDBA implementation requires the SUSE Postgresql package installation and will fail with the error message on other installations or OS.

[code]

## Version of SMDBA
smdba-1.7.7.tar.bz2 (2021-01-04)

## Details about issue
[code]
This seems to boil down to `/etc/sysconfig/postgresql` not being found on all systems (i.e. RHEL).
See line 231 from `/usr/lib/pytho

[2021-01-04 07:32] mcalmer commented on #3067
CC @jordimassaguerpla

[2021-01-04 10:31] rjmateus commented on #2881
Hey

 From my side I don't have much ideas about this topic.
Since you have opened a PR, you can get comment in there :)

Cheers

On 1/1/21 1:07 PM, sbluhm wrote:

--
Ricard Mateus
SUSE Manager Development Team

[2021-01-04 11:18] mcalmer commented on #2902
All this should be fixed with 2021.01 .
The change is huge and cannot be applied easily.
If you need a quick solution you need to break the version compare algorithm and rollback the last change.

[2021-01-05 12:02] sbluhm opened #3074 "Add dnf backend to reposync [RHEL8]"
# Additional Information

To synchronise packages into the Uyuni software management [reposync](https://github.com/uyuni-project/uyuni/blob/master/backend/satellite_tools/reposync.py) is used.

Reposync is using a Zypper backend to analyse and download the data from the repositories. Zypper is not available and compatible on RHEL8 systems so the dnf package manager has to be used. I.e. ~~Zypper do

[2021-01-05 12:49] mcalmer commented on #3074
The zypper plugin can download the groups and modules metadata. Otherwise we could not support it when it is installed on a SUSE system. But this is not the point here.

The goal is to provide a 2nd implementation using dnf and depending on what OS is used as base for the server the one or the other is installed.

[2021-01-05 14:33] mbologna commented on #2241
@phibid does the problem get solved if you add the following lines on the proxy?

[code]

then: `systemctl restart apache2`

Retry your `apt update`

[2021-01-08 18:12] mbologna commented on #2241
The solution proposed in https://github.com/uyuni-project/uyuni/issues/2241#issuecomment-754671888 has been reverted and now we are back to square one.

Let's compare the requests that `apt update` issues on a server and on a proxy by changing `/etc/apt/sources.list/susemanager:channels.list` on the minion.

Server:

[code]

`apt update` takes ~1s to complete.

Proxy:

[code]
(notice the delayed t

[2021-01-08 18:33] #2881 closed

[2021-01-09 15:10] mcalmer commented on #2241
When I do the call using curl I get this warning:

[code]

It seems that the proxy does not close the connection correctly and the client think that there should be more data comming.
(See also https://stackoverflow.com/questions/1759956/curl-error-18-transfer-closed-with-outstanding-read-data-remaining)

[2021-01-10 10:26] mcalmer commented on #2241
`Transfer-Encoding: chunked` is the bad guy here. Setting it from external in WSGI cause the client to think something more will come, but wsgi does not know it and act somehow wrong.
Dropping this header field before sending the response to the client seems to fix the problem.

[2021-01-11 06:54] #2963 closed

[2021-01-11 18:45] #2241 closed

[2021-01-12 06:59] sbluhm opened #3113 "Update code to use URLGrabber 4"
# Additional Information

Currently, spacewalk-backend-tools requires URLGrabber 3. Latest URLGrabber version is 4.
The RHEL EPEL repository and Tumbleweed already use v4.

## Version of Uyuni Server and Proxy (if used)
Master 2021-01-12

## Details about issue
Reposync fails on URLGrabber4 in different areas. At least on passing the URL and verifying the completed file.
(/backend/satellite_tools/

[2021-01-12 09:45] dkloos commented on #2838
Hello mcalmer,
Thanks for your hints.
I Tried to add the common channels for **sles12 sp4 for the ppc64le** architecture. But it is not working.

uyuni-hai01:~ # spacewalk-common-channels -u de20617 -a ppc64le sles12-sp4-uyuni-client
Traceback (most recent call last):
File "/usr/bin/spacewalk-common-channels", line 306, in
base_info['summary'], CHANNEL_ARCH[base_info['arch']],
**KeyError: 'PPC64LE

[2021-01-12 10:23] mbologna commented on #3023
We now have a new version compare for Debian packages that has been merged and will be available in the next version of Uyuni.
I believe we can close this issue as fixed. Please retry when the new version of Uyuni is available and check if it is working for you too.

[2021-01-12 10:23] #3023 closed

[2021-01-13 08:04] sbluhm commented on #3067
Same goes for susemanager.spec:
https://github.com/uyuni-project/uyuni/blob/c8f35edc9b69e28e2e36151e93b8d4d8af89b4b0/susemanager/susemanager.spec#L270

[2021-01-15 08:23] phibid commented on #3023
Thanks ! Will update you once the new Uyuni version is out.

[2021-01-15 19:21] doubletwist13 opened #3133 "Feature Request: Support salt environments"
# Priority:
High (for me) - I effectively can't use Uyuni without it, and I would very, very much like to use it as it solves a ton of other problems for me.

# Request Details:
As far as I can tell at this time, in order to have a dev -> test -> prod lifecycle for salt formulas one would have to run separate instances of Uyuni as according to the documentation Uyuni doesn't support salt environme

[2021-01-15 21:20] paususe commented on #2009
hey @SaberDoTcodeR , we will be applying for Google Summer of Code 2021. If you are interested in this project, please keep an eye on GSoC 2021.

I have updated the description for GSoC 2021 to make it a bit easier (native packaging no longer required, building Debian/Ubuntu packages using the RPM .spec is acceptable) and describe in further detail the scope.

[2021-01-16 12:20] sbluhm opened #3134 "reposync with kickstart does not seem to work."
# Additional Information

Running `reposync` on `http://msync.centos.org/centos/8/BaseOS/x86_64/os/` gives me this error:

[code]
Checking the variables `path` and `temp_file` variables give me this (just before calling `urlgrabber.urlgrab`):
[code]

## Version of Uyuni Server and Proxy (if used)
`zypper info Uyuni-Server-release`
[code]

## Details about issue
Setup of the repo and channel were d

[2021-01-16 19:48] Shirocco88 commented on #3133
@doubletwist13: Could you please poste the Link (ULR) to the documentation;
Thanks in advance.

[2021-01-16 21:11] doubletwist13 commented on #3133
So I realize now that the statement I saw was for Uyuni 4.0.

https://www.uyuni-project.org/doc/4.0.2/uyuni_salt_guide.pdf

I'm finding no mention of Saltstack environments in the current documentation, so if it's already supported, the I'd modify this request to address the lack of documentation about it instead.

Thank you.

[2021-01-17 22:09] mattboston commented on #804
@Conan-Kudo were you able to get Uyuni Server to install on CentOS?  Do you have steps you used?  I'd be interested in helping too.

[2021-01-18 07:32] amathar opened #3135 "salt-minion | libmq"
# Additional Information
libmq compatibility

## Version of Uyuni Server and Proxy (if used)
 # zypper info Uyuni-Server-release
Repository     : uyuni-server-stable
Name           : Uyuni-Server-release
Version        : 2020.11-99.2.uyuni
Arch           : x86_64
Vendor         : obs://build.opensuse.org/systemsmanagement:Uyuni
Support Level  : Level 3
Installed Size : 1.4 KiB
Installed      : Yes

[2021-01-18 13:13] #3074 closed

[2021-01-18 13:37] juliogonzalez commented on #3135
If I am not wrong this is a know problem... without a solution until we have a bundle of salt with all dependencies.

@meaksh can you have a look? I tried to locate an issue for this, but maybe this was only discussed at the mailing lists or Gitter?

[2021-01-18 15:48] amathar commented on #3135
@juliogonzalez
I have found a workaround:
https://enterprise.saltstack.com/en/latest/docs/install-salt.html
install python3.6., add the salt repo, install salt-minion via repo and confgure the salt-minion manually. It seems to work.. Maybe this could be a hint on the uyuni webpage...

[2021-01-18 16:16] juliogonzalez commented on #3135
@amathar do I understand that you installed salt from saltstacks repository and not from the Uyuni Client Tools?

If so, this is known to break at least some things.

[2021-01-18 20:19] sleepygh0st opened #3144 "Bootstrapping CentOS 7 salt-minion fails via Web UI, required packages not installed"
# Additional Information
After bootstrapping a host from the Web UI, a message is displayed "Successfully bootstrapped host! Your system should appear in systems shortly" - But the system never appears in the list.  The bootstrapping process completes, and the keys are added and accepted, but on the client side, the salt-minion fails to start due to python-certifi having not been installed, althou

[2021-01-19 09:11] sbluhm commented on #3134
I don't think this worked with Uyuni since Jan 2019.

Original Spacewalk code used `yum.yumRepo.YumRepository(name).grab.urlgrab(path, temp_file)` instead of https://github.com/uyuni-project/uyuni/blob/10f41e7e8eeff5db8ae46db65ec74beab6ec88fb/backend/satellite_tools/repo_plugins/yum_src.py#L1176 which just downloads a file.

The `yum` `urlgrab` function has more logic to get source URLs.
https://g

[2021-01-19 12:11] sbluhm commented on #3134
@mcalmer , I just grepped through the repository and as far as I understand, the function
https://github.com/uyuni-project/uyuni/blob/fed9c22db65c077e8aa5a98cb075451b6db1a217/backend/satellite_tools/repo_plugins/yum_src.py#L1164
is only used in [backend/satellite_tools/reposync.py](https://github.com/uyuni-project/uyuni/blob/master/backend/satellite_tools/reposync.py) and only in conjunction with

[2021-01-19 12:50] mcalmer commented on #3134
@sbluhm Yes, it seems you are right. Only used in reposync.py and only in conjunction with kickstart.

[2021-01-19 17:28] agraul commented on #3144
I think this is a missing `Requires: python-certifi` in our Salt RPM. On SLE/openSUSE we require `python-requests` which in turn requires `python-certifi`. CentOS 7's `python-requests` does not require `python-certifi`, i.e. nothing pulls it in.

[2021-01-19 17:31] juliogonzalez commented on #3144
But why is this failing now? Was this changed recently on the SPEC?

[2021-01-19 19:44] sbluhm commented on #3134
Fixed in #3149 . Maybe not as robust as the original yum handled mirror lists. Now only the repo url is added.
Not sure if this causes any issues. Then the logic should be more complex. But I doubt anyone but me is using this feature or someone would have reported this issue before.

[2021-01-20 05:51] rohitkumar5252 commented on #2009
@paususe sir I wil be applying for GSoC 2021 , but I only know C++ . if this project is good fit for me .
If yes then can you please give me some information about how to apply for this specific project in GSoC 2021 ?

[2021-01-20 11:08] sbluhm commented on #2583
I just found your issue. A fix is pushed to master and awaying merge (#3149 ).
As a current workaround, you need to replace these two files:
backend/satellite_tools/repo_plugins/yum_src.py
backend/satellite_tools/reposync.py
From here:
https://github.com/sbluhm/uyuni/tree/sbluhm-kickstart
To here:
/usr/lib/python3.6/site-packages/spacewalk/satellite_tools/

This github branch will be deleted once

[2021-01-20 11:35] sbluhm commented on #1578
@skoehnen23 , can this issue be closed or does the issue still exist?

[2021-01-20 12:14] sbluhm commented on #804
@mattboston, @astauntonie  Check the instructions here: [https://www.bluhm-de.com/content/os-tools/en/applications/uyuni/installing-uyuni-on-centos-8.html](https://www.bluhm-de.com/content/os-tools/en/applications/uyuni/installing-uyuni-on-centos-8.html)
You can help by:
- fixing open issues with the tag "centos8 port",
- testing and fixing,
- raising new issues,
- porting packages from [home:sblu

[2021-01-20 12:19] sbluhm commented on #804
I found this thread a bit too late...
What do we do about [uyuni-project/uyuni-rfc/#4](https://github.com/uyuni-project/uyuni-rfc/pull/4) ?
What are the closure criteria for this ticket? The headline issue is solved by #3136 .

[2021-01-20 12:28] Conan-Kudo commented on #804
@sbluhm It's very minor work on top of yours to complete the implementation of that RFC. I'll take a look at finishing things off for that in the coming weeks.

[2021-01-20 12:34] amathar commented on #3135
yes, I used this repo https://repo.saltstack.com/py3/redhat/7/$basearch/3000, as you can see, the same version..
Till now I can not see any problems, installed packages are reported, I can patch / install packages.

What kind of problems do you mean? What will break?

[2021-01-20 13:26] juliogonzalez commented on #2740
@zettelzottel is this still an issue?

[2021-01-20 13:29] juliogonzalez commented on #3135
I don't really remember, but I know there were (are?) some problems, so only the salt we provide is official supported.

Here is the thing: sometimes we need to implement stuff, and while we upstream all our changes to saltstack, sometimes a PR for saltstack can be waiting for a while before it's merged.

So it could just work fine, but don't surprise if you find something that doesn't.

The offic

[2021-01-20 14:26] skoehnen23 commented on #2583
thanks @sbluhm,

work like expected.

[2021-01-20 15:06] paususe commented on #2009
Hi @rohitkumar5252 ! Thank you for your interest! If you have never done any packaging, then this project will be difficult for you.

I suggest you either get started with packaging, or try another project. We are still putting proposals together but if you look in a few days, you will find more projects here:
https://101.opensuse.org/

[2021-01-20 15:18] rohitkumar5252 commented on #2009
Thanks sir @paususe , I'll surely consider your advice.

[2021-01-20 15:31] skoehnen23 commented on #1578
hi @sbluhm, i dont have fedora in use anymore.

[2021-01-20 17:00] sbluhm commented on #1578
I would say then close this issue and someone can revisit it if a similar issue shows up again.

[2021-01-21 07:14] zettelzottel commented on #2740
We are using rhn method now. Have not tried salt anymore. Only for Centos8 we are (have to) using salt now. Would have to check again, but I am so short on time... all the time.

[2021-01-21 07:21] skoehnen23 commented on #1578
close

[2021-01-21 07:21] #1578 closed

[2021-01-21 09:03] amathar commented on #3135
Thank you for your comment. When the development team publishes a better solution I will change our salt installation.

Kind regards,
Peter

[2021-01-21 10:59] #2803 closed

[2021-01-22 09:15] #3134 closed

[2021-01-22 09:16] meaksh commented on #2583
This should be now fixed by https://github.com/uyuni-project/uyuni/pull/3149

Closing issue. Thanks!

[2021-01-22 09:16] #2583 closed

[2021-01-22 11:34] agraul commented on #3144
@sleepygh0st after looking into this a bit more, I wonder why you run into this issue. As you said in gitter, `python-certifi` is only needed on some cases that are related to SSL.

Could you please run `python -c 'import ssl; print hasattr(ssl, "create_default_context")'` on the CentOS7 installation? Only if that command prints `False` it is required to install `python-certifi`. Inside a plain Ce

[2021-01-22 17:18] sleepygh0st commented on #3144
@agraul Thank you for digging into this deeper.. To clarify my earlier statement in Gitter, I was making an off the top assumption.

I've ran python -c 'import ssl; print hasattr(ssl, "create_default_context")' on a couple of my CentOS 7 hosts, and have inconsistent results on older releases versus newer

[root@localhost jb]#  python -c 'import ssl; print hasattr(ssl, "create_default_context")'
Fa

[2021-01-22 19:36] juliogonzalez commented on #3144
Now it's clear to me why we never detected this problem before. We never tested CentOS 7.0 since Uyuni started being published, and SUSE Manager only supports the most recent version of CentOS/RHEL/Oracle.

Do you really a so old and unmaintained CentOS7 version?

My opinion on this issue:
- Since we have python-certifi at the repository, and since we have a require for at the SPEC (that for some

[2021-01-22 19:50] sleepygh0st commented on #3144
@juliogonzalez Thanks for getting this into the pipeline, I appreciate your help.

As for using the older version, only for initial imaging and never in production.  I suppose it would behoove me to start with an ISO that is a little more current now.

[2021-01-23 15:14] mcalmer commented on #2838
@dkloos that key error will be fixed with the PR linked here. Feel free to give it a try.

[2021-01-25 00:15] #2838 closed

[2021-01-26 10:44] stdevel commented on #2973
Hi @witekest,
I was not able to reproduce this issue in several Vagrant runs. Looks like this issue was fixed in one of the latest updates.

Thanks anyway! 👍🏻

Best wishes,
Christian.

[2021-01-26 10:44] #2973 closed

[2021-01-28 09:19] phibid opened #3182 "Uyuni starvation, all SSH-push registered client shown as inactives"
Our Uyuni infra is quite little with 100 registered clients and increasing, however since some months we notice a starvation of the Uyuni server some time to time during which it is not able to check the status of its Salt SSH-push registered clients. All the registered servers are consequently shown as inactive (“System not checking in with Uyuni”) in the Web GUI.

Important to mention that “push

[2021-01-28 09:24] phibid commented on #3182
Not sure it makes a difference, but I forgot to mention that all (or at least 99%) of the registered server are going through Uyuni proxies:

[code]

[2021-01-29 16:45] phibid commented on #3182
I think I now finally understand what is happening.

The scenario is the following:

1- Package refresh attempt done on a registered server through taskomatic/ssh-push
2- Seems that the Python script executed on the registered server get stuck and the ssh connection stays indefinitely opened:

[code]

3 - Knowing that `taskomatic.ssh_push_workers` is set by default to 2 (https://www.uyuni-project.

[2021-01-29 20:15] zettelzottel commented on #2739
We switched to salt now for SLES. I will close this. For us, there is no need for an enhancement anymore

[2021-01-29 20:15] #2739 closed

[2021-01-29 20:16] zettelzottel commented on #2740
We created a own list for bootstrapping under /usr/share/susemanager. This solved the problems we were having. I wll close this now

[2021-01-29 20:16] #2740 closed

[2021-02-01 14:31] juliogonzalez commented on #2129
Any news @ggardet?

[2021-02-01 18:37] phibid commented on #3182
Seems that lots of ssh_push workers are stuck because of this error which appears in the taskomatic log:

[code]

And indeed, seems that the salt-ssh SHIM seems to be corrupted on all my ssh-push registered server since the last upgrade done on Uyuni server:

[code]

Removing `/var/tmp/.root_930115_salt` on the registered clients seems to solve the issue. Not sure if this is a known bug or if a ba

[2021-02-02 15:15] phibid opened #3205 "Salt-ssh SHIM directory not being removed on client during unregistration"
I have noticed that the salt-ssh SHIM directory `/var/tmp/.root_930115_salt` (in my case) is not removed when a ssh-push client is unregistered from Uyuni,

Unless I am mistaken, it should be removed as part of the unreg process.

Issue observed with Uyuni server 2020.11