[2018-08-30 14:21] MalloZup opened #38 "improve travis ci yaml file"
@juliogonzalez CC

To me we could spare some jenkins jobs and delegate them to travis-ci since it is public.

Like rubocop could be done via travis.

[2018-09-21 10:44] MalloZup opened #113 "downloadpath should be not global"
# Description
this variable https://github.com/uyuni-project/uyuni/blob/fe21509df0624111c24c2d276e37354d4313a3d3/testsuite/features/step_definitions/salt_steps.rb#L388

should be not global. Instead is definitely useful to have local scope var

# Additional Points:

Find out other global ruby vars and investigate if they are really needed as global

[2018-09-21 10:53] #38 closed

[2018-09-21 11:05] MalloZup opened #114 "Use meaningful names for variables"
At moment we have Variable like this:

https://github.com/uyuni-project/uyuni/blob/master/testsuite/features/step_definitions/navigation_steps.rb#L219

It would be better to have meaningful names that show their usage

Example:

https://github.com/uyuni-project/uyuni/blob/master/testsuite/features/step_definitions/navigation_steps.rb#L246

should be like `text` or `command`.

This are just some fe

[2018-09-24 12:28] jcayouette opened #126 "Add API Doc versioning chapter to API doc sources"
We should add an API Doc version chapter at the beginning of the generated pdf. I believe this means we need to update the javadoc xml sources somewhere.

[2018-10-02 06:48] MalloZup opened #165 "move pipelines to uyuni and make monolitic reo"
I think we should move  https://github.com/SUSE/susemanager-ci pipelines inside `uyuni` repo.

 In longterm this is an architecture problem that Uyuni need to take .

Should we put all the jenkins pipelines inside a special directory of `uyuni/ci` (1 big mono repo) or should we have 2 diff repos.

I am in favor or monolitic big repo like google does. So we have everything there. I think that is th

[2018-10-26 07:21] juliogonzalez opened #250 "Mail reports still show SUSE Manager at some places"

[2018-10-28 12:55] rpasche opened #252 "Inconsistency between filesystem and Packages.gz filename for Debian / Ubuntu repos for Salt clients"
I'm running Spacewalk since 2.1 and currently using SW 2.7 with Debian 8/9 clients.

Now I'm trying to migrate the SW server to Uyuni and also get the power of Salt into our infrastructure.

I'm currently testing with a modified version of apt-transport-spacewalk (with modified apt method) to get Debian clients to download the packages via curl (and token appended). This works for the metadata (e.

[2018-10-31 21:28] rpasche opened #261 "Get Debian clients registered as Salt clients into Uyuni"
This is some kind of general issue to collect the current problems getting Debian systems integrated as Salt clients into Uyuni.

I will start to list the first points I recognized until now and add some further information later as I'm able to collect all needed information. Nearly all modifications (for my tests so far) have been done on the Debian test client (despite the modifications of some

[2018-10-31 22:19] rpasche commented on #261
Jinja rendering error of ```bootstrap.remove_traditional_stack```

[code]

[2018-10-31 22:46] rpasche commented on #261
Hmmmm....looks like after I disabled the IPv6, the ```pacakges.profileupdate``` seems to work. I will re-check that.

[2018-11-03 13:46] rpasche commented on #261
I created PR #264 to somehow track the changes I made on my test systems to get Debian clients registered as Salt clients into Uyuni.

On the client side, I had to change the functions
* ```pkg.list_repos``` (from ```aptpkg.py```)
* ```pkg.info_installed``` (from ```aptpkg.py```)
* ```_get_pkg_info``` (from ```dpkg.py```)
* ```_get_pkg_install_time``` (from ```dpkg.py```)

```pkg.list_repos``` had

[2018-11-07 09:21] ncounter opened #271 "Documentation update about new Menu labels"
Thanks to @amannch now we have better labels in the menu tree to prevent redundancies. :+1:

See the [Uyuni PR](https://github.com/uyuni-project/uyuni/pull/259).

Useful screenshots are available in a previous *invalid* PR [here](https://github.com/SUSE/spacewalk/pull/5929).

The changes are targeting Uyuni only.

CC-ing doc-squad-coordinator: @Loquacity :wink:

[2018-11-14 08:49] stdevel opened #296 "Add possibility to automate initial organization/user creation"
**Is your feature request related to a problem? Please describe.**
I'm currently writing a Chef cookbook for automating Uyuni test deployments.
After installing Uyuni, the first organization still needs to be created using
the web page.

I understand that there is an automation tool `spacecmd`, but this seems not to
work if no organization or admin user exist:

[code]

I figured out that entering

[2018-11-19 07:32] kmf opened #306 "Uyuni Container Image"
Wanted to know if there is a container image for Uyuni?

[2018-11-19 08:58] mcalmer commented on #306
No, there is not.

Uyuni and containers is challenging as it consists of multiple services which need to play together.
So you have to possibilities to build containers.

1. One big beast: write a script which starts all services in the right order and put everything in one container. (Not really the way how containers should be used but maybe easier to achieve)
2. Every single service in separate

[2018-11-27 17:58] kkaempf opened #342 "event-stream security update"
Known critical severity security vulnerability in event-stream v> 3.3.4, defined in https://github.com/uyuni-project/uyuni/blob/master/susemanager-frontend/susemanager-nodejs-sdk-devel/package.json
Review the vulnerable dependency:
https://github.com/uyuni-project/uyuni/network/alert/susemanager-frontend/susemanager-nodejs-sdk-devel/package.json/event-stream/open

cc @juliogonzalez

[2018-11-29 13:19] ncounter commented on #342
AFAIK we are using [version greater or equal to 4.0.0](https://github.com/uyuni-project/uyuni/blob/master/susemanager-frontend/susemanager-nodejs-sdk-devel/package.json#L29) so I think we are fine with this.

[2018-11-29 14:48] lneves12 commented on #342
I think we don't need this dependency anymore. It's left overs from the old js dependency management/gulp thing. I will assign this to me, to check which dependencies are not used anymore and remove them.

[2018-11-29 15:10] #342 closed

[2018-11-30 13:31] cbosdo opened #360 "Create / Refresh buttons consistency"
In the `Images List` page, the buttons ordered: `Import`, `Refresh`, while on other pages like the `Profiles` one, the order is `Refresh`, `Create`. It would be great to stay constistent on the place of the `Refresh` button in those lists.

[2018-12-05 08:33] cbosdo opened #378 "More readable kiwi error messages"
When a kiwi build fails, it's pretty hard to spot the error within the huge json result of the kiwi build state. It would be great to extract the stderr and format it properly for the user to easily spot the problem.

A wild guess would be that this could be implemented in `SaltUtils.handleImageBuildData()`

[2018-12-05 15:54] cbbayburt commented on #261
Some of the items mentioned are covered in #309

[2018-12-07 15:02] cbbayburt opened #384 "Implement correct mapping of packages reported by 'profileupdate' for Ubuntu/Debian"
The package information reported by `packages.profileupdate` for Ubuntu/Debian differs from SUSE OSs. As a result, for example, package architectures cannot be mapped by Uyuni correctly, therefore having problems to display package information, finding out package updates, etc.

Original findings by @rpasche:

amd64. But within Uyuni (and Spacewalk), x86_64 Debian systems have an architecture name

[2018-12-10 14:13] juliogonzalez opened #391 "CentOS6/7 gets detected as RHEL Expanded Support 6/7"
![screenshot_20181210_151258](https://user-images.githubusercontent.com/4226070/49737863-2c161380-fc8e-11e8-902d-feebfc71f5d9.png)
![screenshot_20181210_161639](https://user-images.githubusercontent.com/4226070/49741606-13f6c200-fc97-11e8-8eed-84df02ccb2e8.png)

How to reproduce:

1. Create the CentOS6/7 channels with `spacewalk-common-channels`
2. Create bootstrap repositories for CentOS6/7.
3. C

[2018-12-11 10:08] mcalmer commented on #391
@brejoc - I think this is an issue in the java code. Not in salt. But we may need to double check.

[2018-12-11 10:22] brejoc commented on #391
@mcalmer Might be. But I might also have broken this with a change in `grains.py`. Lets see. :wink:

[2018-12-11 11:57] cbbayburt opened #397 "Support Ubuntu build hosts for image managment - Docker only"
One of the requirements for the initial Ubuntu support is to make image management working in Ubuntu build hosts.

## Tasks

- [ ] Adapt various Salt states related to image management
  - https://github.com/uyuni-project/uyuni/tree/ubuntu-support/susemanager-utils/susemanager-sls/salt/images
  - https://github.com/uyuni-project/uyuni/blob/ubuntu-support/susemanager-utils/susemanager-sls/salt/serv

[2018-12-20 08:15] cbosdo opened #418 "Add VNC display page for all clients"
Virtual Machines will naturally get a VNC display page -- see PR #417 for this.
This feature should be extended to all other clients. This requires installing a VNC server on the physical machines.

[2018-12-20 08:20] kkaempf commented on #418
Are there alternatives ? Different VNC implementations ? What were the reasons to choose the implementation in pr #417 ?

[2019-01-02 16:13] brejoc commented on #391
I've re-checked this with a generic Centos7 installation and a salt from `systemsmanagement:saltstack:products`. Output from salt looks good to me. I don't think this is coming from salt, so I'm unassigning myself.
[code]

[2019-01-10 11:51] stdevel commented on #306
I'm currently writing a Chef cookbook for deploying Uyuni - should be able to use it along with [Packer](https://www.packer.io) in order to create a container. I can share it if you like.

[2019-01-10 12:11] kmf commented on #306
@stdevel would be awesome

[2019-01-10 15:03] stdevel commented on #306
There you go: https://github.com/stdevel/katprep/tree/feature-vagrant-issue108/tests/cookbooks/uyuni-basic

Successfully tested the cookbook along with Vagrant and Inspec on openSUSE 42.3:
![cookbook](https://user-images.githubusercontent.com/5862725/50976802-2ad84080-14f1-11e9-901d-5fcaa8a1015e.jpg)

Keep in mind, that this might be moved into my project's master branch later - so maybe this link

[2019-01-21 16:39] cbbayburt commented on #384
Fixed with https://github.com/uyuni-project/uyuni/pull/410

[2019-01-21 16:39] #384 closed

[2019-01-28 11:36] mansam-ger opened #528 "Moving to LEAP 15?"
Hi,

I just wanted to try out uyuni, but it i asks me to use Leap 42.3 is it planned that the project moves forward to Leap 15?

[2019-01-28 15:21] juliogonzalez commented on #528
Hi @mansam-ger.

Yes, we are already working on it at https://build.opensuse.org/project/show/systemsmanagement:Uyuni:Master (as you can see the repositories are for Leap 15 already), but it is not ready yet.

We hope we can complete all the remaining problems within 2/3 weeks maximum, and maybe release if we have a procedure for the migration that it can work at that point.

[2019-01-29 07:35] mansam-ger commented on #528
That sounds nice, i will definately test the migration then. At this point I will try it out on OSS 42.3

[2019-01-29 07:35] #528 closed

[2019-02-16 11:46] fmcardosom opened #595 "Machines Bootstrapped over-riding old ones"
While registering machines i am getting some machines overriding older ones already registered.
I've checked system uuid's, ssh keys just about anything i can remember has anyone seen this behaviour ?

[2019-02-16 19:47] mcalmer commented on #595
Maybe this will help you https://wiki.microfocus.com/index.php/SUSE_Manager/Register_Clones

[2019-02-18 11:21] juliogonzalez opened #600 "YaST2 setup product detection not working at the log"
The greeter got fixed at https://github.com/uyuni-project/uyuni/blob/master/susemanager/yast/susemanager_congratulate.rb#L19

However at the log the following is present:
[code]

I think it's because of https://github.com/uyuni-project/uyuni/blob/master/spacewalk/setup/bin/spacewalk-setup#L57

Should we maybe change it to work in the same way `susemanager_congratulate.rb` does?

@mcalmer what's yo

[2019-02-18 11:35] mcalmer commented on #600
yes, I think we will find more of these places

[2019-02-18 11:45] fmcardosom commented on #595
Will give it a shot thank you.

[2019-02-21 15:11] cbosdo opened #612 "Fix unchecked types warnings."
There is a lot of java code that doesn't use the generic types... and this generates thousands of warnings. For sure this task is a one that will take time, but can be easily split.

[2019-02-22 14:53] matya opened #621 "UnicodeEncodeError when importing SLES11SP4 repo"
I have tried to import the regular SLES11 SP4 repo to a repository, and I got this backtrace.
[code]

Versions:
[code]

[2019-02-22 15:45] matya commented on #306
From a plain ops view option 1) is not that bad, there is a real usecase on deploying one single big container and not scaling out.  Example it the Gitlab Omnibus image at https://docs.gitlab.com/omnibus/docker/README.html

[2019-02-25 08:39] brejoc commented on #621
@dincamihai @meaksh: Didn't we have fix for this? Do guys still remember?

[2019-03-08 18:47] mbologna commented on #261
Hi @rpasche !
First of all, thanks for your valuable contribution.
We proceeded in implementing Ubuntu support: you can find implementation details in this PR https://github.com/uyuni-project/uyuni/pull/461, which is already merged.

Updated installer packages are in progress, but as soon as they are ready (take a look at the Uyuni mailing list) we invite you to test them out and let us know if th

[2019-03-08 18:47] #261 closed

[2019-03-17 19:38] juliogonzalez commented on #621
Ping @dincamihai, @meaksh

[2019-03-17 19:47] juliogonzalez opened #709 "4GB of system memory are not enough to sync openSUSE Leap 15.0"
After talking to a user (Barre) at #uyuni IRC channel this weekend, we discovered that spacewalk-repo-sync is unable to sync Leap 15.0 with only 4GB of RAM available.

From dmesg:
[code]

And despite the time is not consistent:
[code]
Anyway, this doesn't seem to be the taskomatic issue we documented at SUSE Manager release notes:
[code]
In this case the problem goes away by just increasing system

[2019-03-20 09:29] brejoc commented on #621
Related PR: https://github.com/uyuni-project/uyuni/pull/404

Just like #404 I'm closing this issue, because it will be fixed with the switch to Python3 in 4.0.2, which will probably be released around April.

Thanks a lot for the report! Please free to re-open if you think we should keep it.

[2019-03-20 09:29] #621 closed

[2019-03-25 07:29] bmanojlovic opened #746 "Unbelivable fact: Country Serbia exists"
after just maybe 13 years... in most setups we do not have this country called Serbia but hey we do have country called Yugoslavia!

[code]

who manages to find Yugoslavia on (normal modern) map will have a free beer from me...
https://en.wikipedia.org/wiki/Serbia  <--- This DOES exist
https://en.wikipedia.org/wiki/Yugoslavia <---  This DOES NOT exist

Please it is really not fun after 10+ year i

[2019-03-25 08:47] juliogonzalez commented on #418
Since we have https://github.com/uyuni-project/uyuni/pull/417 ... what's missing at this PR? Should we maybe have a checklist?

[2019-03-25 13:50] cbbayburt commented on #252
Fixed with the recent merge of #461 and the following [Ubuntu support PRs](https://github.com/uyuni-project/uyuni/pulls?q=label%3AUbuntu+is%3Apr+is%3Aclosed).

[2019-03-25 13:50] #252 closed

[2019-03-25 13:52] cbbayburt commented on #595
@fmcardosom has the wiki guide worked for you?

[2019-03-26 07:53] cbosdo commented on #418
That one is done. Forgot about it.

[2019-03-26 07:53] #418 closed

[2019-03-28 15:03] rpasche opened #765 "Package dependency error in spacewalk-backend-tools on openSUSE 42.3?"
Just testing improvments for Ubuntu / Debian clients and rebuilt ```spacewalk-backend```, ```spacewalk-config``` and ```susemanager-sls``` packages from ```ubuntu-support``` branch.

Trying to install resulting ```spacewalk-backend-tools-4.0.7``` packages results in dependency error on openSUSE 42.3.

Is this correct?

[code]

I only got "python-urlgrabber"

[code]

This change has been introducte

[2019-04-02 10:34] megamaced opened #784 "spacewalk-common-channels traceback"
USER@uyuni:~> sudo spacewalk-common-channels -u USER 'opensuse_leap15_0*'
SUSE Manager password:
Traceback (most recent call last):
  File "/usr/bin/spacewalk-common-channels", line 229, in <module>
    add_channels(channels, section, arch, client)
  File "/usr/bin/spacewalk-common-channels", line 92, in add_channels
    config.get(section, 'base_channels'), 1)
  File "/usr/lib64/python3.6/configp

[2019-04-03 05:44] mcalmer commented on #784
@juliogonzalez @brejoc do we have a typo in the ini file or is there a problem after python3 porting?

[2019-04-03 08:16] brejoc commented on #784
@mcalmer Which ini file are we talking about in this case?

[2019-04-03 08:26] mcalmer commented on #784
`spacewalk-common-channels.ini`. Installed at /etc/rhn/ in the git available in the /utils/ directory.

[2019-04-03 09:34] rpasche opened #792 "spacewalk-schema-upgrade broken in master (Leap15)"
Although it might not be the supported way, I am trying to upgrade my uyuni testserver from Leap42.3 to Leap15.0, so I can further try to test the new Ubuntu / Debian support.

Anyway, the ```spacewalk-schema-upgrade``` seems to be broken. But it's because of the package names (specially the ```release```) of the package.

The ```lp``` within the ```release``` breaks the regex ```^(.+-\d+(\.\d+)*)

[2019-04-03 10:53] rpasche commented on #792
After applying #794, it looks like this on my test system

[code]

[2019-04-03 15:34] rpasche opened #796 "mgr-websockify service does not start. Referencing missing JWTTokenApi"
On Leap15.0, running Uyuni Server, the service ```mgr-websockify``` does not start. It references a missing module / class ```JWTTokenApi```. This should be included in package ```python3-websockify-0.8.0```, but the ```token_plugin.py``` file is missing the requested class.

[code]

The ```mgr-websockify``` service was introduced in c2f8faf09e5e0438c1d9d5f1443374eba51d1a3d.

The ```token_plugin.p

[2019-04-03 15:43] #792 closed

[2019-04-03 23:48] juliogonzalez commented on #784
We'll, back when we released 4.0.1 I tested syncing the 15.0 Leap channels and it worked fine, and that Fedora line was not modified by me:
https://github.com/uyuni-project/uyuni/blame/master/utils/spacewalk-common-channels.ini#L53

So I'd say this is a problem at `spacewalk-common-channels` script or any of the dependencies.

[2019-04-04 09:26] megamaced opened #801 "Actions stuck, cannot delete systems"
Hi, Somehow ended up with actions getting stuck and cannot delete systems.

Package lists for systems don't show in the Web UI

[code]

[code]

[code]

[code]

[code]

[code]

From rhn_taskomatic_daemon.log

`INFO   | jvm 1    | 2019/04/04 09:00:00 | 2019-04-04 09:00:00,524 [DefaultQuartzScheduler_Worker-5] ERROR com.suse.manager.webui.utils.MinionActionUtils - JsonParsingError("Minion did not ret

[2019-04-04 09:29] megamaced commented on #801
But salt-minions are still working and can run a highstate successfully

[2019-04-04 09:44] juliogonzalez commented on #801
Please provide details about the minions:
- OS (i.e. openSUSE Leap 15.0)
- salt version at the minion (rpm -qa|grep salt)

[2019-04-04 10:01] megamaced commented on #801
[code]

[code]

[2019-04-04 10:05] megamaced commented on #801
system5.domain.co.uk was decommissioned. The machine no longer exists. But I cannot remove it from Uyuni either by the Web UI or by spacecmd

The above minion output is from system2.domain.co.uk. This also has stuck tasks:

[code]

[code]

[2019-04-04 12:19] Conan-Kudo opened #804 "Uyuni can't be used on EL7 partly due to Zypper"
As I had mentioned some time ago in the [uyuni-devel mailing list](https://lists.opensuse.org/uyuni-devel/2019-01/msg00000.html), I have been working on adapting the Uyuni server to run on CentOS and Fedora.

Unfortunately, with the move to Zypper in #527, this broke for me. For this and other reasons, I've filed https://github.com/uyuni-project/uyuni-rfc/pull/4 to propose moving from Zypper to DN

[2019-04-04 12:29] Conan-Kudo opened #805 "RHEL 8 content cannot be correctly synced in a usable form in Uyuni"
My current experiments with Uyuni with managing RHEL 8 content indicate that Uyuni cannot correctly sync in the content and offer working channels to RHEL 8 clients.

This is unfortunately largely due to how [RH/Fedora modules](https://docs.pagure.org/modularity/) work. Among other things, when the package manager isn't module-aware, the repository looks like nonsense and strange cross-sections of

[2019-04-04 14:07] admd commented on #801
@megamaced
This error indicates that action is already in picked up state and can't be deleted, that makes sense but why it is not completed/failed is hard to tell with the given information.

2nd issue that you mentioned about removing the system from spacecmd, may be that is just caching issue. Spacecmd maintains cache and you have to invalidate it with `clear_cache` method.

Now if that is not

[2019-04-04 19:31] megamaced commented on #801
Thanks for the spacewalk-sql tip, I'll bank that one.

In the end I just restored from the backup I had just before I added any systems.

I think what went wrong is the systems I joined were not clean, i.e they were previously joined to a different Uyuni server.

I moved them by stopping the salt-minion service, deleting /etc/salt/pki/minion/minion_master.pub, pointing the minion at the new Uyuni

[2019-04-04 21:56] admd commented on #801
Happy to help and glad to know you have your setup back in working condition. If there is nothing else to do here, can you please close the issue.

[2019-04-04 22:00] #801 closed

[2019-04-04 22:01] megamaced commented on #784
Works in 4.0.1. It was when I was running master from https://build.opensuse.org/project/show/systemsmanagement:Uyuni:Master

[2019-04-04 22:13] juliogonzalez commented on #784
@megamaced thanks a lot. Then it's most probably a problem with the migration to python3 suspected.

Marked now so we have a look to get it fixed for 4.0.2 (this is not covered right now by the testsuite, so we'll need to fix and verify manually).

[2019-04-10 15:12] meaksh commented on #765
Hey @rpasche, thanks for reporting this issue :+1:

We should probably adapt the spec file to require `python-urlgrabber` in case of Leap 42.3

[2019-04-11 15:55] megamaced opened #839 "New minions not added to systems"
Uyuni 4.0.1

A new minion is bootstrapped using bootstrap.sh

It joins Salt master and can I find the key using salt-key -L

But the minion never appears in Systems > Systems List

Viewing the Salt message bus I see

[code]

And from the minion if I do a salt-call

[code]

[2019-04-11 16:26] megamaced commented on #839
I found this merge request but it doesn't deal with the cause of "mgractionchains.resume' is not available"

https://github.com/uyuni-project/uyuni/pull/605

[2019-04-15 09:53] megamaced opened #848 "GC overhead limit exceeded"
Uyuni 4.0.1 stable on openSUSE 42.3

Running in a VM with:
4 vCPUs
32GB RAM

When left running for a few days the tomcat service falls over. I see this error:

[code]

[2019-04-15 09:57] megamaced commented on #848
[code]

[code]

[2019-04-15 10:26] juliogonzalez commented on #848
Can you send other logs from /var/log/rhn at those times, so we can see what the system was doing?

[2019-04-15 10:54] megamaced commented on #848
@juliogonzalez

I made a tar of the /var/log/rhn folder
https://macecloud.co.uk/index.php/s/aFttDs4yZwcsnZT

[2019-04-15 10:56] megamaced commented on #839
If it helps, I made a tar archive of /var/log/rhn

https://macecloud.co.uk/index.php/s/aFttDs4yZwcsnZT

[2019-04-15 11:57] chiaradiamarcelo commented on #839
Hi @megamaced. It should be fixed by  https://github.com/uyuni-project/uyuni/pull/849 now. Thanks

[2019-04-15 12:42] megamaced commented on #839
Hi @chiaradiamarcelo does this apply to 4.0.1 stable? If so will the fix be backported?

[2019-04-17 07:52] moio commented on #848
Can you please check the `-Xmx8G` flag is present (and unique) on Tomcat's command line via `ps aux`?

[2019-04-20 19:07] cristigherman opened #874 "Repos data not updated for minions"
After sync the repos, minions not can access new packages.

I check repos data in /var/cache/rhn/repodata/<repo-name>/ and not updated

in /var/log/rhn/rhn_taskomatic_daemon.log I see:

2019-04-20 15:01:00,113 [Thread-69] WARN  org.hibernate.engine.jdbc.spi.SqlExceptionHelper - SQL Error: 0, SQLState: 42703
2019-04-20 15:01:00,113 [Thread-69] ERROR org.hibernate.engine.jdbc.spi.SqlExceptionHelper

[2019-04-22 07:18] arbulu89 opened #875 "Salt formulas execution order in SUMA"
Hi all,

After working a bit with SUMA and some salt formulas I have noticed some potential improvements that might make the usage and even the development for salt formulas easier. Here one of them:

Give the option to order the execution of the formulas. I know that the formulas should be independent between them, but in some cases this doesn't happen. Right now the execution is done in alphabet

[2019-04-22 07:25] arbulu89 opened #876 "Salt formulas development - Pillar data"
I have found some issues while developing the Salt formulas forms.

The thing is that all of the information used in the forms will be automatically set in the pillar files used by the formula. If the form input is not set it will put the pillar entry with an empty value. This is quite annoying when some of the inputs are optional.

I would like to have other feature similar than **visibleIf** to

[2019-04-22 07:31] arbulu89 opened #877 "Require parameters in SUMA salt formulas frontend"
I would like to request a small new feature or improvement in the SUMA salt formulas usage.

Right now, when we are in some salt formula customization window and we are setting the parameters values, we can leave some entry empty even though this parameter is not optional.

In my opinion, if a parameter is not optional and we don't set any value, the form should complain when we try to save it (sa

[2019-04-22 11:23] arbulu89 commented on #875
Moved to: https://github.com/SUSE/spacewalk/issues/7648

[2019-04-22 11:23] #875 closed

[2019-04-22 11:23] arbulu89 commented on #876
Moved to: https://github.com/SUSE/spacewalk/issues/7649

[2019-04-22 11:23] #876 closed

[2019-04-22 11:24] arbulu89 commented on #877
Moved to: https://github.com/SUSE/spacewalk/issues/7650

[2019-04-22 11:24] #877 closed

[2019-04-22 16:23] cristigherman commented on #874
After today upgrade repo rebuid is ok

[2019-04-22 16:23] #874 closed

[2019-04-22 16:27] cristigherman commented on #792
issue still present for Leap 15

[2019-04-25 09:23] ypid-geberit opened #889 "Include"
https://github.com/uyuni-project/uyuni/blob/238ac9f0911cbe60d7d24f25ee0afc14a8ee45de/java/code/src/com/suse/manager/webui/services/SaltStateGeneratorService.java#L150

[2019-04-29 09:55] ktsamis opened #900 "Java traceback Caused by: java.io.IOException: Failed to send AJP message"
Moving from the mailing list to here as well. It appears on SUMA as [this bug](https://bugzilla.suse.com/show_bug.cgi?id=1112748) as well

[code]

Looks related to the products page or by calling mgr-sync.

[2019-05-10 09:29] juliogonzalez opened #952 "Errors when installing Uyuni Server"
Using master packages:
[code]
I can't see jabberd failing to start:
[code]
[code]
But jabber doesn't work fine anyway:
[code]

[2019-05-10 09:35] juliogonzalez opened #953 "mgr-websockify.service fails to start"
Using master packages (Leap 15.0 as base OS):
[code]
It is not a problem with the certificates and keys:
[code]
But a problem with the python code:
[code]
I can't reproduce when the base is SLE15SP1 and we use the packages from Devel:Galaxy:Manager:Head:
[code]

[2019-05-10 09:51] cbosdo commented on #953
The JWT patches for websockify have only been added to 15.1.

[2019-05-10 10:12] juliogonzalez commented on #953
@cbosdo maybe you can submit them for 15.0 as well?

[2019-05-10 10:35] juliogonzalez opened #955 "Uyuni should work without SCC credentials"
Using master and Leap15.0, and launching mgr-sync-refresh without adding SCC credentials:
[code]
Having Uyuni users without SUSE subscriptions is a valid scenario.

As a workaround until this is fixed, creating a SCC account without subscriptions should fix the issue.

[2019-05-10 10:55] juliogonzalez commented on #955
This is maybe invalid.

It seems mgr-sync only works for SCC channels

Not really clear at the doc, but at https://opensource.suse.com/doc-susemanager/suse-manager/beta3/reference/admin/task-schedules.html I see:

[2019-05-10 11:14] juliogonzalez commented on #955
Closing this, and opening a bugzilla issue.

mgr-sync is not verbose in any case: it doesn't show that the process started when there are SCC credentials, it doesn't show it failed if there are not.

[2019-05-10 11:14] #955 closed

[2019-05-10 11:31] juliogonzalez commented on #953
After talking to @cbosdo we decided to switch to 15.1 as next base OS for Uyuni.

https://en.opensuse.org/openSUSE:Roadmap

[2019-05-10 11:31] #953 closed

[2019-05-10 14:17] juliogonzalez opened #958 "Should spacewalk-common-channels add scheduled syncing and be synced when added?"
Either by default (as adding SCC channels do), or at least with a parameter.

In my opinion, yes. Custom channels created by `spacewalk-common-channels` should behave in the same way channels from SCC do.

It would be convenient for users and it would be coherent.

[2019-05-23 00:58] MuGrU commented on #746
Hello @cbbayburt

I would like to contribute on this issue as my first open-source contribution ! =)
I just need to clarify which DB should I collect those data and if should be in the valid_countries.sql format.

The ISO-3166 country codes does not provide the entire data, only preview or [Country Codes Collection](https://www.iso.org/publication/PUB500001.html) paid service.

So I wrote a script

[2019-05-27 14:18] mateiw opened #1030 "Support additional headers for deb packages"
According to @rpasche's mail to uyuni-devel:

My initial impression is that we have to extend `spacewalk-repo-sync` to take additional headers into account when syncing each package.
Some changes to the database might also be needed in order to store these additional packages fields.

[2019-05-29 08:54] rpasche commented on #1030
That would be cool. I think there are more headers within Debian packages that are currently not stored within the DB, but that "Multi-Arch" is an important one. I needed a whole week to track this down.

Don't know when and why Debian decides to add new headers or change something.

Robert

⁣sent from my mobile device​

-------- Originale Nachricht --------
Von: Matei Albu <notifications@github.c

[2019-05-29 12:36] bmanojlovic commented on #746
I have found another source of country info:
https://restcountries.eu/

[code]

[2019-05-29 15:44] MalloZup opened #1041 "terraform v12/migration errrors"
Hi I'm running locally terraformV12 with a custom provider libvirt builded against TF12,

It seems that terraform has now new reserved vars. HTH
[code]

[2019-05-29 15:46] MalloZup commented on #1041
closing for issue in sumaform

[2019-05-29 15:46] #1041 closed

[2019-06-04 13:22] cbbayburt commented on #746
Hi @MuGrU,

I'm glad you're interested in making a contribution!

The mapping from the ISO to our format should be as follows:

ISO | SQL
----|----
Full Name | name
Name | short_name
Alpha-2 code | code

Example:
[code]
Neither the JSON you linked, nor the one @bmanojlovic provided does include full names. I'd suggest you look up the missing full names either from https://www.iso.org/obp/ui/#home.

[2019-06-06 10:19] rpasche commented on #1030
@mateiw I think, just starting with 1 additional header ...```Multi-Arch``` should do it in the first place. I think this DB field could be put into ```rhnpackage```. Not sure, just thinking....

I know, in my script I wrote in the mail, *all* missing headers are added.....but this script was just an enhancement. Until today, my workaround only includes adding the missing ```Multi-Arch``` header t

[2019-06-06 14:41] dragon2611 opened #1068 "Leap 15"
Is there any estimate on when Leap 15 will be supported, as 42.3 is scheduled to go EOL at the end of the month.

I'm ok with installing on 42.3 initially as a test but I wouldn't want to deploy on 42.3 if I could avoid it.

[2019-06-06 22:11] juliogonzalez commented on #1068
Hi @dragon2611,

I sent the following announcement yesterday to the [Uyuni mailing lists](https://www.uyuni-project.org/contact.html#ml) (I encourage you to join):

[2019-06-07 12:02] dragon2611 opened #1077 "Centos 7 bootstrap on Dev Release"
Centos 7 Fails to bootstrap out of the box with 4.0RC1 (Dev release) installed on Leap 15.1

It seems that you need epel-release on the centos machine for the salt minion to install

Also /etc/salt/minion.d doesn't appear to get created, creating the directory manually seems to fix the issue

[2019-06-07 12:16] dragon2611 commented on #1077
I suspect I've messed something up as although it claims to have bootstrapped successfully it looks like the centos machine is missing the module to list packages.

[2019-06-08 09:40] dragon2611 commented on #1077
It looks like the version of Salt you are supposed to use with uyuni is not installable on C7

[2019-06-08 13:54] juliogonzalez commented on #1077
It seems to me you are using an outdated version of the packages.

Salt for CentOS7 is 2019.2.0 since a month ago (https://build.opensuse.org/package/view_file/systemsmanagement:Uyuni:Master:CentOS7-Uyuni-Client-Tools/salt/salt.spec?expand=1  https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Master:/CentOS7-Uyuni-Client-Tools/CentOS_7/x86_64/)

Maybe you need to resync your clie

[2019-06-08 15:44] dragon2611 commented on #1077
Seems I accidentally synced the stable repo, that said it still doesn't want to re-install the salt minion

`[root@test-c7 ~]# yum install salt-minion
Loaded plugins: fastestmirror, susemanagerplugin
Determining fastest mirrors
susemanager:centos7x

[2019-06-08 22:31] juliogonzalez commented on #1077
What happens if you just use a new VM and you try to bootstrap from the WebUI, instead of installing the minion manually?

Just in case, remember to create an activation key, assign there the channel(s) you have for CentOS7 and the channel(s) you have for the client tools for CentOS7. Then use that activation key to bootstrap.

[2019-06-08 23:31] dragon2611 commented on #1077
If I run bootstrap on a brand new c7 machine.

[2019-06-08 23:46] dragon2611 commented on #1077
If I manually add the tools repo then it can bootstrap, otherwise it's a catch 22 in that it can't install salt until it adds the uyuni server/proxy but it won't add the uyuni server's channel until it's further on the in the bootstrap process.

For Clarity it's this that I added to the yum repo's

name=systemsmanagement:Uyuni:Master:CentOS7-Uyuni-Client-Tools (CentOS_7)
type=rpm-md
baseurl=http:/

[2019-06-12 13:33] rpasche opened #1095 "spacewalk-repo-sync within master broken for Debian repos when using a proxy"
Changes introduced by https://github.com/uyuni-project/uyuni/commit/5e5e772924767d5b9b21e7397aeb37c93b60e21f breaks download of packages from Debian repositories, as the URL for the proxy gets 2 ```http://``` strings.

So given a proxy within rhn.conf as

```server.satellite.http_proxy = myproxy:8080```

results in a proxy url set to

```http://http://myproxy:8080```

```get_proxy``` already adds

[2019-06-12 14:15] crabkilla opened #1097 "Error during applying the bootstrap state, message: Response code: 500"
Hi, I am very new to Uyuni and Linux in general. I followed the setup guide however I cannot add a SLES12 SP3 client to Uyuni using the web UI due to the error: _Error during applying the bootstrap state, message: Response code: 500_

The hostnames are set correctly and pingable and an activation key was generated.

Am I required to manually install Salt master on the Uyuni server and salt minion

[2019-06-12 23:23] juliogonzalez commented on #1077
Thanks a lot for all the research.

I will try to give it a try soon and see what we can do about this. Maybe we will need to adapt the SPEC for salt a little.

On paper the only zeromq supported version is the one from CentOS7/RHEL7, but of course I think EPEL is important enough to keep salt installable when the repository is present.

[2019-06-12 23:25] juliogonzalez commented on #1077
@brejoc I will initially assign this to myself, to research how we could fix the problem.

If we finally need to change the SPEC somehow, I will ping you and we'll add someone from your squad as assignee.

[2019-06-14 10:22] Conan-Kudo opened #1108 "Fedora 31 will use zstd compression for RPM payloads, Uyuni can't handle them"
Fedora is considering to use `zstd` for rpm:
https://fedoraproject.org/wiki/Changes/Switch_RPMs_to_zstd_compression

At this time, there's no SUSE Linux release with support for zstd payloads. It will hopefully land in Tumbleweed soon, as `Base:System/rpm` just got it turned on yesterday (no SR created yet).

zstd compression support has been enabled in Fedora since Fedora 28, so now it's just for

[2019-06-14 15:20] juliogonzalez commented on #1108
Good to know. Thanks!

Most probably we'll need to add it to Uyuni directly, until the Base OS (Leap 15.2? 15.3?) can handle it.

[2019-06-17 04:08] Conan-Kudo commented on #1108
This change has been accepted and will be implemented as part of Fedora 31, so we definitely need to prepare for it.

[2019-06-17 08:43] juliogonzalez commented on #1108
Schedule for Fedora 31: https://fedoraproject.org/wiki/Releases/31/Schedule

I will check with openSUSE Maintenace team how to add packages to Leap, but I am pretty sure we'll need to build the package directly at Uyuni.

[2019-06-20 02:51] svagml opened #1124 "System reboot scheduled by admin failed (uyuni trying to reboot remote host)"
Hello,

Uyuni version 4.0.1

New to Uyuni.  I have it installed with one centos7 server as a client/minion.  Remote execution and single package deployment seems to work, but scheduling a reboot, "Package List Refresh scheduled by (none)", and "Subscribe channels scheduled by admin" works.

The client returned the following for the reboot request:
"ERROR executing \u0027system.reboot\u0027: The fo

[2019-06-20 07:38] #1095 closed

[2019-06-21 10:06] ncounter opened #1128 "Deduplicate acl conditions for "System > Details > Provisioning" tab"
https://github.com/uyuni-project/uyuni/blob/master/java/code/webapp/WEB-INF/nav/system_detail.xml#L141 <-- complete tree

VS

https://github.com/uyuni-project/uyuni/blob/master/java/code/webapp/WEB-INF/nav/system_detail.xml#L177 <-- hacky workaround, see the comment 2 lines above

[2019-06-22 06:22] Conan-Kudo commented on #1108
@juliogonzalez Leap 15.1 already includes zstd, the rpm and deltarpm packages just don't have zstd support.

As for createrepo_c, the version in SUSE distributions is crippled and can't create repositories for deltarpms. :(

[2019-06-22 10:27] joesusecom commented on #1108
Has one of you already reached out to the openSUSE team to investigate whether there are any plans for moving to zstd as well? In any case we should make sure that we have this in place to support future Fedora versions. But this could potentially have a very positive impact on build times in OBS and for container build pipelines. While the final compression of a built RPM may take longer, uncompr

[2019-06-22 10:40] joesusecom commented on #1124
Which Salt packages are you using on the CentOS system? Chances are that this is already fixed in the ones SUSE maintains.

[2019-06-22 10:48] joesusecom commented on #889
@ypid-geberit: At this point the group_ids and there exposure to pillars are an implementation detail. Assigning Salt states to groups is supposed to happen through the UI or API. So at least for states there shouldn‘t really be a use case for needing the group “pretty names” directly in Salt.

But I agree that it would be nice if group pillars were available for targeting from the Salt CLI. There

[2019-06-22 10:54] joesusecom commented on #746
I haven’t looked into the actual codebase, but I’d bet that we are already maintaining valid and current country mappings on the OS level in glibc locale or elsewhere. In that case, I’d rely on those, either at build time or even better in the running system, rather than importing data from external resources. Countries and borders change more frequently than one might think, and you don’t want to

[2019-06-22 11:40] Conan-Kudo commented on #1108
@joesusecom Fedora's consideration of this has sparked a discussion in openSUSE, but it can't proceed any further until my SR to enable zstd in Factory actually makes it into Factory: https://build.opensuse.org/request/show/709948

[2019-06-22 11:41] Conan-Kudo commented on #1108
Unfortunately, the `build` package is holding up the `openSUSE:Factory:Staging:A` is holding up my SR from landing... :(

[2019-06-22 15:21] svagml commented on #1124
I fixed the reboot issue by removing the system, deleting the channel, adding the channel via the command line vs. the GUI, removing salt, add salt's official repo, installing salt-minion from said repo.  Not sure what version it was, but now it's:

[centos@tf-centos-test-1 ~]$ sudo salt-minion --version
/usr/lib/python2.7/site-packages/salt/scripts.py:198: DeprecationWarning: Python 2.7 will reac

[2019-07-02 11:46] hunter86bg opened #1140 "uyuni no Monitoring tab"
According to https://www.uyuni-project.org/faq.html#first-version Uyuni 4.0.1 is the upstream for SuSE Manager 4.0

According to https://www.suse.com/documentation/suse-manager-4/4.0/suse-manager/administration/prometheus.html , SUMA 4.0 can enable prometheus monitoring - but that feature is missing in Uyuni 4.0.1

Should we expect that feature , or it will be in next version of Uyuni ?

[2019-07-11 17:33] joesusecom commented on #1140
Monitoring will come in Uyuni! But there’s no “Monitoring tab”. The actual dashboard will run on a separate server (although technically you could install it Uyuni server itself).

[2019-07-14 09:21] hunter86bg opened #1163 "uyuni refuses to sync deb repo"
It seems that uyuni (recently reinstalled from scratch) refuses to download any packages from a freshly added debian repo.
Here is the output I got:
uyuni:/var/log/rhn/reposync # /usr/bin/spacewalk-repo-sync -c ubuntu-18-main-x86_64 --type deb --non-interactive -vvvvvv
2019-07-14 12:18:14,475 urlgrabber version  = 3.9.1
2019-07-14 12:18:14,475 trans function "_"  = <function _ at 0x7fdb6a324230>
1

[2019-07-15 12:36] juliogonzalez commented on #1077
Adding some related info from the list:

https://github.com/saltstack/salt/issues/34575

[code]

[2019-07-16 17:55] dragon2611 commented on #1077
@juliogonzalez blocking python-zmq* and zeromq* from syncing from EPEL with a filter and then removing them from the channel may work as a work around for now.

[2019-07-16 21:15] juliogonzalez commented on #1077
Right, that's a valid workaround until we can find a fix.

On paper neither Uyuni or SUSE Manager will support third party repositories, but IMHO EPEL is somehow different (let's say it's... almost mandatory in most cases), so I think we can make an exception and see what we can do.

Sadly I could not handle it yet, but I hope I will eventually have a look in the upcoming weeks.

[2019-07-18 10:40] dragon2611 opened #1165 "Centos 7 Repo sync reports failed (Dev Release)"
Not really sure how to get more debug on this one,

I often see the channel sync for the Centos 7 channels report failed in the UI within seconds of starting the sync.

However actually the sync is still running in the background and appears to complete successfully.

`Error	Channel sync failed	Error syncing the channel: Centos7	18/07/2019 11:38:04
	Info	Channel sync finished	Channel Centos7 sync

[2019-07-24 22:11] paususe opened #1181 "spacewalk-java in Uyuni requires access to SUSE private Ivy repository"
See:

https://github.com/uyuni-project/uyuni/blob/master/java/buildconf/ivy/ivyconf.xml#L5
`
  <artifact pattern="http://ramrod.mgr.suse.de/ivy/master/[artifact]-[revision].[ext]" />`

[2019-07-25 09:17] simeon-harwood opened #1182 "Documentation bug on website"
Hi,
Just had a look at the uyuni web site and there looks to be a documentation bug with a link to the repo. On the following page: -
https://www.uyuni-project.org/stable-version.html

I think: -
zypper ar https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-4.0-POOL-x86_64-Media1/ uyuni-server-stable

should read: -
https://download.opensuse.org/rep

[2019-07-25 09:24] simeon-harwood commented on #1182
Sorry, correction. This should read: -
https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-4.0-Media1/

[2019-07-29 11:15] meaksh opened #1199 "Add support for "mirror://" at "spacewalk-common-channels" and "deb_src" plugin for reposync"
So we can use it to get a mirror with the mirror protocol:
https://linuxconfig.org/how-to-select-the-fastest-apt-mirror-on-ubuntu-linux#h2-use-mirror-protocol

`mirror://mirrors.ubuntu.com/mirrors.txt` can just be translated to `http://mirrors.ubuntu.com/mirrors.txt` and we can just get the first line as repository to be then used.

Both `spacewalk-common-channels` and probably `deb_src` plugin fo

[2019-07-29 15:29] megamaced opened #1200 "cobbler sync to proxy fails"
Hi,

I am running latest Uyuni from Master

Went through configure-tftpsync.sh wizard on proxy

Ran configure-tftpsync.sh PROXY on Uyuni server

Ran cobbler sync on Uyuni server and get lots of these errors:

[code]

[2019-07-30 09:04] SchoolGuy commented on #1200
@megamaced There should be a logfile of cobbler under `/var/log/cobbler/cobbler.log`. If you could provide the snippet from around the time where you tried your `cobbler sync`.

[2019-07-30 09:09] megamaced commented on #1200
@SchoolGuy

[code]

[2019-07-30 09:13] SchoolGuy commented on #1200
@megamaced Is this the complete log of cobbler sync? No Python-Stacktrace?

[2019-07-30 09:14] megamaced commented on #1200
I ran cobbler sync and that was the only thing that was logged in /var/log/cobbler/cobbler.log

[2019-07-30 11:08] megamaced opened #1202 "rhnpush No module named 'rhnAuthPAM"
Trying to push an RPM to a channel when authenticating as a PAM user does not work.

From Uyuni server:

[code]

Error in rhn_server_app.log shows;

[code]

[2019-07-30 11:42] megamaced opened #1203 "spacewalk-common-channels internal exception"
Running latest RPMs from Uyuni/Master

Can't seem to add any channels via spacewalk-common-channels

[code]

[code]

[2019-07-30 20:30] juliogonzalez commented on #1203
Confirmed. I can reproduce on the CI instance, not just for Leap 42.3, but for Leap 15.0 and 15.1 as well.

It seems the channel gets created, but something fails:
[code]

This is from `rhn_web_api.log`:
[code]

Nothing strange at `rhn_server_xmlrpc.log`.

@cbbayburt we'll need to have a look tomorrow, to get this fixed for 4.0.2.

Somehow this seems to be related to RPM channels (I am able to rep

[2019-07-31 07:20] juliogonzalez commented on #1203
I can see the channels I added yesterday at the WebUI. For example:

![image](https://user-images.githubusercontent.com/4226070/62191707-5549f800-b374-11e9-87cc-fcb175c6b414.png)

[2019-07-31 07:42] juliogonzalez commented on #1203
Adding Debian works, adding Fedora does not:
[code]

[2019-07-31 07:47] juliogonzalez commented on #1203
Adding fedora27, this is the output of running `tail /var/log/tomcat* and /var/log/rhn*`:
[log.txt](https://github.com/uyuni-project/uyuni/files/3450409/log.txt)

[2019-07-31 10:22] cbbayburt commented on #1203
[code]

The verbose output shows that the `repo_type` is sent empty to the API for RPM channels. This is causing the problem at repository creation. The channel gets created, but the code crashes when trying to create the repository.

I'll post a patch for `spacewalk-common-channels` soon.

We'll need more explanatory error messages as well.

[2019-07-31 11:52] cbbayburt commented on #1203
I've opened https://github.com/uyuni-project/uyuni/pull/1208 for the fix.

There's one more thing which worries me. The code goes through the list of available channels and checks if any of them exists. It does this check by calling `software.channel.getDetails`. If this call returns an error, then it means the channel does not exist.

However, his method logs a stack trace to the API log if the c

[2019-07-31 11:53] #1203 closed

[2019-07-31 11:59] megamaced commented on #1200
@SchoolGuy Is this a temporary workaround?

```UYUNIMASTER:~ rsync -av /srv/tftpboot PROXY:/srv/tftpboot```

[2019-07-31 12:06] cbbayburt opened #1209 "spacewalk-common-channels: misleading error messages in the XMLRPC API log"
The `spacewalk-common-channels` code goes through the list of available channels and checks if any of them exists. It does this check by calling `software.channel.getDetails`. If this call returns an error, then it means the channel does not exist.

https://github.com/uyuni-project/uyuni/blob/5ed58013e23f8c0dc47863632e423b3f2eb7c22f/utils/spacewalk-common-channels#L141-L149

However, this method l

[2019-07-31 12:31] SchoolGuy commented on #1200
@megamaced I am not sure but I suspect that you would need to change on the proxy the config files which are placed on the proxy after the `rsync`. Depending on the size of your setup this may be an impossible task (if it is small it may be possible although).

[2019-07-31 13:58] juliogonzalez commented on #1203
Just for reference, verified on my test server:
[code]
Thanks again @cbbayburt :-)

[2019-08-01 10:57] meaksh commented on #1202
This is now fixed on  `master` and will be part of upcoming 4.0.2 release.

Thanks for reporting @megamaced ! :+1:

[2019-08-01 10:57] #1202 closed

[2019-08-01 10:59] juliogonzalez commented on #1200
@SchoolGuy is there any code change we need?

FMPOV there's something wrong at the python code. Maybe @brejoc should have a look.

[2019-08-01 11:01] SchoolGuy commented on #1200
@juliogonzalez I didn't look at it because I have enough on my plate. Internally this is already in the Squad of Jochen.

[2019-08-01 14:00] juliogonzalez opened #1217 "Ubuntu client tools from Uyuni can't be added if a SCC account is present"
[code]
If the server does NOT have a SCC account, then this works fine.

If the server DOES have the SCC account and the Ubuntu client tools (for example for 16.04) added and synced, then this works fine. But the problem is that then the bootstrap repository will mix packages from SCC and packages from Uyuni.

To me it seems that as soon as a SCC acount is present, something is added to the DB tha

[2019-08-01 14:59] cbbayburt commented on #1217
I can see three possible solutions here:

1. Document the restriction that if the user has SCC subscription, then they **have to** add the Ubuntu product in order to use `common-channels` to add Ubuntu dist channels.

2. Change the base channel in .ini file to some other label than the SCC version. The drawback would be that even if they have an SCC subscription and add the Ubuntu product, `common

[2019-08-01 15:18] cbbayburt commented on #1217
After discussing with @mcalmer, we decided this should not block the release.

After all, the user has a couple of workarounds:

A. Edit the .ini file and change the base channel label

 or

B. Add the channels manually as they see fit

[2019-08-01 15:31] juliogonzalez commented on #1217
Ok, but then this means updating the release notes as this will clearly contradict what we have at the doc.

1. With this we are basically forcing the users to use the SUSE Manager because they they will get the client tools Ubuntu for SUSE manager.
     a) First problem: They will NOT be using the Uyuni Client Tools.
     b) Second problem: If they add then the Uyuni Client Tool channels, the boo

[2019-08-01 17:18] juliogonzalez commented on #1217
So option 4 it was.

Doc change: https://github.com/SUSE/doc-susemanager/pull/614

[2019-08-01 17:18] #1217 closed

[2019-08-02 08:41] #839 closed

[2019-08-02 08:41] #848 closed

[2019-08-02 08:42] #784 closed

[2019-08-02 15:34] ajcody opened #1228 "Windows Salt client support"
References: https://docs.saltstack.com/en/latest/topics/installation/windows.html

Would like to see basic salt functionality and management within Uyuni/SUMA for Windows clients.

#Support Ticket 101249308831
Looking for any information regarding Windows salt clients and integration with Uyuni/SUMA4.

Even if it's an unsupported client from Suse Support, I would like to know if the "theory" is th

[2019-08-02 15:39] ajcody opened #1229 "System Set Manager (SSM) UI changes on selecting resources"
Allow selecting of resources within the actually SSM page itself (Main Menu > System Set Manager Systems or Overview) and select the systems/groups one wants to interact with in regards to the SSM feature set. (Also, you can't "uncheck/deselect" systems either within the SSM UI pages.

# Support Ticket 101248857421
It appears that to use any of the "SSM" features or items within its page one can:

[2019-08-03 15:48] ajcody opened #1232 "Rerunning installation (delete old) with Uyuni patter 4.0-400.9.1"
Errors at the end because it can't deploy the new certs - package conflict (rhn-org-httpd-ssl-key-pair-salt-master  line 68).

Got around it after I had 1) delete the pem file 2) and it seems - after I rm /root/ssl-build /root/ssl-build-old .  Then I was able to reinstall (setup) Uyuni

[2019-08-03 16:01] ajcody commented on #1163
I hit this with SUMA 4, but doing the setup and sync attempt in the web UI. I ended up getting ubuntu sync'ed by the CLI with the following:
spacewalk-report channels | grep -i ubun
and then for each match
spacewalk-repo-sync --channel ubuntu-bionic-main-18.04
13:43:05 ======================================
13:43:05 | Channel: ubuntu-bionic-main-18.04
13:43:05 =====================================

[2019-08-03 19:26] hunter86bg commented on #1163
Thanks for the feedback.
As Uyuni has a newer version, I will give it a try and provide feedback if the issue  is still valid.

[2019-08-04 22:57] juliogonzalez commented on #1232
In this context we are running about the YaST2 setup failing, is that correct?

[2019-08-04 22:59] juliogonzalez commented on #952
This is not happening anymore with the just released 4.0.2.

[2019-08-04 22:59] #952 closed

[2019-08-04 23:00] juliogonzalez commented on #765
Leap 42.3 is now EoL. Should we close this issue? @meaksh, @rpasche?

[2019-08-04 23:01] juliogonzalez commented on #709
4.0.2 is now out and already specifies 8GB as the bare minimum for testing.

[2019-08-04 23:01] #709 closed

[2019-08-04 23:39] ajcody commented on #1232
yes

[2019-08-05 05:30] rpasche commented on #765
Would be ok for me.

⁣sent from my mobile device​

-------- Originale Nachricht --------
Von: "Julio González Gil" <notifications@github.com>
Gesendet: Mon Aug 05 01:00:39 GMT+02:00 2019
An: uyuni-project/uyuni <uyuni@noreply.github.com>
Cc: Robert Paschedag <robert.paschedag@web.de>, Mention <mention@noreply.github.com>
Betreff: Re: [uyuni-project/uyuni] Package dependency error in spacewalk-back

[2019-08-05 08:12] meaksh commented on #765
Closing since openSUSE Leap 42.3 is EoL.

[2019-08-05 08:12] #765 closed

[2019-08-05 21:10] ajcody commented on #1228
You can bind a windows 2000 salt client to the Uyuni salt-master. Just can't figure out a way to get the windows client showing up in the Uyuni web UI under systems. It is listed in the Salt > Keys. Not sure if it's just a matter of tweaking the windows minion configuration files.

Client Install
Reference Documentation: https://docs.saltstack.com/en/latest/topics/installation/windows.html

Client

[2019-08-05 21:58] ajcody commented on #1228
Another Suse Support Ticket created also on this: SR 101250308681

[2019-08-06 06:49] vampywiz17 opened #1240 "Duplicate package in Ubuntu"
Hello there,

I try to update a ubuntu system, but some packages can not able to do it, because it say that a missing dependency. this packages is same version tha installed it, but different name.

Like this:

Latest Package                              |                         Installed Package
gcc-8-base-8-20180414-1ubuntu2.amd64-deb | gcc-8-base-8.3.0-6ubuntu1~18.04.1.amd64-deb

How to solve/

[2019-08-06 10:09] vampywiz17 commented on #1240
This is my problem :

https://www.redhat.com/archives/spacewalk-list/2018-December/msg00002.html

[2019-08-06 11:36] dragon2611 opened #1243 "Centos 7 Reposync on 4.02"
If you setup the centos 7 repository as per the `Preparing Channels and Repositories for CentOS Traditional Clients` section of the client configuration guide (https://www.uyuni-project.org/doc/4.0.2/uyuni_client_configuration_guide.pdf)  you will get the following errors when trying to sync the repos.

2019/08/06 12:21:23 +01:00 ERROR: Download failed: http://mirrorlist.centos.org/Packages/zzipli

[2019-08-06 14:21] vampywiz17 opened #1246 "Filter with package version"
Some big repositorys that store all versions of a specific program is a quite big and unneccesary to download all of them.

good example: https://packages.gitlab.com/gitlab/gitlab-ce/ubuntu/dists/bionic/main/binary-amd64/

It a lot of version of gitlab, but optimally it only need the latest one.

it possible somehow filter with the latest version?

I try to set "--latest" flag on sync menu and "sp

[2019-08-06 14:27] meaksh commented on #1243
Actually, the metadata es read from the mirror and the packages are actually downloaded but somehow those `404` errors. It sounds like a post-downloaded step of reposync is not getting the proper URL. I'll fix this.

About `spacewalk26-client-centos7`, this is actually a bug in the documentation. The right client tools channels for centos7 is `centos7-uyuni-client-x86_64` (as listed on `spacewalk-

[2019-08-06 14:59] dragon2611 commented on #1243
I deleted and re-created those channels this time syncing from the command line, interestingly I didn't see those 404 errors that time.

[2019-08-06 15:04] meaksh commented on #1243
This is funny, because if you look at `/var/log/rhn/reposync/centos7-x86_64.log` you will see the errors there. I've already figured out what's happening here.

The issue is caused because, even if get successfully resolve the list of mirrors, the first try of downloading the package is still using the wrong URL, that causes that ERROR message on the log files but then, the next try will download

[2019-08-06 15:09] mcalmer commented on #1246
The last time I tried, --latest was working. Even in the UI you have a checkbox for it.

@meaksh Do you remember if we tested this option after the re-write of the downloader part?

[2019-08-06 15:15] meaksh commented on #1246
The reason for this is clarified here:

https://github.com/uyuni-project/uyuni/blob/master/backend/satellite_tools/repo_plugins/deb_src.py#L254

The `--latest` filtering is delegated to the particular "reposync" plugin, and currently only `yum_src` plugin has it implemented. So it's not yet supported for Debian repositories.

[2019-08-07 05:17] hunter86bg opened #1248 "Uyuni 4.0.2 Could not connect to search server."
This is a fresh install of Uyuni 4.0.2
The rhn-search.service dies immediately with:
[code]
[code]
[code]
Another interesting fact is that the exit code of the systemd service is '0'.

[2019-08-07 05:27] hunter86bg opened #1249 "mgr-create-bootstrap-repo cannot create repo for Ubuntu 18"
It seems that the channels created by spacewalk-common-channels for Ubuntu18 are as follows:
[code]
While the mgr-create-bootstrap-repo is looking for:
[code]
Shouldn't we have 2 entries in '/usr/share/susemanager/mgr_bootstrap_data.py' - one for LTSS and one for uyuni channel ?

[2019-08-07 05:45] mcalmer commented on #1249
I remember to add this channel was a last minute change. So maybe we forgot to adapt create bootstrap repo data.

[2019-08-07 05:55] hunter86bg commented on #1249
I know... It was in the release notes.
On the positive side, the channels  for Ubuntu sync properly and I can close the other issue.

[2019-08-07 05:57] hunter86bg commented on #1163
In last version -> 4.0.2  Ubuntu repos sync properly.
I'm closing this issue - as  it's fixed.

[2019-08-07 05:57] #1163 closed

[2019-08-07 06:23] vampywiz17 opened #1250 "Ubuntu/Debian errrata import scripts"
Hello there,

I use this bunch of scripts to import Ubuntu/Debian errata information.

https://github.com/philicious/spacewalk-scripts

I only yust link to you, that is hope to help you to integrate this feature to your official release.

[2019-08-07 08:04] #1243 closed

[2019-08-07 09:10] mcalmer commented on #1248
Please check if you have all packages installed. In this case the class should be part of the "lucene" and "lucene-queryparser" package.

[2019-08-07 09:29] hunter86bg commented on #1248
The only installed is:
[code]

I have installed 'lucene-queryparser' but the issue is still existing:
[code]

[2019-08-07 10:26] #1246 closed

[2019-08-07 11:34] mcalmer commented on #1248
Ahh, we ship our own lucene. In the repo below:

https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-4.0-POOL-x86_64-Media1

we ship lucene-2.4.1 (much older but working). Try to install this one instead of 6.6.0 .

[2019-08-07 11:36] mcalmer commented on #1248
We better at a version to the dependency to prevent this in future.

[2019-08-07 13:43] dragon2611 opened #1256 "Channel for Proxy in 4.02"
There does not seem to be an up2date channel in spacewalk-common-channels for the Proxy in 4.02,

the uyuni-proxy-40-X86_64 channel still has dependencies on Leap 42_3 which I believe to be EOL so not suitable for a new proxy deployment.

Also the Installation guide still seems to be geared around Suse Manager (The enterprise version)

Edit: Sorry I meant 4.02 for some reason I thought it was 4.03

[2019-08-07 14:33] jcayouette commented on #1243
Added the fix to our docs.

[2019-08-07 15:06] stdevel commented on #1248
Hello,
I'm able to reproduce this with the same error.

The workaround is - as mentioned by @mcalmer - quite easy:
[code]

[2019-08-07 15:09] hunter86bg commented on #1248
Yep. It works with the package from Uyuni Stable as follows:
[code]

[2019-08-07 15:09] stdevel opened #1257 "Feature Request: Implement API calls and spacecmd commands for Organization Credentials"
Hello Uyuni team!

It would be great to have API calls for managing Organization Credentials (*which are required to download SUSE packages*). Currently, there are no API calls or ``spacecmd`` commands for this purpose requiring manual action.

Best wishes,
Christian.

[2019-08-07 15:18] stdevel opened #1258 "Feature Request: Implement API calls and spacecmd commands for Virtual Host Managers"
Hello Uyuni team!

It would be great to have API calls for managing Virtual Host Managers. Currently, there are no API calls or ``spacecmd`` commands for this purpose requiring manual action.

Best wishes,
Christian.

[2019-08-07 15:25] mcalmer commented on #1257
The namespace is not very obvious but it exists:

- sync.content.listCredentials
- sync.content.addCredentails
- sync.content.deleteCredentials

This interface is used by `mgr-sync` commandline tool as well.

[2019-08-07 15:55] #1249 closed

[2019-08-07 16:09] mcalmer commented on #1258
Check

rhn/apidoc/handlers/VirtualHostManagerHandler.jsp

spacecmd support does not exist yet,

[2019-08-07 16:49] stdevel commented on #1258
Good to know - thanks for sharing! 👍

Is there a dedicated repository for ``spacecmd`` along with Uyuni? I know that the original source code came from Spacewalk project so they surely won't implement this feature?

[2019-08-07 17:01] mcalmer commented on #1258
Yes, here in our git repository. The subdirectory `spacecmd/` contains this code and now also Unit tests.  Contribution is welcome.

[2019-08-07 17:09] stdevel commented on #1257
Thanks for sharing! As discussed in the issue 1258 (https://github.com/uyuni-project/uyuni/issues/1258#issuecomment-519184119) I understand that the ``spacecmd`` utility is also part of this repository.
I will have a look at the source code and maybe submit a contribution. :)

[2019-08-08 11:59] stdevel opened #1260 "Feature Request: Implement spacecmd commands for managing action chains"
Hello Uyuni team,
currently there are no ``spacecmd`` commands for managing Action Chains even though there is appropriate API support (**see also https://www.redhat.com/archives/spacewalk-list/2018-August/msg00097.html**).

As discussed in issue 1258 (https://github.com/uyuni-project/uyuni/issues/1258#issuecomment-519184119) I understand that the ``spacecmd`` utility is also part of this reposito

[2019-08-08 12:44] dragon2611 opened #1261 "Client-Tools Leap 15.1 Repository."
It seems the Client-Tools repo setup by spacewalk-common-channels for Leap 15.1 has a problem.

[code]

[2019-08-08 12:47] meaksh commented on #1261
I'm also able to reproduce this issue

[2019-08-08 14:14] dragon2611 opened #1263 "Proxy install docs improvements."
The Proxy install docs could ideally use some work,

The Documentation here seems to miss the step where you pull the uyuni-proxy pattern

I did

`zypper in -t pattern uyuni_proxy`

After configuring the channels (For LEAP 15.1 rather than SLES as suggested in the documentation) and only then did I have the confgure-proxy.sh script.

https://www.uyuni-project.org/uyuni-docs/uyuni/installation/prox

[2019-08-08 14:16] dragon2611 commented on #1256
I added the Leap 15.01 channels via spacewalk-common-channels then manually added https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Proxy-4.0-POOL-x86_64-Media1/ via the webUI which seemed to work.

[2019-08-08 14:26] meaksh commented on #1261
@dragon2611 This might be an issue with one of the repository mirrors. Usually this fixes after some time when the mirror updates.

Let's keep the eye on this, if this doesn't get fixed soon I'll escalate the issue.

Thanks for reporting! :+1:

[2019-08-08 14:53] stdevel opened #1264 "Feature Request: Implement spacecmd commands for managing Content Lifecycle Projects and Environments"
Hello Uyuni team,
currently there are no ``spacecmd`` commands for managing Content Lifecycle Projects and Environments.

As discussed in issue 1258 (https://github.com/uyuni-project/uyuni/issues/1258#issuecomment-519184119) I understand that the ``spacecmd`` utility is also part of this repository.

[2019-08-08 16:58] dragon2611 opened #1266 "Ubuntu 16.04 moans about i386"
Seems once bootstrapped Ubuntu 16.04 (X86_64) complains about lack of i386 arch in the repo's for some reason.

[code]

[2019-08-08 22:18] megamaced commented on #1248
I also had this issue on a Master/convert to stable rpm build,  but a simple systemctl restart  rhn-search.service resolved it for me. No further action was necessary

[2019-08-09 06:13] mcalmer commented on #1199
@meaksh there is a closed PR referenced. Does it mean this issue is done and can be closed?

[2019-08-09 08:08] meaksh commented on #1199
@mcalmer - No, this still need to be implemented.

[2019-08-10 20:40] hunter86bg opened #1275 "Uyuni 4.0.2 - Salt bootstrap fails on CentOS7 with enabled EPEL (package conflict)"
Hello All,

I have noticed that any RHEL 7/ CentOS 7 is failing to be bootstrapped or updated  when EPEL is enabled.
This behaviour was observed on our SUMA 3.2 , Uyuni 4.0.1 & Uyuni 4.0.2.

Based on the bootstrap script - all repos should be disabled before the packages are being installed but this is not true.
Bootstrap script:
[code]
When EPEL is enabled :
[code]

When I manually disable EPEL o

[2019-08-10 20:48] hunter86bg commented on #1275
Using the following bypasses any local repos:
[code]

So the bootstrap script could be changed like this:
[code]

[2019-08-10 21:08] hunter86bg commented on #1275
It seems that the bootstrap ends successfully , but the salt-minion fails to start. I'm not sure if the issue is that all repos were disabled during salt installation or due to multiple re-registrations.

[2019-08-10 21:35] hunter86bg commented on #1275
Reverted both CentOS7 VMs from snapshot, changed /etc/machine-id to another value.
With the modification above I have managed to bootstrap successfully and later - update the VMs.

[2019-08-11 10:38] hunter86bg commented on #1275
Another approach that comes to my mind is to set lower priority for epel repo, which will help during updates.

[2019-08-12 06:13] hunter86bg opened #1277 "Uyuni 4.0.2 - strange behaviour with Ubuntu 18.04 and channels from spacewalk-common-channels"
Hello All,

I know that Ubuntu support is not production ready , but I see the following strange behavior:
1.  uyuni shows that there are no pending updates on the system (see attachment)
2. On the opposite ubuntu reports that there are 400 packages for upgrade (see attachement)
![ubuntu-18-04-no updates](https://user-images.githubusercontent.com/22281444/62847881-6e8e6500-bce1-11e9-9abb-104b8eaaa

[2019-08-12 18:36] partingc commented on #1200
Seeing the same issue, note that apache logs on the proxy don't even show an attempt to connect for me

[2019-08-13 12:39] cbbayburt commented on #805
I suppose the problem is that while the reposync code supports it, our Zypper plugin cannot find the correct `comps` and the `module.yaml` files:

https://github.com/uyuni-project/uyuni/blob/61cfb4e1caabd5fa84c032ff439048f6589554b1/backend/satellite_tools/reposync.py#L788-L791

This should be an easy fix on the plugin itself:
https://github.com/uyuni-project/uyuni/blob/61cfb4e1caabd5fa84c032ff4390

[2019-08-14 10:06] vampywiz17 opened #1285 "Package List Refresh - error (Ubuntu 18.04)"
Hello there,

I try to use Ubuntu with Salt (not salt-ssh) A successful register the client, but i get "unexpected error" if i try to query package info.
I check client salt log, and i found this:

[code]
it possible that this one is the problem? (it only just a idea)

https://github.com/saltstack/salt/issues/50550

[2019-08-14 10:52] vampywiz17 commented on #1285
OK, it working with Uyuni specific salt...:)

[https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/Ubuntu1804-Uyuni-Client-Tools/xUbuntu_18.04/](url)

sorry the fail issue report.

[2019-08-15 22:38] paususe opened #1296 "Add support for apt-listbugs"
apt-listbugs is a tool which retrieves bug reports from the Debian Bug Tracking System and lists them. In particular, it is intended to be invoked before each installation or upgrade by APT, or other compatible package managers, in order to check whether the installation/upgrade is safe.

https://manpages.debian.org/unstable/apt-listbugs/apt-listbugs.1.en.html

This is Debian-specific, it does not

[2019-08-15 22:38] #1285 closed

[2019-08-19 17:31] paususe commented on #1261
@dragon2611 are you still having this problem?

[2019-08-19 17:53] paususe opened #1300 "openSUSE Leap 15.1 Client Tools repository missing?"
There is no openSUSE Leap 15.1 Client Tools repository, only openSUSE Leap 15.0 Client Tools:
https://build.opensuse.org/project/show/systemsmanagement:Uyuni:Stable:openSUSE_Leap_15-Uyuni-Client-Tools

A link in the docs is also needed:
https://www.uyuni-project.org/pages/stable-version.html#proxysetup

[2019-08-19 17:54] dragon2611 commented on #1261
Appears so

[code]

Also there appears not to be a specific repo for leap 15_1

[2019-08-20 23:23] paususe opened #1303 "spacewalk-proxy package is never built. Or is it?"
In spacewalk-proxy.spec, the description of the spacewalk-proxy package says:

_%description
This package is never built._

But it actually is built:
https://software.opensuse.org/package/spacewalk-proxy

What's wrong? Description? Packaging?

[2019-08-26 15:29] #1248 closed

[2019-08-26 15:34] #1256 closed

[2019-08-29 00:45] paususe commented on #1199
@meaksh how difficult do you think this is?

[2019-09-01 12:48] mcalmer commented on #1303
It is building, but `spacewalk-proxy` is only the name of the source package. All binary packages built from these sources have different names:
- spacewalk-proxy-management
- spacewalk-proxy-broker
- spacewalk-proxy-redirect
- spacewalk-proxy-common
- spacewalk-proxy-package-manager
- spacewalk-proxy-salt

They are all on the proxy media.

`%description` is for the source package and this never g

[2019-09-02 10:52] meaksh commented on #1199
@paususe - This is not hard to implement, we already do something similar inside `yum_src` plugin to deal with mirrorlist and metalink on RPM repositories. This should be something similar but inside `deb_src` plugin (DEB repos).

[2019-09-02 10:56] meaksh commented on #1261
This is correct, since there is no specific client tools repo for Leap 15.1. Both Leap 15.0 and 15.1 use the same client tools repo (15.0). If needed, @juliogonzalez can clarify this better.

In any case, it seems there is still some issue with that repo, let see if we can figure out what is happening

[2019-09-02 11:02] juliogonzalez commented on #1261
That's correct, there is no specific repository for 15.1 The repository for 15.0 is valid for all 15.X releases (happens the  same for SLE15, where the repository for SLE15 is also valid for all SLE15SP* releases).

So getting Leap 15.0 client tools when requesting 15.1 client tools sync is normal.

What is not right are the problems with the checksums. Something tells me that the checksum specifi

[2019-09-04 13:57] renner commented on #1181
In the meantime we merged #1139, so I guess this one can be closed.

[2019-09-04 13:57] #1181 closed

[2019-09-06 12:08] juliogonzalez commented on #1300
We only have openSUSE Leap 15.0 for all 15.X versions, in the same way we only have SLE12 for all SLE12SPX versions as well.

Assigning to me, as we need to change the website (Client Tools section for both stable and devel).

I will review the doc itself, to see if we need something there.

[2019-09-06 12:09] juliogonzalez commented on #1303
Can we close this?

[2019-09-06 12:25] juliogonzalez commented on #1277
@hunter86bg this is happening at Uyuni Stable, right?

[2019-09-06 13:28] juliogonzalez commented on #1261
Ok, I can confirm this is a OBS issue:

This is from the repository metadata (https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/openSUSE_Leap_15-Uyuni-Client-Tools/openSUSE_Leap_15.0/repodata/fda1b74b6cc4109175630e001eaea9f02f9c3f0a684763ba47920303dd0918ed-primary.xml.gz)

[code]
And this is the package (http://ftp2.nluug.nl/os/Linux/distr/opensuse/repositories/systemsma

[2019-09-06 13:30] juliogonzalez commented on #1261
Waaaait a minute... I wonder if the problem is that maybe the mirror i broken.

I will try the other mirrors, but meanwhile:

@dragon2611  can you run:

[code]
from the Uyuni server, and share the output?

[2019-09-06 13:36] hunter86bg commented on #1277
I've rebuilt uyuni and I think to deploy another Ubuntu 18  to verify the situation.

Still patching through the UI updates the necessary packages without any issues.

I will try to provide an update in the next days.

Yes, using uyuni 4.0.2  from stable repo, client tools are also stable (no devel).

[2019-09-06 13:55] dragon2611 commented on #1261
--2019-09-06 14:49:49--  https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/openSUSE_Leap_15-Uyuni-Client-Tools/openSUSE_Leap_15.0/noarch/zypp-plugin-python-0.6.2-lp150.2.1.noarch.rpm
Resolving download.opensuse.org (download.opensuse.org)... 195.135.221.134, 2620:113:80c0:8::13
Connecting to download.opensuse.org (download.opensuse.org)|195.135.221.134|:443... connected.

[2019-09-06 14:34] juliogonzalez commented on #1261
I tired other mirrors, and yes: same problem.

I tired to ask how to solve it at OBS IRC channel, and next will be mailing list.

[2019-09-06 20:23] hunter86bg commented on #1277
Hm.. it seems more complex than I thought.
I have deployed a new system via ubuntu-18.04.3-live-server-amd64.iso (next ->next ... next -> finish)
Then I have checked the installed and upgradeable packages and bootstrapped the system to the uyuni's ubuntu-18.04-pool-amd64-uyuni channel.

As you can see from upgradeable-afterbootstrap the apt claims that everything is upgradeable but both source and

[2019-09-10 21:46] #1303 closed

[2019-09-11 19:03] Bischoff opened #1352 "Failed "Hardware list refresh" event when bootstrapping Salt SSH minion"
Using an openSUSE 15.0 SSH Minion, the "Hardware list refresh" event is marked as "Failed" at the end of the bootstrap.

The problem goes away when I preinstall `dmidecode` package on the future Salt SSH minion before bootstrapping.

Most probably the hardware list refresh assumes that `dmidecode` is installed, but this package is not installed as part of the bootstrap sequence.

I don't see the p

[2019-09-12 14:14] parlt91 opened #1354 "Debrand mgr-setup file"
The `mgr-setup` file in `susemanager/bin` still contains some hard coded `SUSE Manager`.

For example: The script sets the default value of `default_mail_from` in `/etc/rhn/rhn.conf` which causes mails generated from uyuni to be sent from`SUSE Manager` name.
This name should rather be dependent on `product_name` set in `/usr/share/rhn/config-defaults/rhn.conf`
See #250 which contains an example.

[2019-09-12 23:39] gnuninu opened #1356 "Problems getting debian 9 system to work with uyuni stable 4.0.2"
I have managed to register a debian 9 VM fine with Uyuni stable 4.0.2 but i have few problems with the debian repo assignment, they don't seem to be configured after the registration
From the UI under (debian) system events the repo tasks are still in a pending state

**OS**: openSUSE leap 15.1
**salt master:** salt 2019.2.0 (Fluorine) - RPM: salt-master-2019.2.0-lp151.5.3.1.x86_64
**salt minion**

[2019-09-13 09:30] juliogonzalez commented on #1261
@dragon2611: OBS admins tried now, and it seems it's working fine.

I tested myself, and I can confirm it:

[code]

[2019-09-16 11:40] parlt91 opened #1368 "DB migration idempotency test failing due to trigger"
the `schema_migration_test_pgsql` idempotency test is failing due to the `modified` timestamp being updated by a trigger.

**For example:**
When writting a migration that executes the following `update ... set` command:
[code]
The corresponding trigger `uyuni/schema/spacewalk/postgres/triggers/rhnTemplateString.sql`
will be triggered, which modifies the `modified` column.
That trigger causes the t

[2019-09-17 09:44] mbologna commented on #1368
What if we change the behavior of the schema_idempotency_test_pgsql.py?
E.g. by adding an option to not compare the diff of the particular table in question:

[code]

Alternatively, do not compare all the columns for `rhntemplatestring` (filter out `modified` and `created`) columns.

What do you think?

[2019-09-17 10:02] juliogonzalez commented on #1368
FMPOV, it could work, but it's far way less generic.

[2019-09-18 08:18] moio commented on #1368
There's many tables with `modified` columns and it is a pattern that they are updated via trigger.

In this case, as a customer, I would expect the `modified` column to change because of the schema upgrade.

I would then vote for adapting the `schema_idempotency_test_pgsql.py` script to explicitly ignore `modified` columns.

How difficult is that from an implementation POV?

[2019-09-18 09:27] juliogonzalez commented on #1368
`schema_idempotency_test_pgsql.py` just runs a `diff` between two DB dumps, so there's now way to say "hey, ignore a column", because `diff` doesn't know anything about it.

So I can only see three ways of handling this during TESTS.

1. We disable the trigger before setup (so the column is not updated):
2. We reset, somehow, the dates on the second dump to match those from the first (I don't expe

[2019-09-19 12:42] #1030 closed

[2019-09-24 23:04] paususe commented on #1199
@meaksh @mcalmer
Or maybe we can use apt-smart (which has a CLI and an API) to get a list of Debian and Ubuntu mirrors:
https://pypi.org/project/apt-smart/

[2019-09-25 07:58] admd commented on #1356
Hi  @gnuninu , do you still face the issue? Can you please share logs of rhn_web_ui and apache logs so we can check why is it hanging.

[2019-09-25 13:29] ncounter opened #1427 "spacewalk-remove-channel: let it be triggered from the webUI as well"
We have a `command line` command to remove channels.
We should cover this functionality from the webUI as well.

[2019-09-26 23:39] gnuninu commented on #1356
Hi @admd,

I have de-registered the system and tried the registration process one more time and I confirm i had the same behaviour as described above.
Please find attached the logs requested with the addition of the salt master logs.
The channels are in a pending state in the UI as shown in the picture pending_channels_tasks

as pointed previously the content of `/etc/apt/sources.list.d/susemanage

[2019-09-30 12:30] meaksh commented on #1199
I'm not sure if it's worth to create and maintain a new package just for doing this in the DEB context. I think we can simply need to parse the `mirrors.txt` file and use one of the provided mirrors.

[2019-10-01 08:07] TimShaw61 opened #1449 "SOLVED - Problems setting up bootstrap for Ubuntu channel"
uyuni 4.0.2
I'm following the client configuration guide and have setup channels for ubuntu 18.04 as per the docs.  All these channels are synced and contain packages.  I want to setup the bootstrap so I run:

`mgr-create-bootstrap-repo --with-custom-channels`

as per the docs and get a list of channels to select:

[code]

Selecting 5 gives:

[code]

debug mode reveals that the script could not fi

[2019-10-02 08:35] mbologna commented on #1449
Is this an upgraded server? Have you run `spacewalk-schema-upgrade`?

[2019-10-02 08:52] mbologna commented on #1277
This is probably related to a bug in the current implementation of version compare for Debian packages.
We are preparing a fix, WIP in https://github.com/uyuni-project/uyuni/pull/1412

[2019-10-02 08:57] juliogonzalez commented on #1068
We have now support for Leap 15.0 and 15.1, so closing the issue.

[2019-10-02 08:57] #1068 closed

[2019-10-02 10:02] hunter86bg commented on #1277
I saw a major change in the debian comparison engine is needes.
Once you have a working solution  - ping me and I can redeploy my Uyuni and test that for you.

[2019-10-02 10:16] TimShaw61 commented on #1449
No - its a fresh installation.  I was able to create other bootstrap repos - for centos7 for example.  There seems to be a problem with mgr-create-bootstrap-repo script not identifying the parent channel from the database

[2019-10-02 10:58] TimShaw61 commented on #1449
OK - problem solved.  The mgr_bootstrap_data.py file in the released 4.0.2 code did not contain the repository information for the base channel 'ubuntu-18.04-pool-amd64-uyuni'.  Updating this file from github allowed the bootstrap repo to be created properly.

[2019-10-02 10:58] #1449 closed

[2019-10-02 10:59] TimShaw61 commented on #1449
Solved as described above

[2019-10-03 08:51] mbologna commented on #1277
The fix is merged. @juliogonzalez can you please prepare the packages for @hunter86bg ?
Instructions here: https://bugzilla.suse.com/show_bug.cgi?id=1150113&GoAheadAndLogIn=1#add_comment
Thanks

[2019-10-03 09:40] mbologna commented on #1277
@hunter86bg : I spoke with @juliogonzalez : the fix will be included in the next Uyuni release.

[2019-10-09 16:26] hunter86bg commented on #1277
Are the packages available ?
If yes, in which repo?

Once you confirm that the fix is available, I can redeploy the uyuni for the test.
If you wish, I can also try to upgrade the current uyuni .

[2019-10-09 21:46] paususe commented on #1240
It's partially fixed (namely, the current fix should cove the packages you reported) now in master with https://github.com/uyuni-project/uyuni/commit/02da29ed1fd8e185a6ab8f10c6d555a96a7bf72f

A full fix should land soon in master.

[2019-10-16 10:50] mateiw commented on #1356
Hi @gnuninu. I'd suggest you:
- Delete the minion from the Uyuni server
- Uninstall `salt-minion` package from Saltstack upstream. Make sure to remove also the config under `/etc/salt`
- Add a repo for the `salt-minion` package from openSUSE https://download.opensuse.org/repositories/systemsmanagement:/saltstack:/products:/debian/Debian_9.0/. It has additional patches that might not be yet be pres

[2019-10-16 10:54] mateiw opened #1495 "Create bootstrap repo for Debian"
`mgr-create-bootstrap-repo` currently doesn't support Debian. It only works for Suse, RHEL and Ubuntu.
Debian support is needed to avoid manual `salt-minion` installation on Debian clients.

[2019-10-21 22:56] gnuninu commented on #1356
Hi @mateiw

thanks for your reply, following your suggestion i think i have made some progress let me recap what i did so far:

[code]

subscribed manaully channels from system--> debian host --> software --> software channels
After this the content of the uyuni's source list changed:

[code]
[code]

In the source.list file I can see the old repos have not been removed and are still commented out

[2019-10-24 13:20] mateiw opened #1525 "Verify metadata checksums of Ubuntu repositories"
Implement metadata checksum verification when syncing Ubuntu/Debian repos:
https://github.com/uyuni-project/uyuni-rfc/blob/master/accepted/00058-deb-repo-additional-headers.md#gpg-signature-checking-and-checksum-verification

[2019-11-05 13:27] brejoc commented on #1200
I did a `cobbler sync` to a proxy the other day and everything worked. Did you follow the setup instructions and execute the corresponding scripts on the master **and** the proxy?

[2019-11-06 14:43] juliogonzalez opened #1559 "Incomplete doc for server setup"
We have that information at https://www.uyuni-project.org/pages/stable-version.html and https://www.uyuni-project.org/pages/devel-version.html, but nowhere at https://www.uyuni-project.org/uyuni-docs/uyuni/installation/server-setup.html as far as I can tell.

Also it has two steps 1:

The second one should be step 2, and it's "Uyuni" and not "SUSE Manager".

This part is optional in Uyuni.

[2019-11-06 15:04] keichwa commented on #1559
I'd happily spend time on this.  As said previously, I'd create a dedicated Installation Guide for Uyuni (and thus also for SUMA).  Ifdef'ing or profiling within the files will not produce good results in this case.

[2019-11-06 15:04] juliogonzalez commented on #1559
Well, either we do that before next Uyuni release, either we add `if`s :-\

[2019-11-06 15:10] keichwa commented on #1559
sure :)  I think ifs within lists or procedures are not possible.  At least, not easily possible.  Sparkling '+' signs might make it work, but this usually is pure luck.  This the next tool chain update the world might look different.

[2019-11-07 23:58] Loquacity commented on #1559
I think you would need to duplicate the procedure, and then if them separately. Even if you you can make it work with `+` it's gonna look nasty :confounded:

[2019-11-11 15:17] skoehnen23 opened #1578 "repo sync fedora30 did not work"
hi,
i am new in Uyuni, before i used spacwalk.
In the Uyuni GUI i have added a channel and repository for fedora30, but unforunally i got an error when i try to sync.

OS: openSUSE Leap 15.2
Uyuni: 4.0.2
RepoURL: https://mirrors.fedoraproject.org/metalink?repo=fedora-30&arch=x86_64

--
/usr/bin/spacewalk-repo-sync --channel fedora30-x86_64 --type yum
16:11:13 ======================================

[2019-11-15 14:27] cbbayburt commented on #805
Fixed in #1333

[2019-11-15 14:27] #805 closed

[2019-11-15 14:41] Conan-Kudo opened #1596 "Can we use a better term for updates than "patches"?"
The term "patches" used to refer to updates with updateinfo data is confusing, especially in the context of packages and packaging where "patches" refers to literal out of band modifications to the code for the purpose of improving the code shipped in the package.

I know that SUSE distributions have erroneously referred to these as "patches" even after the transition from PatchRPMs and patchinfo

[2019-11-24 23:38] svgaikwad opened #1626 "Need help with Web UI bootstraping"
need help I did Register a client using Web UI bootstrap everything looks good for system number 1 but when I try to register system number 2 which is in same cidr it is over writing the existing system number 1 could you please help me in fixing this (set up in is aws)

[2019-11-25 07:50] mcalmer commented on #1626
Every system needs a new machine id.
When you use images this is often already generated and then you see this behavior.

[2019-11-25 07:56] mcalmer commented on #1626
Cannot find the uyuni docs so quickly, but this should work an well. https://opensource.suse.com/doc-susemanager/suse-manager/develop/administration/tshoot-registerclones.html

[2019-11-25 20:34] petepascente opened #1632 "Cobblerd fails to start due to legacy version of /etc/cobblerd/modules.conf parameters"
Cobber daemon fails to load on fresh install of Uyuni release 4.0.2 on OpenSUSE LEAP 15.1 4.12.14-lp151.27-default. Journactl output shows:
[code]

This appears to be due to /etc/cobbler.modules.conf containing format for older versions of cobbler. For example -
[code]
Where as of cobbler 3.0.1 this should look like:
[code]

Changing these values manually allows cobblerd to start.

Came across thi

[2019-11-26 03:28] svgaikwad commented on #1626
Hi Mcalmer,
                    Thanks for answering back, I did follow the steps in URL you had referred system in not getting overwriten, but it says successfully added and then I am not able is system in dashboard
Os centos version 7

[2019-11-28 13:20] #1559 closed

[2019-11-28 15:31] ecsclabs commented on #1578
The issue is due to the taskomatic job not handling mirrors well, have a try running it manually with

"spacewalk-repo-sync -c <channel-name>", that should work with no issues.

Again, if you specify 1 mirror from the mirror list that should also eventually work. If you notice the URL it provides is the task attempting to find a repo direct, rather than check a mirror list.

https://mirrors.fedora

[2019-11-29 10:21] skoehnen23 commented on #1578
i have start the sync with cli command, with different URLs from the mirror list. same error....

mirror: http://ftp.halifax.rwth-aachen.de/fedora/linux/releases/30/Everything/x86_64/os
--
/usr/bin/spacewalk-repo-sync --channel fedora30-x86_64 --type yum
11:12:52 ======================================
11:12:52 | Channel: fedora30-x86_64
11:12:52 ======================================
11:12:52 Sync

[2019-12-01 09:05] hunter86bg opened #1656 "cobbler: syntax error near unexpected token `'spacewalk/redhat_register''"
Hi All,

I'm experimenting with uyuni's cobler's capabilities and it seems that machine (rhel 7.7) fails to register to the uyuni.
The /root/ks-rhn-post.log shows only the following:
[code]

The original kickstart is:

[code]
I'm on latest uyuni stable.

[2019-12-02 10:10] keichwa commented on #1559
cherry-picked from manager-4.0 for the next 4.0 MU.

[2019-12-03 09:30] mcalmer commented on #1656
Do you run uyuni "Stable" or "Master" ?

In "Master" we use cobbler 3.0.0 and snippet directories have changed.
Maybe a migration is not yet correctly done as "Master" is development playground.

[2019-12-03 09:31] mcalmer commented on #1656
Just saw, that you wrote you are on "uyuni stable" :-)

[2019-12-03 09:35] mcalmer commented on #1656
Can you paste the output of the following 2 commands please?

[code]

[2019-12-03 15:13] hunter86bg commented on #1656
Sure:

[code]

[2019-12-03 15:17] hunter86bg commented on #1656
In some old threads (I think Fedora) they mention that no Snipp substitution will be done  if the snip is having an issue.

I don't have a cobbler system entry due to another issue (which was already fixed as per  the people  in the cobbler  community):
[code]

[2019-12-04 13:47] mcalmer commented on #1656
Ok, you use already cobbler 3.0.0. I forgot that we had already a release with it.

Please check what is in

[code]

I can see a redhat_register in snippets directly, but there should be one in spacewalk/ subdirectory as well.

There were some changes in cobbler and one very anoying was a rename of some variables and fields. We need to check step by step what is happening.

@SchoolGuy maybe this t

[2019-12-04 13:53] SchoolGuy commented on #1656
Definitly... @mcalmer I will have a look tomorrow.

[2019-12-04 16:32] hunter86bg commented on #1656
It really does contain it:
[code]

[2019-12-05 07:56] SchoolGuy commented on #1656
@hunter86bg Is it possible that you look in `/var/lib/cobbler/cobbler.log` and look for template rendering errors? (Don't paste the whole file, it may contain sensitive information and it will definitely be very very long.)

[2019-12-05 09:28] hunter86bg commented on #1656
Hm... It seems there is a warning:

[code]

[2019-12-05 11:57] paususe commented on #958
I'd say for *any* custom channel, not only for the ones created by `spacewalk-common-channels`.

[2019-12-05 12:11] juliogonzalez commented on #958
Then I in this case it's "per repository", as if you don't use `spacewalk-common-channels` you need to add repositories first (where the sync is done and autosync is configured), and then you add the repositories to the channels.

[2019-12-05 12:15] SchoolGuy commented on #1656
@hunter86g This is exactly the error you asked on Gitter. Just apply the commit I pasted you there and you should be fine!

[2019-12-05 12:24] mcalmer commented on #1656
`redhat_management_type` : it seems this variable is not found. Not sure if this cause the parsing error.
I checked cobbler 2.6 and 3.0. It is not defined anywhere. Also in the uyuni code it is not set.
Sounds a bit like it never worked.

Checking what it does, it seems that we can re-write the snippets and not use it.

[2019-12-05 12:30] mcalmer commented on #1656
@hunter86bg please check my pull request and try out if the changed snippet fix your problem.

https://github.com/uyuni-project/uyuni/blob/d0d2db327f29eb2e2f8e37bb4c55aea2a071e0fd/java/conf/cobbler/snippets/redhat_register

[2019-12-06 04:44] hunter86bg commented on #1656
Thanks, now the 'cobbler system add --help' works

[2019-12-06 08:44] #1656 closed

[2019-12-07 21:04] hunter86bg opened #1685 "Kickstart password - no escape for "$" character which causes errors to be reported"
Issue:
cobbler complains that it can't find a variable like '$E2Pn84eRO/d3ukUB' which is a part of the root user's password generated via:
Systems -> Autoinstallation -> Profiles -> System details -> Details -> New Root Password:/Verify New Root Password:
When visiting 'Autoinstallation Details' -> 'Advanced Options' the password in 'rootpw:' field contains multiple '$' characters (that's OK) , wh

[2019-12-07 21:11] hunter86bg opened #1686 "cobbler traceback when generating/viewing system's kickstart"
Issue is properly described and fixed at:
https://github.com/cobbler/cobbler/pull/2176

It affects latest stable Uyuni.

[2019-12-09 11:29] mbologna opened #1690 "Update serialize-javascript"
We are using: `serialize-javascript` version < 2.1.1
We should upgrade to: 2.1.1

Ref: https://github.com/advisories/GHSA-h9rv-jmmf-4pgx

[2019-12-09 15:40] #1690 closed

[2019-12-11 23:35] paususe commented on #958
This issue is superseded by #10330, closing

[2019-12-11 23:35] #958 closed

[2019-12-18 11:08] stdevel commented on #1248
Is this really fixed? Was doing a new installation today and ended up with the following package version:
[code]

And ``rhn-search`` was not starting:
[code]

The fix was again to install the older version:
[code]

Uyuni packages are as follows:
[code]

[2020-01-03 09:07] keichwa opened #1763 "Setup complete: wrong doc title"
"Uyuni Install and Troubleshooting" does not exist.  I'd just say:

![u](https://user-images.githubusercontent.com/1759421/71715182-d2d8cf00-2e10-11ea-914b-fa36386d2c5f.png)

[2020-01-03 09:20] keichwa opened #1764 "permission issues"
I installed from /Stable/images/repo/Uyuni-Server-4.0-POOL-x86_64-Media1 (default install as described in the Uyuni Install Guide).

1/
During setup, I see:
[code]
You probably wanted to copy the contents of `/usr/share/postgresql/bash_profile` to `/var/lib/pgsql/.bash_profile`, but just this file name ended up in `/var/lib/pgsql/.bash_profile`.

2/
New config files in `/var/lib/pgsql/data/` are o

[2020-01-08 18:06] mateiw commented on #1356
This is caused by a bug in Salt upstream. There's a [patch](https://github.com/saltstack/salt/pull/55257/files) for this but it's only included in the [openSUSE package](https://build.opensuse.org/package/show/systemsmanagement:saltstack:products:testing:debian/salt).
If you can't use that package I'm afraid you would have to disable the default repos manually.

[2020-01-28 14:57] juliogonzalez commented on #1108
@Conan-Kudo I see https://build.opensuse.org/request/show/709948 is accepted now.

But it's not part of Leap 15.2 or SLE15SP2. Should I submit it, as I did for `createrepo_c`?

[2020-01-28 15:03] Conan-Kudo commented on #1108
@juliogonzalez I believe you'll need to make an SR in IBS to SLE 15 SP2 and then things should move from there.

[2020-01-28 15:04] juliogonzalez commented on #1108
Right, same as I did for `createrepo_c`. Will do it now.

[2020-01-28 16:08] juliogonzalez commented on #1108
Mmmmm, this could prove more problematic than I expected.

For the moment both `rpm` and `python-rpm` are failing for SLE15SP2:

`rpm`:
[code]
`python-rpm`:
[code]
Seems to me I will need to submit something else. Researching what exactly.

[2020-01-28 16:09] juliogonzalez commented on #1108
Most probably https://build.opensuse.org/package/view_file/openSUSE:Factory/zstd/zstd.spec?expand=1

[2020-01-28 16:25] juliogonzalez commented on #1108
Well, zstd gets the package to build for all architectures, except x86_64 and s390x, but I suspect this has something to do with a rebuild going on:

Error is: `nothing provides rpm-config-SUSE needed by rpm`

Will have another look tomorrow.

[2020-02-03 14:24] juliogonzalez commented on #1108
@Conan-Kudo it seems that package is at [openSUSE:Factory](https://build.opensuse.org/package/view_file/openSUSE:Factory/rpm-config-SUSE/rpm-config-SUSE.changes?expand=1) but not at SLE15SP2... and I am failing to understand why.

I could, of course, try a submission of `rpm-config-SUSE` as well, but it's strange it's not at SLE15SP2 as it seems the package is at openSUSE:Factory for at least one

[2020-02-03 14:25] juliogonzalez commented on #1108
Mmmmm, if I added `rpm-config-SUSE` to my internal project, then it fails with:
[code]
Is it me, or we have a circular dependency here?

[2020-02-03 14:25] Conan-Kudo commented on #1108
Shortly after SLE 15 branched from Factory, the SUSE vendor configuration was split out of RPM (... mostly) into a new package `rpm-config-SUSE`. Over time, more of the SUSE-specific stuff will move from RPM from `rpm-config-SUSE`.

For SUSE Linux 15 products, you'll need to craft a specific SR against `rpm` in SLE 15. Branch `rpm` in IBS and make the changes there...

[2020-02-03 14:29] juliogonzalez commented on #1108
I already branched rpm at `IBS` and I am having such problems.

Not sure what you mean. Submitting a previous revision of `rpm` package instead of the most recent one?

https://build.opensuse.org/package/revisions/openSUSE:Factory/rpm <-- rev 272 for example?

[2020-02-03 14:37] juliogonzalez commented on #1108
Strange... I now removed `rpm` and `rpm-config-SUSE` from my internal project... and zstd builds, including `x86_64` and `s390x`.

Weird, maybe something changed during the weekend at the SLE15SP2 codestream.

[2020-02-03 14:37] Conan-Kudo commented on #1108
This is what you need to do internally: https://build.opensuse.org/package/rdiff/home:Pharaoh_Atem:branches:SUSE:SLE-15-SP2:GA/rpm?linkrev=base&rev=2

[2020-02-03 14:51] juliogonzalez commented on #1108
Ok, so this change itself is NOT at `openSUSE:Factory` as I expected. That's why I had problems.

Or better said, at `openSUSE:Factory` we have:
```--enable-zstd \```

But we don't have
```BuildRequires:  libzstd-devel```

How is it that we miss the `BuildRequires` at `openSUSE:Factory` is it provided by any other package?

[2020-02-03 15:00] Conan-Kudo commented on #1108
In the Factory package, it's being pulled in by the `BuildRequires: pkgconfig(libzstd)` line.

[2020-02-03 15:01] juliogonzalez commented on #1108
ACK. I just wanted to understand.

As for the SLE15SP2 submission, so far it's building fine on my branch. I will start with the submission soon.

[2020-02-03 15:43] juliogonzalez commented on #1108
Submission done. I added an explanation of why we needed and why the change is not at Factory. If we are lucky, they will accept it, but I am not sure when exactly it will get into Leap 15.2.

[2020-02-05 09:36] juliogonzalez commented on #1108
In the end, the submission I done was revoked (there was another one adding the support for Leap > 15.0, but I requested to add it for SLE15SP2 as well).

It's on Staging, so hopefully it will get approved soon, and that will create a SR for Leap 15.2

[2020-02-05 15:08] megamaced commented on #1200
Cobbler sync still broken in 2020.01. Log attached

After the upgrade I reran configure-tftpsync.sh on server and proxy

[cobbler.log](https://github.com/uyuni-project/uyuni/files/4160214/cobbler.log)

[2020-02-07 17:01] paususe opened #1879 "[GSoC] Add KDE support"
(This is a copy of https://github.com/openSUSE/mentoring/issues/128 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)

**Project Title:** Add KDE support

**Description:** Uyuni is mostly used to manage Linux servers but why not use it to manage Linux desktops?

KDE provides a number of files that can be tuned and tweak

[2020-02-07 17:02] paususe opened #1880 "[GSoC] Convert Virtual Systems page to ReactJS"
(This is a copy of https://github.com/openSUSE/mentoring/issues/124 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)

**Project Title:** Convert Virtual Systems page to ReactJS

**Description:** The Uyuni web interface is mostly implemented based on aging technologies like JSP while the new pages are written in ReactJS

[2020-02-07 17:10] paususe opened #1881 "[GSoC] Improve Uyuni Documentation Publishing Theme"
(This is a copy of https://github.com/openSUSE/mentoring/issues/125 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)

**Project Title:** Project title, short enough to catch attention

**Description:** Use our existing Antora theme to learn our publishing process. Then with input from our team, design a modern, classy

[2020-02-07 17:13] paususe opened #1882 "[GSoC] Breakdown Uyuni into plugins architecture"
(This is a copy of https://github.com/openSUSE/mentoring/issues/126 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)

**Project Title:** Breakdown Uyuni into plugins architecture

**Description:** Idea is to evaluate different options to breakdown Uyuni. It could be either based on [OSGi](https://www.osgi.org/), [pf4j/

[2020-02-07 17:14] paususe opened #1883 "[GSoC] Enhance Debian and Ubuntu support"
(This is a copy of https://github.com/openSUSE/mentoring/issues/127 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)

**Project Title:** Enhance Debian and Ubuntu support

**Description:** Uyuni currently supports Ubuntu officially as a Salt client. Debian is not officially supported. This project is about implementing

[2020-02-10 13:27] scheurer13 opened #1896 "cobbler login failed"
Can´t do an autoinstall "create distribution" or sync cobbler with web gui

Uyuni release 2020.01 - OpenSUSE Leap 15.1

error tomcat log:
`10-Feb-2020 10:24:01.271 SEVERE [ajp-nio-0:0:0:0:0:0:0:1-8009-exec-5126] org.apache.catalina.core.StandardWrapperValve.invoke Servlet.service() for servlet [action] in context with path [/rhn] threw exception [java.lang.RuntimeException: com.redhat.rhn.manager.

[2020-02-13 09:49] vampywiz17 opened #1910 "Strange thing after update latest stable release"
Hello there,

After i update latest stable release from 4.0.2 to 2020.01 (update repo->zypper update>db schema update) I get this if i run zypper update again:

[code]

[2020-02-13 09:59] mcalmer commented on #1910
what does "zypper dup" show you?

[2020-02-13 10:00] vampywiz17 commented on #1910
[code]

[2020-02-13 10:03] mcalmer commented on #1910
what lucene version do you have installed?
The vendor change is ok. I just wonder how we made it to be "openSUSE" in the first release.

@juliogonzalez did we not "ship" our version of lucene in our repos? Any idea why Uyuni-release was from vendor "openSUSE" before?

[2020-02-13 10:29] vampywiz17 commented on #1910
I do Solution 2, now is better. Now zypper update say:

zypper update
Loading repository data...
Reading installed packages...

The following 7 package updates will NOT be installed:
  apache-commons-cli libgsasl-lang libgsasl7 libntlm0 lucene postgresql-jdbc python3-pygit2

[2020-02-13 14:13] juliogonzalez opened #1912 "Can't bootstrap minimal installations of Debian or Astra Linux CE"
As the `python3-apt` package is missing, and it's required (Ubuntu has it by default).

If you bootstrap from WebUI you will see:
[code]
Thanks to @meaksh we discovered that it is true that `entry['file']` is `StrictUndefined`.

`pkg.list_repos` (above at the sls file) REQUIRES `python3-apt` (or python-apt for old systems) installed BEFORE this step (disabling repos) can work.

Such packages are n

[2020-02-13 17:29] juliogonzalez commented on #1910
@mcalmer I see it here (Master project) https://build.opensuse.org/package/show/systemsmanagement:Uyuni:Master:Other/lucene

And here (Stable 2020.01 reposoitories): https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/noarch/lucene-2.4.1-2.2.uyuni.noarch.rpm

And this is not new, you can see lucene at the snapshot repository of 4.

[2020-02-13 17:37] juliogonzalez commented on #1763
@keichwa I'd say this is the same situation for SUSE Manager, right?

We don't have an "Installation and Troubleshooting guide" anymore.

If you confirm, I think I can quickly fix this one.

[2020-02-14 07:08] keichwa commented on #1763
I'm confirming, thanks!

[2020-02-14 10:18] mcalmer commented on #1910
@vampywiz17 So you should have the correct lucene package somewhere. Maybe a vendor change or downgrade requirement prevent zypper from presenting you a correct solution.

What does:

`$> zypper se -s lucene`
and
`$> zypper lr -u`
return?

[2020-02-17 12:22] paususe commented on #1495
Nicola is already working on this in https://github.com/uyuni-project/uyuni/pull/1917

[2020-02-17 12:22] #1495 closed

[2020-02-18 12:08] keichwa opened #1926 "configure-proxy.sh suitable for uyuni?"
Create and Populate Configuration Channel rhn_proxy_config_1000010001?::
Accept default ``Y``.

SUSE Manager Username::

@juliogonzalez This is not about the Web UI.  Here we are trying to run the configure-proxy.sh script.  Is this considered to work with Uyuni?  Now trying and it prints:
[code]
All this needs serious re-testing.  We should fix or re-write this with a separate PR.

_Originally po

[2020-02-18 12:14] juliogonzalez commented on #1926
I am pretty sure this was working for 4.0.0.

Is the instance **registered** at the Uyuni Server?

[2020-02-18 13:19] paususe commented on #1275
Does this still happen with Uyuni 2020.01 and the updated python2-zmq packages from EPEL?

[2020-02-19 12:37] vampywiz17 commented on #1910
@mcalmer

[code]

[code]

[2020-02-19 14:20] mcalmer commented on #1910
Looks good so far. The correct lucene package is installed.
For lucene the message just means "there is a higher version available but there are reason to not update to it". The reason is, that our software require the older version. So this is ok.

I cannot say much about the other packages.

Is `zypper dup` still complaining?

[2020-02-19 16:15] brejoc commented on #1275
This should be fixed now: https://bugzilla.redhat.com/show_bug.cgi?id=1789889

I'm closing this. @hunter86bg, please re-open this issue if you still run into problems after the fixed build was pushed to EPEL.

[2020-02-19 16:15] #1275 closed

[2020-02-20 10:44] vampywiz17 commented on #1910
@mcalmer

[code]

[2020-02-20 12:50] mcalmer commented on #1910
Perfect. Problem solved. I think we can close this now.

[2020-02-20 12:50] #1910 closed

[2020-02-20 23:37] paususe opened #1936 "[GSoC] Amazon Linux 2 support"
(This is a copy of https://github.com/openSUSE/mentoring/issues/132 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)
**Project Title:** Amazon Linux 2 support

**Description:** Uyuni supports many Linux clients (openSUSE, CentOS, SUSE Linux Enterprise, Red Hat Enterprise Linux, etc). Let's add one more: Amazon Linux 2.

[2020-02-20 23:37] paususe opened #1937 "[GSoC] Windows client support"
(This is a copy of https://github.com/openSUSE/mentoring/issues/133 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)
**Project Title:** Windows client support

**Description:** Uyuni supports many Linux clients (openSUSE, CentOS, SUSE Linux Enterprise, Red Hat Enterprise Linux, etc). Adding support for managing Windows

[2020-02-21 09:38] phibid opened #1938 "Software updates available not being refreshed on Uyuni web UI"
Hi,

After a fresh install of the last stable Uyuni server version 2020.01, I have made some tests registering various clients OS with Salt method following the Uyuni documentation.

In the case of at least CentOS 8 and OpenSuse 15.1, once the servers are registered into Uyuni, I can see the list of available updates in the Web UI. However, after having patched them, the list of available updates

[2020-02-21 10:31] phibid opened #1939 "Missing dependencies on CentOS 8 bootstrap repo"
Hi,

The execution of the bootstrap script for CentOS 8 salt client is failing due to the following missing dependencies:

python3-chardet
python3-urllib3
python3-pytz

Steps to reproduce:

1 - Create the bootstrap channel for CentOS 8 (note that CentOS 8 baseOS and AppStrean repositories are in sync in Uyuni server)

[code]

2 - Execute the bootstrap script previously generated from the Uyuni Web

[2020-02-25 20:49] paususe commented on #1939
Problem seems to be `python3-salt` unconditionally requires `python3`. On RHEL8 and clones, it should not, as the minimal Python interpreter provided by the platform is enough.

https://build.opensuse.org/package/view_file/systemsmanagement:saltstack:products:testing/salt/salt.spec?expand=1

line 555: Requires: python3

[2020-02-25 20:58] paususe opened #1956 "Formula to configure ReaR"
Relax-and-Recover (ReaR) is the de facto standard generic (bare metal) disaster recovery framework for all kind of Linux systems. ReaR is in common use by admins for disaster recovery on thousands and thousands of Linux server systems.

There were a couple of talks about ReaR at FOSDEM 2020:
* Relax-and-Recover (ReaR) Basics
  https://fosdem.org/2020/schedule/event/basicrear/
* Relax-and-Recover (

[2020-02-26 19:16] cbbayburt commented on #1939
Hi,

`mgr-create-bootstrap-repo` takes a list of arguments as extra package names to be included.

You can try it like:
[code]

[2020-02-27 09:34] phibid commented on #1939
Hi,

Thanks for the tip, working like a charm.

This is indeed in the command help, did not notice it:

[code]

[2020-02-27 09:45] phibid opened #1962 "Apt update notifications on Uyuni client"
Hi,

While executing "apt update" command on an Ubuntu client 18.04 registered through salt method on Uyuni 2020.01 server, those notification messages appear:

[code]

They are harmless and do not prevent the installation of the patches, but this is not really pretty,

The "N: Skipping acquire of configured file  .... doesn't support architecture 'i386'" message can be easily mitigated by adding

[2020-02-27 13:31] sundowner69 commented on #1200
Not sure but I think it is related to the MultipartPostHandler.py script from the susemanager-tftpsync package. Looks like the script is still python2 bound. It uses request.get_data() which is deprecated in python 3.6. If you call its __main__ part with python3 it throws an exception...
Can you please check and confirm?

[2020-02-27 13:51] mcalmer commented on #1200
We still find from time to time places which do not work with python3.

@meaksh what is your take on this? https://github.com/uyuni-project/uyuni/blob/master/tftpsync/susemanager-tftpsync/MultipartPostHandler.py

[2020-02-27 17:49] #1939 closed

[2020-03-11 16:07] gnuninu commented on #1356
Hi,
Problems reported here are addressed by #PR1917

[2020-03-11 16:08] gnuninu commented on #1356
Problems reported here are addressed by PR #1917

[2020-03-11 16:08] #1356 closed

[2020-03-11 16:20] paususe commented on #1962
@mateiw This was also mentioned in https://github.com/SUSE/spacewalk/issues/6562

[2020-03-11 16:26] paususe commented on #1938
This is expected and there's work in progress to fix it (there are several PRs open). It should be fixed in the next release of Uyuni in a few weeks.

[2020-03-11 16:46] phibid commented on #1938
Thanks for the info. To which PRs are you referring to ? I could not find them.

[2020-03-11 16:47] mateiw opened #2007 "Not possible to generate bootstrap repo for SLES 15 SP1"
I have an Uyuni server (devel version) where I synced only SLES 15-SP1 from SCC.
However when I try to generate the boostrap repo with `mgr-create-bootstrap-repo` it doesn't show SLES 15-SP1 as a target. I have the Uyuni client tools synced and I tried with option `--with-custom-channels` and without it but in both cases I get the same result, empty output.
The culprit seems to be the data in `mgr

[2020-03-11 16:47] mateiw commented on #2007
CC: @mcalmer

[2020-03-11 22:25] paususe commented on #1896
@mateiw
Do you think this may have any relation with https://github.com/uyuni-project/uyuni/pull/1992 ?

[2020-03-11 22:28] paususe commented on #1938
https://github.com/uyuni-project/uyuni/pull/1868 (merged)
https://github.com/uyuni-project/uyuni/pull/1769 (merged)
https://github.com/uyuni-project/uyuni/pull/1974 (in progress)

and one more that is not yet created because code is still under development.

[2020-03-12 08:19] Bischoff commented on #1896
Task to test this manually on beta 2:
Already existing task to automate this test: #8844

[2020-03-12 08:27] Bischoff opened #2008 "beta 2: manual test for cobbler"
Spin-off of uyuni-project/uyuni#1896

Given that we will probably not make it in time for automating this (task #1439) before GMC:
* [ ] test manually
* [ ] add the test to `manual-cucumber.md`

[2020-03-12 08:27] Bischoff commented on #2008
crap, was not for uyuni

[2020-03-12 08:27] #2008 closed

[2020-03-12 10:51] paususe opened #2009 "[GSoC] Package Uyuni for Debian"
(This is a copy of https://github.com/openSUSE/mentoring/issues/136 to reach a wider audience. Uyuni has applied for Google Summer of Code as under the openSUSE umbrella: https://101.opensuse.org)

**Project Title:** Package Uyuni for Debian

**Description:** Currently, Uyuni is only available and runs on openSUSE Leap. A port to CentOS is in the works. In order to make it more popular, let's pack

[2020-03-13 13:29] hustodemon commented on #1896
@paususe It might be. We have a user who hit a similar issue, so let's see if the ajp configuration resolves the problem.

[2020-03-13 21:47] mateiw commented on #1896
@paususe `cobbler sync` generates the configuration for TFTP, DHCTP, etc. As far as I know it doesn't do any XML-RPC calls to Tomcat.
The Tomcat error seems to happen because there's something wrong with cobbler (`'login failed (admin)' `.
So I don't think it's related to #1992.

[2020-03-16 07:09] keichwa opened #2017 "Formual tab rename"
Aadjust the docs accordingly: update screen shot and string change (Reference Guide and the one where we discuss the Formulas with Forms feature.

_Originally posted by @keichwa in https://github.com/uyuni-project/uyuni/pull/2012#issuecomment-598749729_

[2020-03-17 17:30] keshavg2 commented on #1880
Hi @paususe @cbosdo I'm Keshav gupta from Shri Mata Vaishno devi University Katra Jammu & Kashmir. I have skills of HTML, Css, Javascript, ReactJs and Java. I'm participating in Gsoc this Year. I'm interesting in this project. actually What is the requirements before building this project. and I'm run the command to build the project that will show the error of `zypper command not found`.

[2020-03-18 07:36] cbosdo commented on #1880
Great to see that you are interested.

To setup and develop Uyuni, most of us developers are running openSUSE and `zypper` is the tool to install packages on it. Either you keep on with your linux distro and are almost on your own to setup the development environment or you use an openSUSE and we'll be able to help more.

Just consider that you will need to run Uyuni on a machine of yours. It can

[2020-03-18 16:29] #2007 closed

[2020-03-19 05:08] keshavg2 commented on #1880
I have a 4GB ram of laptop and It will be very difficult to build this project with this RAM. So there will be another project in your Gsoc idea list, which Uyuni does not have to build to complete the project.

[2020-03-19 05:38] its-crypted opened #2031 "update Readme"
The Readme.md file for the UYUNI project need to get updated  [https://github.com/uyuni-project/uyuni](url) The IRC channel links and Mailing list link are displaying 404 error
IRC -  [https://www.uyuni-project.org/contact.html#irc](url)
Mailing list  -   [https://www.uyuni-project.org/contact.html#ml](url)

[2020-03-20 10:46] #1200 closed

[2020-03-20 11:55] #2031 closed

[2020-03-23 12:41] ethantq commented on #1578
I too have this issue with just Fedora 30, Fedora 29 works the properly. Errors below when see adding channels via spacewalk-common-channels command. Having to add each channel separately is also an issue with Fedora30

`
lm3:~ # spacewalk-common-channels -a x86_64 fedora30 fedora30-updates fedora30-modular fedora30-updates-modular
SUSE Manager username:
SUSE Manager password:
ERROR: fedora30-x86_

[2020-03-23 13:53] vmoutoussamy opened #2044 "webpage typos"
at the bottom right of https://www.uyuni-project.org/pages/contact.html, https://www.uyuni-project.org/pages/news.html and https://www.uyuni-project.org/pages/faq.html:
"Links of interes"

And at the bottom right of https://www.uyuni-project.org/, it's "Related links".
So please use just one name, IMHO I would prefer to see "Related links" everywhere

[2020-03-23 18:13] ethantq commented on #1578
I just realized I had not added the GPG key under Systems-> Autoinstallation -> GPG and SSL keys. This should allow the sync to happen, it is interesting that all the other child channels sync for, just not the main one. They all have gpg enabled.

[2020-03-24 11:42] srbarrios opened #2050 "Set-up an Identity Provider"
In case we want to enable Single Sign-On feature in our SUMA Server, we will need to have deployed and configured an IdP.

I suggest adding the possibility in Sumaform to deploy that IdP https://simplesamlphp.org/ in a VM.

[2020-03-24 11:44] #2050 closed

[2020-03-24 11:44] srbarrios commented on #2050
Wrong repo, sorry.

[2020-03-24 11:54] ethantq commented on #1578
Adding the Fedora GPG key did not help. Fedora 30 and 31 main repos are not syncing Updates, Modular and Modular updates are.

[2020-03-24 12:03] ethantq commented on #1626
I just ran into this after migrating systems from Spacewalk to Uyuni and having cloned from a base vm originally.

I deleted the systems from Uyuni ran the below commands and bootstrapped them again to resolve the overwriting issue.

`rm /etc/zypp/credentials.d/NCCcredentials` - Only needed on SUSE SMT/RMT registered machines
`rm -f /etc/machine-id`
`rm -f /var/lib/dbus/machine-id`
`dbus-uuidgen -

[2020-03-24 16:30] juliogonzalez opened #2053 "Pending Astra Linux things"
# Mandatory

- [ ] Client Tools at OBS
- [ ] Add the client tools at OBS to spacewalk-common-channels
- [ ] Documentation (reference: https://github.com/uyuni-project/uyuni/pull/1915)

# Not mandatory

A fix for https://github.com/uyuni-project/uyuni/issues/1912 (also affects Debian)

[2020-03-24 16:37] paususe commented on #1578
@EthanB11 what version of Uyuni? Does your network require a proxy?

[2020-03-24 16:44] juliogonzalez commented on #1763
@keichwa it seems this was fixed by @mantel at https://github.com/uyuni-project/uyuni/blame/master/susemanager/yast/susemanager_congratulate.rb#L37 as part of bsc#1154590, so closing :-)

[2020-03-24 16:44] #1763 closed

[2020-03-24 16:46] juliogonzalez commented on #2044
@vmoutoussamy the correct place for the website issue is at https://github.com/uyuni-project/uyuni-project.github.io (you can create PRs as well).

Anyway, is something quick to fix, so I will go for it now.

[2020-03-24 16:49] #2044 closed

[2020-03-24 16:53] keichwa commented on #1763
On 2020-03-24 17:44, Julio González Gil wrote:

Thank you, both of you!

--
Karl Eichwalder

[2020-03-24 18:48] EthanB11 commented on #1578
2020-03 No proxy, the cogentco repo I tried in Uyuni is also the same one I use in spacewalk. I figured that was the best test.

[2020-03-24 21:03] juliogonzalez commented on #1300
spacewalk-common-channels already takes care of pointing two channels/repos to the same URL:

https://github.com/uyuni-project/uyuni/blob/master/utils/spacewalk-common-channels.ini#L828
https://github.com/uyuni-project/uyuni/blob/master/utils/spacewalk-common-channels.ini#L883

https://www.uyuni-project.org/pages/stable-version.html was also updated.

The doc also uses the correct channel.
https:/

[2020-03-24 21:04] juliogonzalez commented on #1764
@mantel this was a SLE/openSUSE issue at PostgreSQL package, right?

Can we close this?

[2020-03-24 21:05] juliogonzalez commented on #1261
No response, closing.

Feel free to reopen if the problem persists.

[2020-03-24 21:05] #1261 closed

[2020-03-24 21:06] juliogonzalez commented on #1240
@paususe wasn't this fixed already? Can we close?

[2020-03-24 21:08] juliogonzalez commented on #1626
@EthanB11 could you create a quick reference guide with the steps you followed to migrate from Spacewalk?

[2020-03-24 21:08] juliogonzalez commented on #1266
@mbologna any news about this?

[2020-03-24 21:09] juliogonzalez commented on #1277
@hunter86bg, we had 4.0.3, 2020.01 and now 2020.03. Is this still a problem?

[2020-03-24 21:11] juliogonzalez commented on #1182
The site now reads:
[code]
As we removed 4.0 from the URL.

I can confirm https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable/images/repo/Uyuni-Server-POOL-x86_64-Media1/ works, so this should be fine now :-)

[2020-03-24 21:11] #1182 closed

[2020-03-24 21:25] EthanB11 commented on #1626
For what OS? I did mostly centOS, opensuse, and sles 15. They were each slightly different.

[2020-03-25 00:34] Conan-Kudo commented on #1578
This is failing because Zypper in SUSE distributions have no support for [zck-based rpm-md repos](https://fedoraproject.org/wiki/Changes/Zchunk_Metadata) currently. It can't handle the fields or switch over to something else.

[2020-03-25 05:03] hunter86bg commented on #1277
Hey @juliogonzalez ,
I was waiting for your reply before going forward :)
I will try to update this week and give a feedback.

[2020-03-25 10:35] Loquacity commented on #2017
Tracking in https://github.com/SUSE/spacewalk/issues/11051

[2020-03-25 10:35] #2017 closed

[2020-03-25 15:03] EthanB11 opened #2057 "Long running channel-reposync task"
Talked with @paususe on Gitter regarding this issue.

Built new uyuni server last week with openSUSE-Leap 15.1 and Uyuni 2020-03. After adding SLES15 and SLES15 for SAP I noticed none of systems in the non-SAP channels were getting base updates.

`{`
`  "file_|-mgrchannels_repo_|-/etc/zypp/repos.d/susemanager:channels.repo_|-managed": {`
`    "changes": {},`
`    "pchanges": {},`
`    "comment": "

[2020-03-25 15:47] mantel commented on #1764
Yes, we can close this one. The fixed for postgresql has already been released.

[2020-03-25 15:47] #1764 closed

[2020-03-25 15:47] juliogonzalez commented on #1263
Ping @keichwa, is this still relevant after the rewrite you did?

[2020-03-25 15:48] juliogonzalez commented on #1077
Something that got list, but AFAIK we discussed this since last time.

@brejoc we didn't come to any conclusion, am I right?

[2020-03-25 15:50] juliogonzalez commented on #1108
Mmmm, checking where the SR is, as I still can't see the change at https://build.opensuse.org/package/view_file/openSUSE:Leap:15.2/rpm/rpm.changes?expand=1

[2020-03-25 15:53] juliogonzalez commented on #1108
Ok, it was accepted at SLE15SP2, and there's already a SR pending approval for Leap 15.2: https://build.opensuse.org/request/show/787013 :-)

[2020-03-25 15:56] mbologna commented on #1266
Can you please provide more details?
What is the content of /etc/apt/sources.list/* ?

[2020-03-25 15:58] juliogonzalez commented on #271
@ncounter we can close this, right? Do I understand correctly that this was fixed by https://github.com/uyuni-project/uyuni/pull/259?

[2020-03-25 16:22] keichwa commented on #1263
On 2020-03-25 16:47, Julio González Gil wrote:

I think I covered all the rightly mentioned issues.  I'd say we
can close it.

--
Karl Eichwalder

[2020-03-25 16:55] EthanB11 commented on #2057
Support file: https://mega.nz/#!1YknXY4C!HBKASpWCIEu7HH4siRjkTe_78IijDdybany7Qgv8Afo

[2020-03-25 17:08] EthanB11 commented on #1626
Did you accept the salt key? That is a required step.

[2020-03-25 17:56] #1263 closed

[2020-03-25 18:18] EthanB11 opened #2060 "Configuration files options missing"
Uyuni 2020.03 is missing configuration files manageability links in the web interface.

On the Configuration - Overview screen for a system there are missing references to locally managed files in the Configuration Overview and Configuration Actions screens. Also missing ability to add files totally. If I take the url from my spacewalk server and modify it for the uyuni server I can create and dep

[2020-03-25 19:20] EthanB11 commented on #2060
Files are also not deploying properly when adding via workaround posted above. Are locally managed files just supposed to be done from the command line now?

`{`
 ` "file_|-file_deploy_1_|-/etc/security/access.conf_|-managed": {`
 `   "changes": {},`
 `   "pchanges": {},`
`    "comment": "Source file salt://manager_org_1/1000010039/etc/security/access.conf not found in` `saltenv 'base'",`
 `   "na

[2020-03-25 23:38] #1240 closed

[2020-03-25 23:41] paususe commented on #1077
This was actually a bug in EPEL and they fixed it a while ago:

- https://bugzilla.redhat.com/show_bug.cgi?id=1789889
- https://src.fedoraproject.org/rpms/python-zmq/pull-request/6

(notwithstanding that we alread providedy a workaround on our own packaging)

[2020-03-25 23:41] #1077 closed

[2020-03-25 23:46] Loquacity commented on #271
Why is this one closed? I can't see where the docs changes happened?

[2020-03-26 01:02] paususe commented on #2060
I think the problem is that's a Salt minion.

Local config files work on traditional stack clients (system type = Management). For Salt clients (system type = Salt), you need to use state channels.

Centrally-managed configuration channels work on both traditional and Salt clients. You can create a state channel from the main menu > Configuration > Channels > Create State Channel.

https://www.uyu

[2020-03-26 08:47] scheurer13 commented on #1896
This problems appear with an imported certificate. After recreate this with default no more problems. Thanks for help

[2020-03-26 08:47] #1896 closed

[2020-03-26 12:22] EthanB11 commented on #2060
Is the local configuration for salt clients going to change so they are editable from the web interface? I don't understand why it works for centrally managed files vs locally-managed files. It seems like I can just create another centrally managed state and apply it to only one machine. From what you stated above the state channel also seems like it can be applied to multiple machines. What made

[2020-03-26 12:25] brejoc commented on #1077
Yes, it was actually us that fixed this in the EPEL package. Please let me know if you still run into problems.

[2020-03-26 13:28] svgaikwad commented on #1626
Hi Team,
               Thanks for your support
               We did add system to Uyuni

               We are facing a new issue when we upgrade the package
sometime it take very long time to complete a job, but in back end if a
check on the client system I do see package were installed, but in Uyuni it
show has (client not yet Completed the action) it will kind of be in huge
state, can you ple

[2020-03-26 13:44] EthanB11 commented on #1626
What linux distro and version are you managing? What client are you using for your vm's, traditional or salt? Salt would be recommended as the traditional client has time delay where as salt is almost instant.

[2020-03-26 13:49] ncounter commented on #271
@Loquacity I checked some of the changes and they already are in the docs (for instance `Software > Channel List`) but others are not actually (like `Patches > Patch List` is still `Patches > Patches`). No idea why some are in and some not.

Sorry for closing this too early. Reopening. :+1:

[2020-03-26 14:07] mlandres commented on #1578
Not sure which fields you're talking about. If libzypp is 'old' (i.e. without any zck knowledge) it will simply download all files (.gz and .zck). The libsolv parser (repo2solv) will pick whatever it understands. The [repo](http://ftp.halifax.rwth-aachen.de/fedora/linux/releases/30/Everything/x86_64/os) works for me on SLE-12* as well as SLE-15* or TW when added with zypper.

As 'repo2solv' picks

[2020-03-26 14:12] svgaikwad commented on #1626
Hi
     We have a very big environment below r the Linux distro

Uyuni is running on Open SUSE 15
Uyuni version 2020.01

Client distro
Centos - versions 7 to 7.7
Rhel - version 7 to 7.6
SUSE - version 12 sp2 to sp4
Amazon Linux - version one and two

We are using salt

Thanks
Sachin v Gaikwad

On Thu, Mar 26, 2020, 7:15 PM Ethan Bonick <notifications@github.com> wrote:

[2020-03-26 14:16] svgaikwad commented on #1626
Sorry forgot to mention
Issue recently occured on contos 7 and SUSE sp4

On Thu, Mar 26, 2020, 7:15 PM Ethan Bonick <notifications@github.com> wrote:

[2020-03-26 14:38] Conan-Kudo commented on #1578
libsolv has been compiled with zck support since Leap 15.1 in order to support it with DNF. However, libzypp only gained support for zckmd a couple of months ago. The mismatch comes from how libzypp and libsolv interact.

[2020-03-26 14:59] mlandres commented on #1578
Yes, but as I said, older libyzpp versions will simply download both gz and zck. Then the libsolv parser picks what it needs. Newer libzypp will download either gz or zck depending on what libsolv claims to support. Both does not explain the reported error when parsing the data.

According to  the error, libsolv already picked primary.xml.zck for parsing and encountered an error within the data. S

[2020-03-26 15:39] Conan-Kudo commented on #1578
libsolv's decompressor was broken until very recently (cf. [boo#1159314](https://bugzilla.opensuse.org/1159314)). This issue only affected SUSE distributions because libsolv on SUSE doesn't use libzck, and uses an internal implementation.

[2020-03-26 16:01] EthanB11 commented on #1578
libsolv-tools-0.7.10-lp151.2.10.1.x86_64

Tar gzipped file link: https://mega.nz/#!8RtwCIAI!ez8Szc88Zw2C_M2pQmHvgAyCJR2p1R9J4deWEnxhwuQ

[2020-03-26 17:04] juliogonzalez commented on #1912
To reproduce, adjust the software selection as follows:

![image](https://user-images.githubusercontent.com/4226070/77674647-33008c80-6f8c-11ea-8250-2d3a0acd33dc.png)

[2020-03-26 17:12] juliogonzalez commented on #1912
And then you don't get `python3-apt` as you can see:
![image](https://user-images.githubusercontent.com/4226070/77675517-537d1680-6f8d-11ea-884d-1bf42749a5da.png)

[2020-03-26 18:52] mlandres commented on #1578
@EthanB11, the issue @Conan-Kudo mentioned is included in libsolv-tools-0.7.11. An official update is AFAIK not yet available. One could try the update in our devel branch [zypp:SLE-15-SP1-Branch](https://download.opensuse.org/repositories/zypp:/SLE-15-SP1-Branch/openSUSE_Leap_15.1_Update).

The repo however contains just the zypp stack. Updating libsolv-tools and libyzpp from there might conflict

[2020-03-27 01:06] Loquacity commented on #271
We've probably picked some up organically as we've been working on other things. Thanks for clarifying :)

[2020-03-27 09:29] keichwa commented on #1300
@juliogonzalez I reviewed and I think it's fine.  Why do you think we do not need the Proxy Uyuni Installation section?

[2020-03-27 12:47] EthanB11 commented on #1578
I forced just the libsolv-tools and Fedora 30 is syncing now. Just need to change from the mirror list to the mirror I was using in spacewalk due to timeouts with the mirror it picked, but it seems to allow the downloading of packages now.

[2020-03-27 12:51] rpasche opened #2068 "Apply erratas to Debian / Ubuntu systems"
Hi Uyuni,

I just wanted to share my knowledge, of how I'm currently - more or less - able to apply erratas to Ubuntu / Debian systems and this hopefully helps to implement this.

Currently the `aptpkg` salt module is not able to list errata information from repositories, because this information is simply missing for Debian / Ubuntu repositories. (For RPM based repos (and tools) like `zypper`, `y

[2020-03-27 23:37] paususe commented on #2068
Hi Robert

Do I understand it correctly that you have essentially re-implemented `errata.py` in Salt, so `errata.py` is no longer necessary?

[2020-03-27 23:46] paususe commented on #1912
This can be fixed by salt-ssh'ing into the machine and installing the package via a state prior to onboarding, like we are talking for Ubuntu:
https://github.com/uyuni-project/uyuni-rfc/pull/30

[2020-03-27 23:48] paususe commented on #2057
We are looking into this

[2020-03-28 06:12] rpasche commented on #2068
Yes, at least for a salt client. For a traditional client you still need it.

⁣sent from my mobile device​

-------- Originale Nachricht --------
Von: Pau Garcia Quiles <notifications@github.com>
Gesendet: Sat Mar 28 00:37:26 GMT+01:00 2020
An: uyuni-project/uyuni <uyuni@noreply.github.com>
Cc: Robert Paschedag <robert.paschedag@web.de>, Author <author@noreply.github.com>
Betreff: Re: [uyuni-proje

[2020-03-30 07:24] juliogonzalez commented on #1300
@keichwa I just got confused by the reference to `zypper in -t pattern uyuni_proxy` on the setup part.

Closing this issue, as nothing else is pending.

[2020-03-30 07:24] #1300 closed

[2020-03-30 11:09] keichwa commented on #1300
On 2020-03-30 09:24, Julio González Gil wrote:

Ok, thanks for checking, Julio!

--
Karl Eichwalder

[2020-03-31 01:13] #271 closed

[2020-03-31 15:10] bpetru opened #2082 "Enable Autodiscover clients in Prometheus formula in Uyuni 2020.03"
Hi,
I try to configure monitoring with Prometheus, but after I activate **Autodiscover clients** in salt formula the Prometheus server dose not start.

The error is:
`--config.file=\"/etc/prometheus/prometheus.yml\"): parsing YAML file /etc/prometheus/prometheus.yml: yaml: unmarshal errors:\n  line 36: field uyuni_sd_configs not found in type config.plain" (--config.file=\"/etc/prometheus/promethe

[2020-03-31 17:36] EthanB11 opened #2085 "Add Fedora 30/31 clients to build process"
I've gotten clients building on Fedora 30 and Fedora 31.

Fedora 30 OBS repo: https://build.opensuse.org/project/show/home:ethanb11:Fedora_Uyuni:Master:Fedora30-Uyuni-Client-Tools

Fedora 31 OBS repo: https://build.opensuse.org/project/keys_and_certificates/home:ethanb11:Fedora_Uyuni:Master:Fedora31-Uyuni-Client-Tools

[2020-04-01 12:13] EthanB11 opened #2087 "Ubuntu repo sync shows as failed when no new packages are avaliable"
I am getting the following messages in the web interface for failing to sync a repo when it actually has no new updates.

Error | Channel sync failed | Error syncing the channel: Uyuni Client Tools for Ubuntu 18.04 AMD64 | 2020-04-01 02:40:03 CDT
-- | -- | -- | --

Looking at the logs there are just no new packages.

This happens for all Ubuntu 1804 channels, Fedora 29 & 30 channels. These were al

[2020-04-01 12:22] EthanB11 commented on #2087
I am also getting a sync completed message.

Error | Channel sync failed | Error syncing the channel: Ubuntu 18.04 LTS AMD64 Base for Uyuni | 2020-04-01 07:01:14 CDT |   |  
-- | -- | -- | -- | -- | --
Info | Channel sync finished | Channel Ubuntu 18.04 LTS AMD64 Base for Uyuni sync completed | 2020-04-01 07:01:14 CDT

[2020-04-01 12:49] juliogonzalez commented on #2085
Ok, from what I see here, only spacecmd will come from the Git repository, so it can be linked to the parent project.

`obs-service-tar_scm` should be taken from openSUSE:Tools, but if it's not there now, we'll have it at the client tools until it's enabled.

I will review the rest of the packages, but I assume they are not available at Fedora and we need them (even if they are at EPEL, we should

[2020-04-01 13:12] EthanB11 commented on #2085
Sounds good, there is nothing from EPEL. I just copied the CentOS8 Client from OBS and rebuilt them under Fedora repos. I already branched uyuni project and updated the spacewalk-common-channels. I kept the same formatting as other repos, but will wait to put in my pull until I have the new repo urls to verify.

[2020-04-01 14:40] juliogonzalez commented on #2085
Ah, good to know.

Then maybe we don't really need all the dependencies we have at CentOS8 :-)

I am doing some tests right now: first target is getting things to build and adding only the packages we really need.

Second is getting things to install, again adding only the packages we really need.

Whatever is already at Fedora, we won't need it.

One exception (so far): python-tornado, as on Fedo

[2020-04-01 14:53] EthanB11 commented on #2085
We had to write a patch for python due to 3.7 being on fedora and there was a failing asyncio test. We chose to patch it instead of removing it even though we couldn't find any other reference to asyncio. The other option is to delete that test.

[2020-04-01 15:06] juliogonzalez commented on #2085
I see what you mean, a patch for python-tornado, as the package from CentOS8 is failing.

[2020-04-01 15:26] EthanB11 commented on #2085
Sorry, yes that's what I meant. Brain was faster than the fingers and I left out the -tornado. I just updated it so it makes sense now.

[2020-04-01 15:28] EthanB11 commented on #2085
Every other package that failed was just editing the spec file I'm pretty sure to add support where rhel was already listed. I added Fedora >= 30 because 29 and below is out of support.

[2020-04-01 21:43] douglasawh opened #2089 "install docs need a 'sudo' in step 3"
At https://www.uyuni-project.org/pages/stable-version.html there is a sudo at the beginning of the command for many of the commands, but not step 3. Elevated privileges are also needed for step 3.

[2020-04-01 22:09] paususe commented on #2060
Hey @EthanB11

Just a heads-up: we are looking into this, trying to figure out why locally-managed files were not implemented when this feature was developed for Salt minions. If there are no impediments (and so far we have found none), this will be implemented.

[2020-04-01 22:36] paususe commented on #2082
@cavalheiro @renner
Could you please take a look?

[2020-04-01 22:39] paususe commented on #2087
@mcalmer
Do you know what's wrong here?

[2020-04-02 08:37] srbarrios commented on #2082
Might it just be an indentation issue?

[2020-04-02 08:38] srbarrios commented on #2082
Here an example:
[code]

[2020-04-02 09:07] juliogonzalez commented on #2085
Ah, that explains why I see other failures I couldn't explain.

So the packages on your project are not exactly copypacs from CentOS8, but copypacs + changes.

[2020-04-02 09:08] calancha commented on #2082
Using the following configuration (that is, I keep the wrong indentation), it works:
[code]
Here, the SUMA server is the one for testing beta 2, and the monitoring client is a sles15sp2.

[2020-04-02 09:09] calancha commented on #2082
Screenshot of restart service after apply config. above:
![Screenshot from 2020-04-02 11-08-34](https://user-images.githubusercontent.com/13642261/78230932-579bbd80-74d2-11ea-88d7-6d9a587332c2.png)

[2020-04-02 09:10] calancha commented on #2082
Prometheus endpoint after restart service w/ above config.:
![Screenshot from 2020-04-02 11-09-39](https://user-images.githubusercontent.com/13642261/78231031-7bf79a00-74d2-11ea-960a-2cc7d2b43a49.png)

[2020-04-02 09:16] cavalheiro commented on #2082
@mateiw can you take a look at this please?

[2020-04-02 09:50] paususe commented on #2089
Updated, thanks for reporting the issue!

[2020-04-02 09:50] #2089 closed

[2020-04-02 10:47] csabaz commented on #2087
Hi, I have the same problem.

[code]

 When I run it in terminal I receive the following error:

[code]
OS: openSUSE Leap 15.1
Uyuni release: 2020.03

[2020-04-02 12:53] EthanB11 commented on #2085
changed salt.spec in both to make sure python3 was a requirement to salt for Fedora builds.

[2020-04-02 13:43] mcalmer commented on #2087
The value is specified in /usr/share/rhn/config-defaults/rhn_server_susemanager.conf

Please call: `rpm -qf /usr/share/rhn/config-defaults/rhn_server_susemanager.conf`

[2020-04-02 13:45] EthanB11 commented on #2087
foohost:~ # rpm -qf /usr/share/rhn/config-defaults/rhn_server_susemanager.conf
susemanager-tools-4.1.7-1.1.uyuni.x86_64

[2020-04-02 13:47] mcalmer commented on #2087
The last line of that file should be:
[code]
This comes from that package.

[2020-04-02 13:51] EthanB11 commented on #2087
foohost:~ # tail /usr/share/rhn/config-defaults/rhn_server_susemanager.conf
token_refresh_auto_deploy = true

# when re-generating bootstrap repos remove old content first
bootstrap_repo_flush = 1

# data module used for mgr-create-bootstrap-repo
bootstrap_repo_datamodule = mgr_bootstrap_data

# automatically generate all bootstrap repos of synced products
auto_generate_bootstrap_repo = 1

[2020-04-02 16:02] juliogonzalez commented on #2085
Ok, salt is now building at
https://build.opensuse.org/project/show/systemsmanagement:Uyuni:Master:Fedora30-Uyuni-Client-Tools
https://build.opensuse.org/project/show/systemsmanagement:Uyuni:Master:Fedora31-Uyuni-Client-Tools

Not sure yet if it will install without more dependencies, but I am sure we don't need the same we had at CentOS8.

Still: **Do not add the repositories generated by those p

[2020-04-02 16:07] mcalmer commented on #2087
Magic. The value is there as you can see.

[2020-04-02 16:12] mcalmer commented on #2087
Seems we can reproduce it here as well. I will keep you updated when I find out the reason.

[2020-04-03 08:58] juliogonzalez commented on #2085
salt-minion is installed in both cases... as long as the client tools repositories has a manual priority higher than those from Fedora.

For example I added `priority=1`.

So as discussed yesterday, let's not add yet the client tools repos I created for Fedora until we have a solution to enforce salt from Uyuni to be used.

Until now, we'll need to live with salt from Fedora.

@EthanB11 you can go

[2020-04-03 09:01] #2087 closed

[2020-04-03 10:27] rpasche commented on #2068
Please find an updated version of the patch below. It now supports multiple erratas to be applied.

[code]

Example results

[code]

[2020-04-03 13:41] EthanB11 opened #2096 "RHEL bootstrap repos not getting created for Uyuni"
Uyuni 2020.3

Trying to bootstrap RHEL7 from the web results in this error:
file_|-/etc/salt/minion_id_|-/etc/salt/minion_id_|-managed(retcode=2): One or more requisite failed: bootstrap.salt-minion-package service_|-salt-minion_|-salt-minion_|-running(retcode=2): One or more requisite failed: bootstrap./etc/salt/minion_id, bootstrap.salt-minion-package, bootstrap./etc/salt/pki/minion/minion.pub,

[2020-04-03 15:13] EthanB11 commented on #2096
Here is the output of running the bootstrap script locally. It's looking for res-7 when it does not exist.

[code]

[2020-04-06 18:38] juliogonzalez commented on #2096
Can you please try to recreate the bootstrap repository, this time with `-d`,  and paste the log?

Also use `-f`.

[code]
And the rest of the usual parameters.

[2020-04-06 19:13] phibid opened #2103 "HTTP proxy specified in /etc/rhn/rhn.conf not taken by DEB spacewalk-repo-sync module"
Uyuni installed version: 2020.03

All the RPM repositories are being correctly synced though the Web UI, which is not the case of the DEB repos. The synchronisation always ends up with:

`
2020/04/06 20:29:44 +02:00 Command: ['/usr/bin/spacewalk-repo-sync', '--channel', 'ubuntu-1804-amd64-main-uyuni', '--type', 'deb', '--non-interactive']
2020/04/06 20:29:44 +02:00 Sync of channel started.
2020/04

[2020-04-06 19:21] EthanB11 commented on #2096
I can't get it working at all.

I set up the main channel for RHEL as shown here. https://www.uyuni-project.org/uyuni-docs/uyuni/client-configuration/clients-rh.html

**Available Bootstrap Repos**
[code]

**Create bootstrap repo with parent channel**
[code]

[code]

**Create bootstrap repo without parent channel**
[code]

[code]

[2020-04-06 19:29] juliogonzalez commented on #2096
If Red Hat 7 is not even detected, no wonder you can't generate the repository. Even if you force the parent, the bootstrap repo generator will not know what to do.

What's the label of your parent channel? I guess `rhel7-x86_64-server` as per doc, right?

I think I see the problem at https://github.com/uyuni-project/uyuni/blob/master/susemanager/src/mgr_bootstrap_data.py#L1063
[code]
It seems to

[2020-04-06 19:34] EthanB11 commented on #2096
That's correct `rhel7-x86_64-server`. What I would like to see is a common channel structure setup for RHEL like it is for other distros. I understand that the repo's can't be populated, but could the proper base channel and Uyuni client channel be created so give everyone a starting point? I think that would make things alot simpler.

DOH! I should have looked at the mgr_bootstrap_data.py as I wa

[2020-04-06 19:38] EthanB11 commented on #2096
That's correct `rhel7-x86_64-server`. What I would like to see is a common channel structure setup for RHEL like it is for other distros. I understand that the repo's can't be populated, but could the proper base channel and Uyuni client channel be created so give everyone a starting point? I think that would make things alot simpler.

There are rhel-pool-bases that are able to be set up from the

[2020-04-06 19:51] juliogonzalez commented on #2096
That should be doable, yes. The only restriction is that right now we can't use the same labels from channels from SCC and from channels from `spacewalk-common-channels`.

For that, three things are needed:

1) Adding the new parent channels to https://github.com/uyuni-project/uyuni/blob/master/utils/spacewalk-common-channels.ini (one for each RHEL version). Basically the same channel labels you g

[2020-04-06 20:03] EthanB11 commented on #2096
If that's all that is required I will add that to the Fedora repos and just put that all in one PR if that's ok with you?

[2020-04-07 08:54] mcalmer commented on #2096
I can confirm that we should review the redhat bootstrap repos, but I am not sure how many new entries we need.

The problem is, that this was made for SCC and original only for SLES-ES (Expanded Support).
It was enhanced by Native RedHat, Centos for Uyuni, and next would be Centos with SCC data.

All this did not make it easier to understand the structure and we cannot "change" the structure as i

[2020-04-07 09:52] rpasche commented on #2103
Can confirm this error with latest uyuni server.

[2020-04-07 09:53] rpasche commented on #2103
Just manually tried this command and get following error (all updates have been applied)
[code]

[2020-04-07 10:21] mcalmer commented on #2103
Well, the proxy issue is something different. We look into it.

The `AttributeError: AUTO_GENERATE_BOOTSTRAP_REPO` was already reported and is fixed in git. See https://github.com/uyuni-project/uyuni/pull/2094

[2020-04-07 10:39] rpasche commented on #2103
I just commented the `verify` function. Then, I can sync again (at least only checked from CLI). From WebUI, test needs to be done. Also note the TODO line. So I wonder, if this is only "accidently" activated, in case it is really not yet fully implemented.

[code]

[2020-04-07 10:44] rpasche commented on #2103
But I also needed to set an
[code]
setting within `/etc/rhn/rhn.conf`, even with the fix in https://github.com/uyuni-project/uyuni/pull/2094.

Confirmed work of sync also triggered from WebUI:
[code]

[2020-04-07 11:24] mcalmer commented on #2103
In my tests it was working. The old spacewalk config parsing uses namespaces. repo-sync use server.susemanager .

So it take values from rhn.conf without prefix and with prefix server.susemanager.
From config-defaults it uses rhn_server_susemanager.conf as default file.

The problem was, that in deb_src.py the namespace was switched to read proxy values.
The fix switch it back and this should make

[2020-04-07 12:48] EthanB11 commented on #2096
Using a bootstrap from the webserver greatly reduces time to get a server in registered and improves the process for admins. Why wouldn't we want that? I had roughly ten steps I had to log into each server to do to get a system registered on spacewalk. As long as Uyuni has the ability to do this we should be using those features.

I'm pretty sure this is where my `unknown/7` and `unknown/29` boots

[2020-04-07 14:08] phibid commented on #2103
Nothing related to proxy in /usr/share/rhn/config-defaults/rhn_server_susemanager.conf file:

`
uyuni:~ # egrep -v '^$|#' /usr/share/rhn/config-defaults/rhn_server_susemanager.conf
scc_url = https://scc.suse.com
forward_registration = 1
fromdir =
mirror =
virtpoller.cache_file = /var/cache/virt_state.cache
virtpoller.expire_time = 21600
virtpoller.interval = 300
temp_token_lifetime = 60
token_life

[2020-04-07 15:00] mcalmer commented on #2103
@phibid the proxy problem is different. We were able to see it here as well. So we look into it. But may take a bit. There was some new code added which does not take the proxy into account.

[2020-04-07 18:24] rpasche commented on #2103
Found the error. In Debian Release file, there is no more `sha1` checksum present. So the check for this checksum is failing and thus returning an error. In file `/usr/lib/python3.6/site-packages/spacewalk/common/repo.py` changing line 224 to

[code]
(remove `sha1`) fixes the problem.

[2020-04-08 11:30] mateiw commented on #2082
I couldn't reproduce the issue. It works fine for me.
@bpetru could you please post a screenshot of the `Prometheus` formula and the content of the `/etc/prometheus/prometheus.yml` file ?

[2020-04-08 17:06] EthanB11 opened #2112 "Nutanix KVM virtual machines recognized as Hyper-V"
Uyuni 2020.03 on opensuse 15.1

VM's on Nutanix AHV hyper-visor which is based on KVM are being detected as Hyper-V. All virtual machines on AHV but one are showing as virtual, the other one is showing as a bare metal host.

[2020-04-09 08:01] svgaikwad opened #2113 "issue with re-registering server which was deleted without proper de-registration"
Hi Team,
              This set up in on aws we had to recreate servers for some reason.
              And server were deleted without proper de-registration.
              Now when we are trying to add the servers back from web ui bootstrapping it show has successfully added server but we don't see the server in list.
              Note : system id is changed.

Please help us out in fixing this i

[2020-04-09 11:28] paususe commented on #2068
@rpasche
Could you please submit a pull request? It'll be easier to review and manage this that way

Thanks for the contribution!

[2020-04-09 12:38] renner commented on #2057
Let's test it with 4.1 to see if it is real. In this case we will need to fix it.

[2020-04-09 21:04] phibid opened #2115 "Missing python-zmq dependencies while bootstraping CentOS 7 Salt client"
Using Uyuni release 2020.03

While trying to bootstrap a CentOS 7 Salt client, I have the following error:

[code]

The zeromq package picked up during the CentOS 7 bootstrap channel creation is the one from EPEL and not the one from Uyuni Client repo, which breaks afterwards the dependencies during the bootstrap process.

On the Uyuni server, searching for zeromq package, I have the following res

[2020-04-10 06:49] cbosdo commented on #2112
The bug is in the Salt grains. The code figuring out what hypervisor is used is the [`_virtual()` function in the core grains](https://github.com/saltstack/salt/blob/master/salt/grains/core.py#L735).

Could you please provide de outputs of the tools mentioned in this code for the VM? Namely
`systemd-detect-virt`, `virt-what`, `dmidecode`, `lspci`.

Additionally the content of the following files c

[2020-04-10 17:40] phibid commented on #2103
@rpasche I confirm your issue and the fix for Debian repos. Thanks for this. Perhaps that you should create an issue if not already done ?

@mcalmer Ah ok, thought you were talking about mine. Anyway, adding the proxy settings directly at the beginning of /usr/bin/spacewalk-repo-sync just after "import os" is a working workaround in my case:

[code]

[2020-04-11 21:00] hunter86bg commented on #1277
I finaly managed to dedicate some time.
Uyuni is patched to latest 2020.03 .
fresh ubuntu 18.03 installed with ubuntu-18.04.3-live-server-amd64.iso

After bootstrap:
[code]
While Uyuni shows only 62 packages for update.
![ubuntu-different-ammount-of-pkg](https://user-images.githubusercontent.com/22281444/79054794-9ce98900-7c50-11ea-9472-823df44322e6.jpeg)

[2020-04-11 21:01] hunter86bg commented on #1277
Should I rebuild the uyuni and test again ?

[2020-04-13 09:44] phibid commented on #2103
@rpasche Had to remove "md5" too in `/usr/lib/python3.6/site-packages/spacewalk/common/repo.py`, as `debian-10-amd64-main-updates` repo sync were failing otherwise.

[2020-04-13 18:16] rpasche commented on #2103
@phibid really? Have to check this...

[2020-04-14 08:24] mbologna commented on #1277
Can you please attach the output of this command without `wc`?

Can you please list the packages that Uyuni wants to update?

[2020-04-14 12:08] ktsamis commented on #2057
Can we get a definition of done here? What needs to happen for QA? We don't understand the issue :(

[2020-04-15 08:34] TimShaw61 opened #2122 "Display of activation key on bootstrap minion form"
On the bootstrap minions form the selection box for the activation key only displays the key itself and not the associated description/label.  This is unhelpful as no-one can remember the which actual keys relate to the required software sources...

![bootstrapping](https://user-images.githubusercontent.com/17780891/79316239-f9240580-7efb-11ea-9ec6-10e1ae606376.png)

The description or label shoul

[2020-04-15 16:07] phibid opened #2124 "Add python3-M2Crypto package in Opensuse 15.1 bootstrap repository"
Uyuni release 2020.03

Bootstrap an Opensuse 15.1 Salt client is failing due to `python3-M2Crypto` missing package:

[code]

Checking the configuration of the bootstrap repository for opensuse 15.1 in `/usr/share/susemanager/mgr_bootstrap_data.py`, I notice this:

[code]

And on my bootstrap repo, only python3-pycrypto is present. Not sure why there is a pipe between `python3-pycrypto` and `python

[2020-04-15 18:13] hunter86bg commented on #1277
Uyuni wants to patch these (which I expect are really needing a patch):
[code]
And ubuntu18 output is attached as a file.
[1277_ubuntu18_output.txt](https://github.com/uyuni-project/uyuni/files/4482966/1277_ubuntu18_output.txt)

[2020-04-16 08:52] juliogonzalez commented on #2124
It seems this is a leftover from a salt migration, as some versions required one and some others the other.

As of now all SLE15 versions and Leap 15.1 versions require python3-M2Crypto, so I will adjust it.

This will break Leap 15.0 which still requires python3-pycrypto, but it's already EoL for more than 4 months now.

[2020-04-16 09:39] #2124 closed

[2020-04-16 09:39] juliogonzalez commented on #2124
This fix will be part of 2020.04 which I hope to release today.

[2020-04-17 08:29] renner commented on #2057
I guess we could test this with a fresh Uyuni server: add SLES15 and SLES15 for SAP channels and see if any systems "in the non-SAP channels" are getting updates. Then keep an eye on any long running reposync tasks. @EthanB11, it would be great if you could provide some more details, especially:

- Which exact channels were you using when this happened, e.g. which SP of SLES15?
- Where those chann

[2020-04-17 12:17] ggardet opened #2129 "Please build and publish openSUSE Arm packages"
Could we enable builds on Arm for openSUSE Tumbleweed and Leap 15.x and publish them, please?

[2020-04-17 12:25] ggardet opened #2130 "Build and publish openSUSE Leap aarch64 packages for server"
So far, only `x86_64` is supported for the server. Could we enable `aarch64`?
I can help to test on openSUSE `aarch64` systems, if needed.

[2020-04-17 13:08] Bischoff opened #2131 "Let access via `qemu+tcp` to spice interface of sumaformed VMs"
If someone uses
[code]
for example
[code]
he will get access to the list of VMs on that host, but not to the console of any of those VMs if they were created with sumaform, with error message:
[code]

This is because sumaform creates VMs with these options:
[code]

Changing `127.0.0.1` to `0.0.0.0` and restarting the VM solves the issue.

To avoid this issue, would it be possible for sumaform to c

[2020-04-17 13:10] Bischoff commented on #2131
wrong project, sorry

[2020-04-17 13:10] #2131 closed

[2020-04-17 13:15] mbologna commented on #1277
Strangely enough:

[code]

What I see is that the first two packages have the same version and the latter a real different version. Only the latter is included in Uyuni updates.

Let's focus on the problematic ones.
What happens with `dpkg -l adduser` and `apt show adduser | grep Version`?

[2020-04-17 13:51] juliogonzalez commented on #2129
Please create separate cards for Leap 15.X and Tumbleweed (you can use this for one of them). They would be separate projects and separate repositories, and one is faster to do than the other.

Or I can do it, if you don't mind I edit the title and the description of this one :-)

[2020-04-17 16:45] hunter86bg commented on #1277
[code]

[2020-04-17 16:56] mbologna commented on #1277
I am not sure that this is depending on Uyuni at this point.
You have installed 3.116ubuntu1 and `apt` wants to install an update with the very same version.
@juliogonzalez do you have any idea?

[2020-04-17 17:38] hunter86bg commented on #1277
I haven't installed anything so far (excluding the salt bootstrap packages).
Attaching to regular sources.list I've  uncommended ubuntu partner source) we  got:
[code]
It's  definately something with the naming convention in ubuntu/debian, but I don't know to debug it further

[2020-04-17 18:15] mbologna commented on #1277
What happens if you disable Uyuni repos and restore the original ones and try `apt update` and `apt list --upgradeable`?

[2020-04-17 18:40] hunter86bg commented on #1277
The  output  is from my phines  app,  so it might sone formatting issues:

[code]

[2020-04-20 15:12] hunter86bg opened #2141 "spacewalk-common-channels "There's already a defined repository with given url, please reuse it.""
It seems that spacewalk-common-channels has issues when a second repo has the same URL.
Shouldn't it just use the same repo instead of trying to recreate it ?

[code]

[2020-04-21 04:57] hunter86bg opened #2142 "spacewalk-repo-sync traceback when adding --email"
spacewalk-repo-sync tracebacks due to a missing option in the config file:
[code]

In order to fix, you need to add the missing key in /etc/rhn/rhn.conf:
default_mail_from=uyuni@<Uyuni's FQDN>

[2020-04-21 08:19] mcalmer commented on #2142
There should be `web.default_mail_from` defined. I opened a PR to use that address.
Thanks for the report

[2020-04-21 11:25] EthanB11 commented on #2057
I was setting up Uyuni fresh and syncing SLES 15.1, CentOS7, CentOS8, and Ubuntu 18.04. This happened right after setting schedules and pressing sync now for the intial sync as I set up my schedules.

[2020-04-21 14:03] #2142 closed

[2020-04-22 09:49] ggardet opened #2146 "Please build and publish openSUSE Tumbleweed Arm packages for client"
Could we enable builds for client, on Arm (`aarch64` and maybe `armv7` as well) for openSUSE Tumbleweed and publish them, please?

[2020-04-22 09:50] ggardet commented on #2129
Updated this one for Leap and added https://github.com/uyuni-project/uyuni/issues/2146 for Tumbleweed.

[2020-04-22 11:07] juliogonzalez commented on #2141
I think `spacewalk-common-channels` doesn't have the logic for that.

But how did you end up with this? Did you have the ubuntu-1804-amd64-main-security-uyuni URL on another repository that was created manually before using `spacewalk-common-channels`?

If so you can modify the call to `spacewalk-common-channels` to add the channels one by one except the one for security.

By the way, I would not

[2020-04-22 11:07] juliogonzalez commented on #2129
Isn't https://github.com/uyuni-project/uyuni/issues/2130 a duplicate now?

[2020-04-22 11:25] juliogonzalez commented on #2115
Yes, the problem is that the bootstrap repository generator picks the most recent version available on the channels assigned to that OS. So in this case it included `zeromq-4.1.4-6.el7`

So it's not really related to #1275, I'd say. Here the problem seems to be `zeromq` itself.

What does `zeromq-4.1.4-6.el7.x86_64` provides? Maybe `libzmq.so.5' ? That could explain the failure.

For now the only

[2020-04-22 12:09] ggardet commented on #2129
No, I separated client and server components.

[2020-04-22 16:05] hunter86bg commented on #2141
I had no channels before  (fresh install of uyuni) running spacewalk-common-channels.
I had to create them manually (one by one) and those with duplicate repos - selected manually.
I see 'ubuntu-18.04-pool for amd64' and 'Ubuntu 18.04 LTS AMD64 Base for Uyuni'  as  base channels.

Which channels  are you referring to  with 'Stable and Master' ?

[2020-04-22 17:27] EthanB11 commented on #2112
# Output for most vm's

[code]

[code]

# Output for VM showing as bare metal
[code]

[code]

[2020-04-23 08:22] cbosdo commented on #2112
I haven't realized there are two bugs here:
  * The Nutanix VMs that show up as HyperV
  * One that VM that shows up as bare metal

For the first problem, there seems to be something weird in `virt-what` and `systemd-detect-virt`. The proper way to handle it would be to file a bug against [`systemd-detect-virt`](https://github.com/systemd/systemd/blob/9b4f3fa3eacb211c9838dc9e9e85c3eefc53b512/src/b

[2020-04-23 09:16] paususe commented on #2141
@juliogonzalez I have hit that problem too sometimes. I think the problem is when you mix channels with and without "-uyuni".

[2020-04-23 10:22] juliogonzalez commented on #2141
@hunter86bg right, I think your problem happens because you use `ubuntu-1804*`.

Follow: https://www.uyuni-project.org/uyuni-docs/uyuni/client-configuration/clients-ubuntu.html
[code]
You will need to drop the non `-uyuni` channels and repositories.

Problem is: if you use `ubuntu-1804*`, you add the channels that are without `-uyuni`, and those are for SUSE Manager.

[2020-04-24 04:36] rpasche commented on #2103
@phibid You're right. The buster-updates part does only contain `SHA256`.

[2020-04-24 05:00] rpasche commented on #2103
@mcalmer
I can confirm that this error still exists in 2020.04. Trying to sync a debian repo currently seems to freeze.

[code]
[code]
What seems interesting....this seems only to happen for repos (and channels), that are not handled via the "products". All SLES repos (handled by products) are using the proxy successfully. successfully.

But I currently can not confirm this with some Ubuntu repos

[2020-04-24 05:39] rpasche commented on #2103
@mcalmer

It looks the error is simply, that no proxies are given to the `requests.get()` call within `get_pkg_index_raw` in `/usr/lib/python3.6/site-packages/spacewalk/common/repo.py`

[code]
The proxy should be defined an passed to `requests.get` as within `_download` function within `/usr/lib/python3.6/site-packages/spacewalk/satellite_tools/repo_plugins/deb_src.py`

[code]

[2020-04-24 06:10] rpasche commented on #2103
It also looks that the `get_release_index` would also have to be updated with proxy settings

[code]

[2020-04-24 10:00] phibid commented on #2115
Yes this is what I have done, and this is indeed working. EPEL channel removal before the bootstrap repository, solve the initial issue.

However only partially, because the conflicts are still there. If I add EPEL channel afterwards on the registered client, I still run into a package conflict issue. Result of a "yum update"

[code]

[2020-04-24 10:35] vampywiz17 opened #2156 "Centos 7 (Salt) Bootstrap problem"
Hello there,

i bootsraped a centos7 client. set everything (gpg, etc..) but if i try to update i get this:

`[root@hun25-12v ~]# yum update
Loaded plugins: fastestmirror, susemanagerplugin, yumnotify
Repository 'susemanager:centos7-uyuni-client-x86_64': Error parsing config: Error parsing "repo_gpgcheck = 'default'": invalid boolean value
Repository 'susemanager:centos7-x86_64-updates': Error par

[2020-04-25 18:42] phibid opened #2163 "ERROR: relation "rhnactionvirtpoolrefresh" does not exist after upgrade to 2020.04"
Uyuni release 2020.03

I have tried to upgrade to Uyuni 2020.04 via `zypper upgrade`, however I have noticed the following SQL error after the upgrade on rhn_web_ui.log log:

[code]

Knowing that in `schema/spacewalk/common/tables/rhnActionVirtDelete.sql` I can see that the table created is called `rhnActionVirtPoolRefresh`, could it be that there is somewhere a wrong reference to this table in lo

[2020-04-26 00:09] paususe commented on #2156
@admd could you please take a look?

[2020-04-27 08:57] vampywiz17 commented on #2156
Salt get same error on centos client:

[code]

[2020-04-27 10:45] admd commented on #2156
Hi @vampywiz17

If you will set `sign_metadata` property to 0 in `rhn.conf` file then `gpgcheck` and `repo_gpgcheck` will be set to 0 while `pkg_gpgcheck` will depend on `Enable GPG Check` checkbox for a particular channl.

[code]

[2020-04-27 11:35] vampywiz17 commented on #2156
I edit this line in server `var/rhn/rhn.conf,` but i get the same error.

[2020-04-27 13:05] admd commented on #2156
@vampywiz17
Forgot to mention that Pillars needs to be regenerated and for that, in this case, please unassign/assign the channels.

If problem defined in https://github.com/uyuni-project/uyuni/issues/2156#issue-606215402
still persist then if possible do share pillars for that particular minions.

You can get the channels pillar using the following command

`salt <minion.id>  pillar.item channels

[2020-04-27 13:30] vampywiz17 commented on #2156
@admd

Ok now it is working, thx!

The GPG sign will be fixed? Please report it in to this! Thanks a lot!

[2020-04-28 15:11] vampywiz17 commented on #2156
@admd

Unfortunately it not help ... It solve the problem on Centos client, but ubuntu client get this:

`W: An error occurred during the signature verification. The repository is not updated and the previous index files will be used. GPG error: https://hun25-14v.hft.rosenberger.local:443/rhn/manager/download ubuntu-18.04-pool-amd64-uyuni InRelease: The following signatures couldn't be verified be

[2020-04-30 11:43] cbosdo commented on #2112
@EthanB11 Could you please install the `cpuid` tool, run it on a Nutanix VM and paste the output here? No everything is interesting, only the virtualization/hypervisor related pieces.

[2020-05-06 13:02] phibid commented on #2163
Forgot to tell that the main symptom of this error, is an "Unexpected error" popup appearing on the Uyuni main page. Because of that the Uyuni Web UI is hardly usable.

[2020-05-07 15:07] vampywiz17 opened #2190 "Kickstart - How to install salt-minion snippet to Centos 7"
Hello there,

I saw that possible to use snippet in kickstart profile. i would like to use `$SNIPPET('spacewalk/minion_script')` to install salt to my Centos 7. i try to add to to post script section but i get a error on autoinstallation .

How to use this snippet correctly? it possible to add it via web interface or only command line?

[2020-05-08 07:51] vampywiz17 opened #2193 "Add all necessary packages to bootstrap repo (Centos)"
Hello there,

If we want to install/configure salt via bootstrap, we need to add this dependencies:
[code]

Most of them is get to base repo and epel(!!) It not so good, becaouse most of time the (on my infra) bootstraped server can not connect to the internet. It possible to add all neccesarry dependencies to bootstrap repo?

[2020-05-08 08:03] juliogonzalez commented on #2193
What CentOS version?

What version of Uyuni are you using?

I see the packages defined as part of the bootstrap repos for 6 and 7:

https://github.com/uyuni-project/uyuni/blob/master/susemanager/src/mgr_bootstrap_data.py#L252
https://github.com/uyuni-project/uyuni/blob/master/susemanager/src/mgr_bootstrap_data.py#L302

Could be your bootstrap repository is outdated and you need to regenerate it. I

[2020-05-08 08:06] vampywiz17 commented on #2193
I use Centos 7 and Uyuni 2020.04

[2020-05-08 10:07] vampywiz17 commented on #2193
Now i do this:

[code]

It better now, start to install, but when i install it, i get this:

![image](https://user-images.githubusercontent.com/14281430/81395729-7110d480-9124-11ea-8d82-631619879fe5.png)

So one package missing, right?

[2020-05-08 10:27] juliogonzalez commented on #2193
@vampywiz17 see https://github.com/uyuni-project/uyuni/issues/2115

[2020-05-08 11:00] vampywiz17 commented on #2193
@juliogonzalez

Yes, but i can not add the epel, i disable all repos.

if i add epel  via post script it and enable internet access to the VM, it working well. (all other repos, exclode bootrstrap and epel diabled)

So my only problem that one packege need to salt, that only download it with epel repo. I think a workround,  that i download the package to a local webserver. but it not so clean..

[2020-05-08 11:06] juliogonzalez commented on #2193
I think I am missing something here. You should not needed any local repositories enabled on an instance when you are bootstrapping.

Just disable all local repos on the instance before bootstrapping it, and all needed packages will come from the bootstrap repo, as described at https://github.com/uyuni-project/uyuni/issues/2115#issuecomment-618920471

Of course if you then run the update, you will

[2020-05-08 11:09] vampywiz17 commented on #2193
@juliogonzalez

I dont understand... I disable all repos via script https://github.com/uyuni-project/uyuni/issues/2193#issuecomment-625743121 and after i run bootstrap and i get the error...

[2020-05-08 11:43] vampywiz17 commented on #2193
hmm it possible that a problem with boostrap repo.. I try to sync it and get the probem with GPG key.

I try to open the link: https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/CentOS7-Uyuni-Client-Tools/CentOS_7/repodata/repomd.xml.key

but seems to not working...

[2020-05-08 11:47] juliogonzalez commented on #2193
Is EPEL7 a child of the parent channel for CentOS7 at the Uyuni Server?

If that's the case, and the bootstap repository was created with packages from EPEL, I think you will have this problem as well.

Solution: remove EPEL7 or move it out of the CentOS7 tree, regenerate the bootstrap repository (`-f`), then onboard.

On paper you can readd EPEL7 again to the tree after the bootstrap repo regener

[2020-05-08 12:05] vampywiz17 commented on #2193
Yes i think it is the probem!

You help me a little that how to move it ? (i dont want to delete it with spacewalk-remove-channel )

[2020-05-08 12:32] juliogonzalez commented on #2193
I was thinking that changing the parent channel was possible, but just checked on my Uyuni server and that value can't be changed.

So the alternative that should work:

1. Create a new (temporary) parent channel
    * For the values copy the values from the EPEL channel, except for the parent (leave none) and make sure you add `temp-` as a prefix for channel label, name and summary.
2. Attach the

[2020-05-08 13:00] vampywiz17 commented on #2193
@juliogonzalez

I see, it a sad news...

Now i delete the epel repo , regenerate the bootstrap repo and download the epel again. Now the kickstart is working well. (for a while seems to)

I hope you are fix it in the future.

Thanks to the help!!

[2020-05-08 13:23] vampywiz17 commented on #2190
It not relevant anymore, please close it! Thanks!

[2020-05-08 13:23] #2190 closed

[2020-05-08 14:29] juliogonzalez commented on #2193
Glad I could help.

Since we have this problem already at #2115, do you mind if I close this issue?

[2020-05-08 15:03] admd commented on #2141
Do we need to do anything further here or can we close this issue? @juliogonzalez @hunter86bg

[2020-05-08 15:10] admd commented on #2122
Hi @TimShaw61 ,
There is no field `label` and `description` is an optional field so we can't depend on it. Only field which can uniquely identify is key and that's is what we display here.

[2020-05-08 15:14] admd commented on #2113
Hi @svgaikwad,

We will need more information than this. For the future, please always provide the logs alongside the problem description so we can help.

Thank you

[2020-05-08 15:24] tsikkema24 commented on #2163
We are having the same issue after 2020.04 update. And get popup on homepage.

ERROR org.hibernate.engine.jdbc.spi.SqlExceptionHelper - ERROR: relation "rhnactionvirtpoolrefresh" does not exist

[2020-05-08 15:24] admd commented on #2103
Hi @rpasche

Thank you for all these findings. We will have a look. Besides that, PRs are always welcome from the community.

[2020-05-08 16:06] TimShaw61 commented on #2122
Yes, but how is the user supposed to select a key? Are they supposed to just memorise each key and to which OS it refers?  It's ridiculous.  If I were programming this I would either display the key and the description or make the description field mandatory.  In a sense it already has a value because the note below the description input text box states:If left blank, this field will be filled in

[2020-05-08 16:06] juliogonzalez commented on #2141
I'd say it can be closed.

At some point we want to remove the non `-uyuni` repositories from spacewalk-common-channels to managed them from the Setup Wizard. But for now the solution is: follow the doc.

[2020-05-08 16:14] TimShaw61 commented on #2122
Yes, but how is the user supposed to select a key? Just saying that's the only field available isn't enough if the contents of that field make no sense as a selection criterion!

Are they supposed to just memorise each key and to which OS it refers?  It's ridiculous.  If I were programming this I would either display the key AND the description or just the description and make the description fiel

[2020-05-08 16:27] mateiw commented on #2156
@vampywiz17 try the following:
- `mgr-sign-metadata-ctl disable` on the server.
- regenerate the channels metadata: `mgr-sign-metadata-ctl regen-metadata`.
- reasign the channels to the Ubuntu client

[2020-05-08 16:39] juliogonzalez commented on #2163
@cbosdo, I think this is the bug what should get fixed with 2020.05, and replied at
https://lists.opensuse.org/uyuni-users/2020-04/msg00048.html

@phibid @tsikkema24 can you try to run the SQL script and see if it fixes your problem?

[2020-05-08 16:46] juliogonzalez commented on #2122
While not ideal, the activation key list can be opened in parallel, as the description is there:

![image](https://user-images.githubusercontent.com/4226070/81427853-abe22f00-915b-11ea-8f4a-a093be4e7292.png)

Still, FMPOV the activation key name itself should be usually descriptive enough itself.

The problem I see here is that the description is just free text (I am not even sure what the limit i

[2020-05-08 17:03] TimShaw61 commented on #2122
I tend to stick with the activation key as offered when created which is
a long random string although I do make it shorter. I suppose I could
simply tack on something descriptive into the key so

1-23ab48de37fe.... could be changed to

1-CENTOS723ab48de37de... for example

Perhaps this is what everyone does but I've been too stupid to realise
it...

T

Sent from my BlackBerry 10 smartphone on the

[2020-05-08 17:44] tsikkema24 commented on #2163
where is the script file located?

[2020-05-09 16:27] vampywiz17 commented on #2193
Yes, please close it! Thanks!

[2020-05-09 16:38] #2193 closed

[2020-05-11 10:51] juliogonzalez commented on #2122
No, not really. You are using the product on a supported use-case.

But to be honest, since I started using it, I never use that random generation so I completely forgot about it.

I wonder if it makes sense at all having that random generation, and what's the benefit. I think having "human" names makes much more sense.

@ncounter any idea?

[2020-05-12 07:07] vampywiz17 commented on #2156
@mateiw

I will try it.

Any progress to this perma. fix?

[2020-05-12 07:42] cbosdo commented on #2163
indeed that is the same problem. I apologize for messing it up... please run the database upgrade scripts manually. As mentioned in the email, please run the following:

[code]

[2020-05-12 13:12] tsikkema24 commented on #2163
Looks like that did it for me. nothing in the logs yet and homepage loads without issue.

[2020-05-14 12:48] vampywiz17 commented on #2156
@mateiw It working, Thanks! But of course it generate a lot of warnings.... I hope it will fixed soon...

[2020-05-14 12:58] bochi opened #2216 "Better user/role management"
Hi,
this is an enhancement request for the user/role concept of Uyuni.

It would be nice to have more granular roles, or even the possibility to create own roles with more granular permissions.

Examples:
  * Read Only User who can look at systems but not change anything (that was missed by quite a few customers in SUMA already)
  * Users that can apply updates but not change channel assignments o

[2020-05-14 19:35] zwei42 commented on #2156
The problem seems to be in java/code/src/com/suse/manager/webui/services/pillar/MinionGeneralPillarGenerator.java

Starting at line 135 you can see that "default"  is hardcoded in pillar data generation.

      if (ConfigDefaults.get().isMetadataSigningEnabled()) {
            chanProps.put("gpgcheck", chan.isGPGCheck() ? "1" : "0");
            // three state field. yes, no or default

[2020-05-15 07:33] vampywiz17 commented on #2156
@zwei42 where is this file on the installed system?

[2020-05-15 13:04] zwei42 commented on #2156
Nowhere.
This is in the source code.

vampywiz17 <notifications@github.com> ezt írta (időpont: 2020. máj. 15., P,
9:34):

[2020-05-15 13:34] vampywiz17 commented on #2156
@zwei42 Yes, sorry i recognise it after i wrote the comment.

[2020-05-15 16:05] zwei42 commented on #2156
In case of Ubuntu clients, disabling the metadata signing leaves the gpg signatures (Release.gpg).
After updating channel data and generating new Release file,  the signature will be invalid, and will generate plenty of errors on the client.

Release files are located in /var/cache/rhn/repodata/<channelname>/

[2020-05-18 06:44] vampywiz17 commented on #2156
Yeah, now i wait the fix, because i use more Ubuntu with centos . I Hope it fix it soon.

[2020-05-18 10:19] zwei42 commented on #2156
The salt template can also be changed.
I left gpg signing enabled, and  set repo_gpgcheck=0  in
/usr/share/susemanager/salt/channels/channels.repo

This way neither Ubuntu and RedHat clients complain.

[2020-05-18 20:23] vampywiz17 commented on #2156
@zwei42

Good idea, i edit this file. But it start this lines:

[code]

it is no problem?

[2020-05-18 21:27] juliogonzalez commented on #2156
Could work... temporary. As it says, it will be overwritten with a new Uyuni version (that maybe will go out this week).

I wonder if this some kind of regression. I didn't see this bug when I tested CentOS7 months ago (never did any changes to `rhn.conf` nor used `mgr-sign-metadata-ctl`, and I am pretty sure I installed a package as part of the smoke tests.

@admd @mateiw thoughts?

[2020-05-19 06:53] zwei42 commented on #2156
metadata signing  of repo data is not enabled by default   You have to enable it manually with `mgr-sign-metadata-ctl` (...and deb based clients, like Ubuntu, keep complaining without it.)
When enabled , then  _MinionGeneralPillarGenerator.java_   generates the wrong pillar data.
It should be fixed, but until then, this workaround with the salt template can help.

Btw. I think it is not really req

[2020-05-19 14:29] phibid opened #2233 "Salt SSH client re-registration not working because of old SSH public key still present"
Uyuni release 2020.03

Seems that the SSH public key is not correctly removed on the Uyuni server after the removal of a Salt SSH managed client as the attempt of bootstrapping again the server with the same hostname after a reinstallation, fail:

`
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ @ WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED! @ @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

[2020-05-20 19:16] juliogonzalez commented on #2129
@ggardet it seems we have a small problem:https://build.opensuse.org/project/show/systemsmanagement:Uyuni:Master:openSUSE_Leap_15-Uyuni-Client-Tools

There are two repositories now:
- `openSUSE_Leap_15` is based on Leap 15.1
- `openSUSE_Leap_15.0` is based on Leap 15.0

Both have the same problem: dependencies not available, as basic as `rpmbuild`.

It seems to me the packages are not published fo

[2020-05-20 19:32] ggardet commented on #2129
You just need to add `<path project="openSUSE:Leap:15.0:Update" repository="ports"/>` and `<path project="openSUSE:Leap:15.1:Update" repository="ports"/>` in Meta.

[2020-05-21 13:32] phibid opened #2241 "Refreshing repositories on .deb servers through Uyuni proxy very slow"
Uyuni release 2020.03

The "apt update" command  is really slow, around 2 minutes on a server registered with salt-ssh and going through a proxy server:

[code]

[2020-05-22 10:25] rpasche commented on #2163
Can confirm, that this error is gone with 2020.05.

[2020-05-25 06:59] cbosdo commented on #2163
thanks @rpasche for the feedback. Closing the issue then

[2020-05-25 06:59] #2163 closed

[2020-05-25 12:41] ktsamis commented on #2057
Can we close this? Does it work now?

[2020-05-26 23:24] phibid opened #2258 "Installation of Python3-salt break Ansible filter modules"
Uyuni release 2020.05

We are using Ansible as automation code, so we need to have Ansible and Salt to coexist on the Uyuni servers and proxies. Unfortunately there is a conflict with the Python libraries which somehow breaks the use of some YAML parsing filters like ```from_yaml```.

As example, here is a simple use of ```from_yaml``` filter, to get a dictionary from a YAML formatted string:

[co

[2020-05-27 08:45] meaksh commented on #2258
@phibid thanks for reporting this - could it be that when you installed `python3-salt` you also get `python3-PyYAML` or `python3-Jinja2` packages installed and that is breaking the playbook?

Could you please double check which are the versions for those packages before/after you experience the issue?

Thanks in advance!

[2020-05-27 09:17] paususe commented on #1938
Does this still happen with 2020.05?

[2020-05-27 09:20] paususe commented on #2115
I'm going to close this one, since adding an unfiltered EPEL is a known issue as explained in the release notes.

[2020-05-27 09:20] #2115 closed

[2020-05-27 09:23] #2156 closed

[2020-05-27 09:26] mcalmer commented on #2156
I had to have a deeper look into it as we got an official support request and it turned out that yum and zypp behave very different. So I had to split out the configuration and hope it is now fixed.

[2020-05-27 10:33] zwei42 commented on #2156
I got the patch yesterday, applied it, and looks good. :) :)

[2020-05-27 11:24] phibid commented on #2258
I was thinking about those 2 python libraries too, but seems to me that they are using the same one:

On a fresh install of Opensuse 15.1 , all packages updated:

After the installation of Ansible:

[code]

After the installation of Salt (zypper in salt):

[code]

So not sure exactly at which level the installation of Salt broke the Ansible python libraries. Knowing that the result of the command

[2020-05-27 15:12] phibid commented on #1938
Yes it is.

I have updated a Debian 10 5h ago (apt upgrade), and the 14 updates still appear on the Uyuni Web console.

Philippe Bidault | Unix Engineer

Getronics
________________________________
M. 34617301667 | E. Philippe.Bidault@Getronics.com | W. www.getronics.com

Getronics CMC Service Desk Iberia S.L -  VAT No:S.L.: B66686262.
Registered Office - Getronics CMC Service Desk Iberia S.L, C/Ro

[2020-05-27 16:19] phibid commented on #1578
Finally is there a solution regarding this ? I have this exact same error in Uyuni 2020-05 on CentOS 7 for SCLO channel:

[code]

[2020-05-28 07:14] phibid opened #2263 "Uyuni client repo for Ubuntu 20.04 is missing on download.opensuse.org"
```ubuntu-2004-amd64-uyuni-client``` preloaded channel is proposed in ```spacewalk-common-channels```, however the repository is still not present in [https://download.opensuse.org/repositories/systemsmanagement:/Uyuni:/Stable:/](url)

[2020-05-28 10:55] zwei42 commented on #2156
ehh, one issue still remains.
It seems that yum does not use imported gpg keys when checking channel metadata signature.
There is a seaparate trustdb for each channel.
Because of this a gpg key has to be specified for each channels  with "gpgkey=<key url>"

In file /usr/share/susemanager/salt/channels/channels.repo  the following option should be added to the RedHat block:

`gpgkey=https://{{ args

[2020-05-29 14:40] paususe commented on #2263
It's a known issue which we are working on.

Ubuntu is a Salt-only client
Ubuntu 20.04 only ships Python 3.8
No released version of Salt supports Python 3.8 yet

We have backported some Salt master branch patches to enable Salt 3000 with Python 3.8 and will make Salt 3000 available on Leap 15.1 soon.

If that takes longer than expected, then this will be supported in Uyuni 2020.07, which should be

[2020-05-29 14:47] paususe opened #2268 "Migration from spacewalk 2.10 to Uyuni"
We have a number of tools to export data from spacewalk:

https://www.uyuni-project.org/doc/2020.05/release-notes-uyuni-server.html#_spacewalk_utils

* spacewalk-export: export Spacewalk 2.x and Red Hat Satellite 5 data
* spacewalk-export-channels: export Spacewalk 2.x and Red Hat Satellite 5 channels
* spacewalk-final-archive: archive information from a running Spacewalk 2.x and Red Hat Satellite

[2020-05-29 15:05] paususe commented on #2096
Hey @EthanB11

Are you still seeing this with Uyuni 2020.05?

[2020-05-29 15:06] paususe commented on #2112
A fix for this is in the works.

[2020-05-29 15:12] paususe commented on #2216
I agree this would be a useful enhancement.

I have been involved in projects to implement something like this in the past and they are quite complex in terms of analysis (not that much in terms of implementation)

One would need to go over the full functionality of Uyuni and:
1. Determine granularity
2. Determine dependencies (if user is allowed to do this, then he needs to have that too)
3. Dete

[2020-05-29 15:51] EthanB11 commented on #2096
I had edited the local files to force the creation, I just updated to
2020.05 yesterday so I can take a look next week.

On Fri, May 29, 2020 at 10:05 AM Pau Garcia Quiles <notifications@github.com>
wrote:

[2020-06-02 07:02] phibid commented on #2263
Ok, thanks Pau.

I understand that this error I get while trying to register an Ubuntu 20.04 client through salt-ssh is coming from the unsupported 3.8 Python version by Salt then:

/var/tmp/.root_930115_salt/pyall/salt/utils/decorators/signature.py:30: DeprecationWarning: `formatargspec` is deprecated since Python 3.5. Use `signature` and the `Signature` object directly inspect.formatargspec( Tra

[2020-06-04 06:22] brejoc opened #2283 "Package index checksum failure"
2nd part of this issue: https://github.com/uyuni-project/uyuni/issues/2103

https://github.com/uyuni-project/uyuni/issues/2103#issuecomment-610546680
and
https://github.com/uyuni-project/uyuni/issues/2103#issuecomment-618796722

[2020-06-04 07:05] mcalmer commented on #2283
I think you want a 3rd issue for GPG checksum checking? Or do you have already one?

[2020-06-04 07:35] paususe commented on #2112
Implementation:
https://github.com/uyuni-project/uyuni/pull/2273
https://github.com/openSUSE/virtual-host-gatherer/pull/5

[2020-06-04 07:36] paususe commented on #2263
@phibid that's right, it's due to missing Python 3.8 support in Salt 2019.2

[2020-06-04 07:40] paususe commented on #2283
We have this one:
https://github.com/SUSE/spacewalk/issues/9882

[2020-06-04 07:43] mcalmer commented on #2283
Exactly what we need

[2020-06-04 08:04] paususe commented on #1938
On .deb operating systems, this is unfortunately expected since we do have `zyppnotify` and `yumnotify` but there is no `debnotify` notifier beacon yet. Writing one is in our backlog.

[2020-06-04 08:14] paususe commented on #1962
This is probably caused by not having a `debnotify` or `aptnotify`:
https://github.com/SUSE/spacewalk/issues/11561

[2020-06-05 09:51] #2103 closed

[2020-06-05 10:10] phibid commented on #2103
Not sure why this issue is closed, I have the same issue on Uyuni 2020.05:

1 - On file `/usr/lib/python3.6/site-packages/spacewalk/common/repo.py`, line 224 needs to be modified as follow :

`for algorithm in ["sha256"]:`

To allow correct synchronization of Debian/Ubuntu repos

2 - Proxy settings are not taken for .DEB repos, I currently have to add this in file `/usr/bin/spacewalk-repo-sync` as

[2020-06-05 10:12] phibid commented on #2103
Ah ok, I guess that the PRs will be added in the next Uyuni maintenance release.

Not better to let this ticket opened until we validate that this is solved in the next release ?

[2020-06-05 11:16] brejoc commented on #2103
@phibid I've split the issues. The first part about not using the proxy setting was merged to master and so this got closed. The second issue is [this one](https://github.com/uyuni-project/uyuni/issues/2283). There is also a PR with a draft for that: https://github.com/uyuni-project/uyuni/pull/2290

Right! Everything that gets merged now will be in the next release. As soon as a change is tested a

[2020-06-05 11:17] mcalmer commented on #2103
Yes, will be part of 2020.06

No, we will alwas forget and the result is just a lot of open issues which are solved since ages.
When you test it and find out that it is not working, check if the reason is the same and either reopen the issue or create a new one for a different reason.

[2020-06-05 11:19] phibid commented on #2103
Understood, thank you both !

[2020-06-09 09:15] NunoHiggs opened #2312 "Issues first bootstrapping minions: Add with SSH failed with salt permission denied."
Hello all,

I’ve been trying to add several clients – centos 7  and leap 15.1 – to my 2020.05 Uyuni fresh implementation and I am getting on both errors using only ssh.
All of my adds are failing to bootstrap.

It seems to be related to this https://github.com/saltstack/salt/issues/38458.
Is there any workaround?

I am trying to add a new server, bootstrap, using only ssh.

Thanks a lot for your h

[2020-06-16 16:47] douglasawh commented on #804
@Conan-Kudo are there issues for the other pieces that need adapting other than DNF? I am going to be giving a presentation on Uyuni to a largely CentOS-oriented audience. I plan on pointing them to any issues. For now, it's just this one, I think, but it doesn't give much detail on what needs to happen, other than a PR that has already been merged. Thanks!

[2020-06-16 17:08] Conan-Kudo commented on #804
Nope, that's pretty much it. It's the blocker for that and for getting Uyuni to run on CentOS.

[2020-06-16 17:09] Conan-Kudo commented on #804
@douglasawh That's pretty much it. There's some code from Spacewalk that has made this change in git master that can be used as a reference for how to implement it for Uyuni, so it's just a matter of actually writing that code and switching Uyuni over to it. Such a switch won't break Uyuni on SUSE systems since DNF is available there too.

[2020-06-16 21:13] douglasawh opened #2327 "Adding a repo with zypper needs to be covered more fully in install guide"
In regards to https://www.uyuni-project.org/uyuni-docs/uyuni/installation/install-uyuni.html, specifically this section:

This is three separate commands and for people not familiar with zypper it looks like nonsense.

I think this has been done so the text all fits nicely with the right sidebar, which I think is silly, but I understand the decision.

I think this can be resolved by simply changin

[2020-06-17 13:53] mcalmer commented on #804
@douglasawh
Well, I think in addition there is a lot of packaging work to be done. Especially when it comes to java packaging i can think of 2 ways - the easy way and the hard way.

In the easy way, you just take the java packages we provide for SUSE and re-build them for CentOS.
In the hard way, you try to build these packages in the Fedora/RedHat way which is different and maybe more time consum

[2020-06-17 14:28] Conan-Kudo commented on #804
There is literally no way I'm going to do this _without_ getting it integrated into the test apparatus. I don't want it to break all the time, either. I want CentOS/Fedora to be a fully supported server option for Uyuni.

[2020-06-17 14:42] juliogonzalez commented on #2129
There's something more than that, I am afraid. I am working already on it and salt and the packages for traditional are no problem, and the prometheus exporters for aarch64 are not a big problem. But `armv7l` seems to be a different case, as the go packaging for that architecture doesn't seem to include the same things `aarch64` or `armv7l` include.

BTW: is `armv7l` a supported architecture? Yes,

[2020-06-17 14:52] ggardet commented on #2129
`armv7` is a bit behind. go should be fine for Leap 15.2. But it seems you need go1.9 for some packages, which is not available for armv7 in Leap 15.0 and 15.1 for armv7.
Regarding `golang-github-wrouesnel-postgres_exporter` you probably need to update the `architecture.patch` file.

https://software.opensuse.org/distributions/leap does not list `armv7` because there is no ISO to install it, only

[2020-06-17 15:10] juliogonzalez commented on #2129
Regarding golang-github-wrouesnel-postgres_exporter you probably need to update the architecture.patch file.

Problem here is that, at least initially, we wanted to do for Leap the same we do for SLE: build on the first release and use it for all versions (so the tools remain compatible).

Maybe we'll need to change this now that it's clear one of the architectures does not have the same packages

[2020-06-17 15:17] ggardet commented on #2129
As I said `armv7` is behind, so if it does not fit, you can drop it. My primary focus is `aarch64`.

[2020-06-17 15:26] juliogonzalez commented on #2129
I understood, but if you want it for Leap 15.2, either I fix it so it builds on top on Leap 15.2, either we change our system.

But let's do the following: I will enable *only* `aarch64` for now (as I know it works) withing changing anything that will affect existing users, and we'll see later what to do about `armv7l` (and will assume that maybe it will not be ready even for Leap 15.2)

[2020-06-19 13:56] phibid commented on #1578
Please disregard my previous comment. Issue was coming from a wrong URL used, so no relation with the initial issue.

[2020-06-22 11:16] #2283 closed

[2020-06-23 07:53] ZsBT opened #2346 "CentOS 8 AppStream repo modular packages missing"
When using AppStream, package updates from GUI fail due to missing packages. So far I strongly think the related packages (which spacewalk wants to install) are filtered out by DNF.
It doesn't matter whether I enable or disable DNF modules on CentOS 8, the result is the same.
The only way to perform successful updates is to remove AppStream channel and add the repo locally.
Of course it means that

[2020-06-24 09:00] SaberDoTcodeR commented on #2009
Hi Mr @paususe, How can I be a part of this mentorship program?

[2020-06-24 11:21] paususe commented on #2009
Unfortunately Google Summer of Code 2020 is already ongoing and joining is not possible.

If you are interested in contributing to Uyuni, we are always open. Please contact us via the mailing lists, Gitter chat or join our Uyuni Community Hours this Friday:

https://www.uyuni-project.org/pages/contact.html

https://lists.opensuse.org/uyuni-announce/2020-06/msg00002.html

[2020-06-24 11:27] SaberDoTcodeR commented on #2009
Thanks a lot sir.

[2020-06-25 22:53] scomcd opened #2359 "ULN plugin broken in 2020.06"
When attempting to synchronise an Oracle ULN repository, the ULN plugin outputs the following error.

Command:
   # spacewalk-repo-sync --type uln --channel=ol7_x86_64_u8_base --url=uln:///ol7_x86_64_u8_base

Initial error:
  ModuleNotFoundError: No module named 'spacewalk.satellite_tools.ulnauth'

Added missing ulnauth.py from GitHub uyubu-projects satellite_tools:
   /usr/lib/python3.6/site-pack

[2020-06-26 09:38] meaksh commented on #2359
Hey @scomcd , thanks for reporting the issue!

Which version of Uyuni are you running? We fixed the missing `ulnauth` file few months ago and should we included on latest Uyuni releases.

Btw, it seems you're passing a wrong ULN repository url, apparently `--url=uln:///ol7_x86_64_u8_base` is not a valid one.

Could you please try with a real ULN repository? Thanks!

[2020-06-26 12:34] meaksh commented on #2359
@scomcd I noticed you reported on the title that you're running Uyuni 2020.06 release.

In that case, if you upgraded from a previous Uyuni version, maybe the `spacewalk-backend` package didn't get upgraded because of this known issue on 2020.06: https://www.uyuni-project.org/doc/2020.06/release-notes-uyuni-server.html#_python3_psycopg2_and_backend_packages_not_being_updated

You should follow tho

[2020-06-26 13:04] ZsBT commented on #1285
what do you mean by "Uyuni specific salt"?
I've got this problem with latest Uyuni and latest salt minion. According to current docs, the official salt is neccessary.

[2020-06-29 11:53] scomcd commented on #2359
Thankyou meaksh for the advice regarding the known issue. I have installed the python3-psycopg2 pkg and updated the backend as per the instructions.

I'm still confused as to what the correct URL for an Oracle ULN channel should be in Uyuni.
The format "uln:///channel_name" is what we use for our Oracle Spacewalk Server and works on that system.
It is also what Oracle specify in their spacewalk do